<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Assign Student Course</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
        integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
        crossorigin="anonymous" />
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<style>
    .fade2 {
        transform: scale(.9);
        opacity: 0;
        transition: all .2s linear;
    }

    .fade2.show {
        opacity: 1;
        transform: scale(1);
    }

    .modal.fade .modal-dialog {
        -webkit-transition: -webkit-transform 0.3s ease-out;
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
        -webkit-transform: translate(0, -50px);
        transform: translate(0, -50px);
    }

    @media (prefers-reduced-motion: reduce) {
        .modal.fade .modal-dialog {
            -webkit-transition: none;
            transition: none;
        }
    }


    .modal.right .modal-dialog {
        -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
        transform: translate3d(0%, 0, 0);
    }

    .modal.right .modal-dialog {
        position: fixed;
        margin: auto;
        width: 500px;
        max-width: 100%;
        height: 100%;
    }

    .modal.right .modal-content {
        height: 100%;
        overflow-y: auto;
    }

    .modal.right .modal-body {
        padding: 15px 15px 80px;
    }

    .modal.right.fade .modal-dialog {
        right: -500px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
    }

    .modal.right.fade.show .modal-dialog {
        right: 0;
    }

    .modal.right .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-footer-fixed {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #fff;
        border-radius: 0;
    }

    .inputGroup {
        background-color: #fff;
        display: block;
        margin: 10px 0;
        position: relative;
    }

    .inputGroup label {
        padding: 12px 30px;
        width: 100%;
        display: block;
        text-align: left;
        color: #3C454C;
        cursor: pointer;
        position: relative;
        z-index: 2;
        -webkit-transition: color 200ms ease-in;
        transition: color 200ms ease-in;
        overflow: hidden;
    }

    .inputGroup label:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        z-index: -1;
    }

    .inputGroup label:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
        -webkit-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
    }

    .inputGroup input:checked~label {
        color: #fff;
    }

    .inputGroup input:checked~label:before {
        -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
    }

    .inputGroup input:checked~label:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
    }

    .inputGroup input {
        width: 32px;
        height: 32px;
        -webkit-box-ordinal-group: 2;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
    }

    .form {
        padding: 0 16px;
        max-width: 550px;
        margin: 50px auto;
        font-size: 18px;
        font-weight: 600;
        line-height: 36px;
    }


    code {
        background-color: #9AA3AC;
        padding: 0 8px;
    }
</style>

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-exapnd2 icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>Available Courses To Assign
                                    <div class="page-title-subheading">
                                        <div class="d-flex justify-content-center ">
                                            Select College to get list of students and courses available for assigning.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="page-title-actions col-lg-4 col-md-4 col-sm-12">
                                <div class="form-group col-12">
                                    <select class="form-control form-control-sm" id="college"
                                        onchange="getStudentsOfCollege()">
                                        <option value="" selected>Select College</option>
                                        <%colleges.forEach(college => {%>
                                        <option value="<%=college.id%>"><%=college.name%></option>
                                        <%})%>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="card-hover-shadow-2x mb-3 card" style="height: 30rem;">
                                <div class="card-header-tab card-header d-flex justify-content-between">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                        <i class="header-icon fas fa-users">
                                        </i>Students
                                    </div>
                                    <div class="d-inline-block">
                                        <button data-toggle="modal" data-target="#exampleModal1" type="button"
                                            class="btn-shadow btn btn-link">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="fas fa-filter"></i>
                                            </span>
                                            Filter
                                        </button>
                                    </div>
                                </div>
                                <div class="scroll-area-lg">
                                    <div class="scrollbar-container" style="overflow-y: scroll;">
                                        <div class="p-2">
                                            <div id="loader1" style="display: none;">
                                                <img style="width: 100%; height: 17rem;"
                                                    src="/assets/images/loading.gif" alt="">
                                            </div>
                                            <ul id="students" class="todo-list-wrapper list-group list-group-flush">
                                                <li>Select College</li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-8">
                            <div class="card-hover-shadow-2x mb-3 card" style="height: 30rem;">
                                <div class="card-header-tab card-header d-flex justify-content-between">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                        <i class="header-icon fas fa-cart-plus">
                                        </i>Course List
                                    </div>
                                    <div class="d-inline-block">
                                        <button data-toggle="modal" data-target="#exampleModal" type="button"
                                            class="btn-shadow btn btn-info">
                                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                                <i class="pe-7s-plane"></i>
                                            </span>
                                            Customize
                                        </button>
                                    </div>
                                </div>
                                <div class="scroll-area">
                                    <div class="scrollbar-container" style="overflow-y: scroll;">

                                        <div class="p-2">
                                            <div style="display: flex; flex-direction: row;">
                                                <div style="flex: 1; border-right: 3px solid gray;">
                                                    <div class="card-header">
                                                        <h5 style="font-size: 0.8rem;" class="card-heading">
                                                            Assigned Courses
                                                        </h5>
                                                    </div>
                                                    <div id="loader2" style="display: none;">
                                                        <img style="width: 100%; height: 18rem;"
                                                            src="/assets/images/loading.gif" alt="">
                                                    </div>
                                                    <ul class="todo-list-wrapper list-group list-group-flush "
                                                        id="assignedCourses">
                                                    </ul>
                                                </div>
                                                <div style="flex: 1.2;">
                                                    <div class="card-header">
                                                        <h5 style="font-size: 0.8rem;" class="card-heading">
                                                            Available Courses
                                                        </h5>
                                                    </div>
                                                    <div id="loader3" style="display: none;">
                                                        <img style="width: 100%; height: 18rem;"
                                                            src="/assets/images/loading.gif" alt="">
                                                    </div>
                                                    <ul class="todo-list-wrapper list-group list-group-flush"
                                                        id="courses">

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="d-block text-right card-footer">
                                    <button id="assignSelected" style="text-decoration: none
                                    ;" class="btn btn-link">Assign &nbsp; <i class="fas fa-check"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade2 " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        style="display: none;" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="border:4px dashed #cccccc; margin:10px;">
                        <div class="col-md-12 text-center" style="padding:20px;background-color:#f2f2f2">
                            <div class="col-12">

                                <div class="form-group col-12">
                                    <label for="expiresAt" class="text-bold-600 text-danger">* Select Courses expiration
                                        date here</label>
                                    <input name="expiresAt" id="expiresAt" type="date" class="form-control"
                                        autocomplete="off">
                                </div>

                                <div class="col-12">
                                    <br>
                                    <p class="text-dark">By default the Course Expiration date is the Expiration Date of
                                        Course Assigned to College.</p>
                                    <p class="text-info">(you can customize this date as per need)
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade right" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        style="display: none;" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="border:4px dashed #cccccc; margin:10px;">
                        <div class="col-md-12 text-center" style="padding:20px;background-color:#f2f2f2">
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label class="text-dark" for="sname">Search By Name</label>
                                    <input class="form-control" type="text" onkeyup="filter(this)" id="sname">
                                </div>
                                <div class="form-group col-12">
                                    <label class="text-dark" for="sname">Filter By Semester</label>
                                    <select class="form-control form-control-sm" id="semester" onchange="filter2(this)">
                                        <option value="null">All</option>
                                        <option value="semester 1">semester 1</option>
                                        <option value="semester 2">semester 2</option>
                                        <option value="semester 3">semester 3</option>
                                        <option value="semester 4">semester 4</option>
                                        <option value="semester 5">semester 5</option>
                                        <option value="semester 6">semester 6</option>
                                        <option value="semester 7">semester 7</option>
                                        <option value="semester 8">semester 8</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <label>Filter By Specialization</label>
                    <div>
                        <% specializations.forEach(spe => { %>
                        <div class="inputGroup">
                            <input id="option-<%= spe.id %>" value="<%=spe.name %>" name="specs"
                                onchange="filter3(this)" type="radio" />
                            <label for="option-<%= spe.id %>"><%= spe.name %></label>
                        </div>
                        <% }) %>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>

    <script>
        const colors = ["g", "alternate", "info", "success", "primary", "warning", "dark", "secondary", "soft-link", "soft-dark", "soft-info", "soft-warning", "soft-danger", "soft-success", "soft-secondary", "soft-primary"];
        function getStudentsOfCollege() {
            $("#loader1").show();
            const collegeId = $('#college option:selected').val()
            if (!collegeId)
                return
            fetch(`/admin/assignStudentCourse/students/${collegeId}`)
                .then(function (res) {
                    return res.json()
                })
                .then(function (json) {
                    if (json.status == 200) {
                        $("#loader1").hide();
                        $('#students').empty()
                        if (json.data.students.length === 0) {
                            $('#courses').empty()
                            $('#assignedCourses').empty()
                            $('#students').append(` 
                            <br>
                            <br>
                                    <div class="container-fluid">
                                        <article>
                                            <div class="d-flex flex-row justify-content-center">
                                                <img style="width: 200px;" src="../../assets/images/undraw_empty.svg"
                                                    alt="">
                                            </div>
                                            <br>
                                            <div class="d-flex justify-content-center">
                                                <h6 class="">no student found in this college</h6>
                                            </div>
                                        </article>
                                    </div>`)
                        }
                        else {

                            json.data.students.forEach(student => {
                                console.log(student)

                                $('#students').append(`
                            <li id="${student.id}" class="list-group-item mb-3 result" data-spec="${student.specialization}" data-student="${student.id}"
                                style="border: 0; cursor: pointer;" onclick="getCourses('${student.id}')">
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">
                                                ${student.firstName + ' ' + student.lastName}
                                            </div>
                                            <span class="badge badge-sm p-1 badge-${colors[student.semester]}"> Semester ${student.semester}</span></div>
                                        
                                        <div class="widget-content-right">
                                            <span class="badge badge-link  badge-sm p-1">
                                                ${student.specialization}
                                            </span
                                            </div>
                                    </div>
                                </div>
                            </li>
                        `)
                            })
                        }
                    } else {
                        iziToast.warning({
                            message: json.message
                        })
                    }
                })
                .catch(err => console.log(err))
        }

        var student

        function getCourses(studentId) {
            $("#loader2").show();
            $("#loader3").show();
            $("#students li").each(function (n) {
                $(this).css("border-left", "0px");
                $(this).removeClass('shadow-lg')
            });

            $(`#${studentId}`).css("border-left", "3px solid blue")
            $(`#${studentId}`).addClass("shadow-lg")
            student = studentId
            fetch(`/admin/assignStudentCourse/courses/${studentId}`)
                .then(function (res) {
                    return res.json()
                })
                .then(function (json) {
                    if (json.status == 200) {
                        $("#loader2").hide();
                        $("#loader3").hide();
                        $('#courses').empty()
                        $('#assignedCourses').empty()
                        if (json.data.assignedCourses.length === 0) {
                            $('#assignedCourses').append(` 
                            <br>
                            <br>
                                    <div class="container-fluid">
                                        <article>
                                            <div class="d-flex flex-row justify-content-center">
                                                <img style="width: 200px;" src="../../assets/images/undraw_empty.svg"
                                                    alt="">
                                            </div>
                                            <br>
                                            <div class="d-flex justify-content-center">
                                                <h6 class="">No Course assigned to this student</h6>
                                            </div>
                                        </article>
                                    </div>`)
                        }
                        else {
                            json.data.assignedCourses.forEach(course => {
                                $('#assignedCourses').append(`
                                <li id="${course.id}" class="list-group-item mb-3"
                                    style="border: 0; cursor: pointer;">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                    ${course.name}
                                                </div>
                                            <span class="badge badge-danger badge-sm p-1">${ moment(course.expiresAt)}</span>
                                            </div>
                                            <div class="widget-content-right widget-content-actions">
                                                <button onclick="revokeCourseConfirm('${course.assignId}')"
                                                class="btn-sm border-0 btn-transition btn btn-outline-danger">
                                                Revoke&nbsp;<i class="fa fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                
                            `)
                            })
                        }

                        if (json.data.courses.length === 0) {
                            $('#courses').append(` 
                            <br>
                            <br>
                                    <div class="container-fluid">
                                        <article>
                                            <div class="d-flex flex-row justify-content-center">
                                                <img style="width: 200px;" src="../../assets/images/undraw_empty.svg"
                                                    alt="">
                                            </div>
                                            <br>
                                            <div class="d-flex justify-content-center">
                                                <h6 class="">No Course available to assign</h6>
                                            </div>
                                        </article>
                                    </div>`)
                        }
                        else {
                            json.data.courses.forEach(course => {
                                $('#courses').append(`
                                <li id="${course.id}" class="list-group-item mb-3"
                                    style="border: 0; cursor: pointer;">
                                    
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-2">
                                            <div class="custom-checkbox custom-control">
                                                <input type="checkbox" name="courseIds" value="${course.id}" />
                                            </div>
                                        </div>
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                    ${course.name}
                                                </div>
                                                <div class="widget-subheading">Semester ${course.semester}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            `)
                            })
                        }
                    } else {

                        iziToast.warning({
                            message: json.message
                        })
                    }
                })
                .catch(err => console.log(err))
        }

        document.querySelector('#assignSelected').addEventListener('click', function () {

            iziToast.question({
                overlay: true,
                toastOnce: true,
                id: 'question',
                title: 'Hey',
                message: 'Are you sure?',
                position: 'center',
                buttons: [
                    ['<button><b>YES Assign</b></button>', function (instance, toast) {
                        assignSelected()
                        instance.hide({ transitionOut: 'fadeOut' }, toast)
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast);

                    }]
                ]
            });

        })

        const assignSelected = () => {
            const data = {
                courseIds: [],
                studentId: student,
                expiresAt: $('#expiresAt').val()
            }
            const courseIds = $(`input[name="courseIds"]:checked`).each(function () {
                data.courseIds.push(this.value)
            })
            if (!data.studentId)
                return
            if (data.courseIds.length == 0)
                return

            fetch('/admin/assignStudentCourse', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(function (res) {
                    return res.json()
                })
                .then(function (json) {
                    if (json.status === 200)
                        iziToast.success({
                            message: json.message
                        })
                    else
                        iziToast.error({
                            message: json.message || 'Something Went Wrong!'
                        })
                    getCourses(student)
                })
                .catch(err => console.log(err))
        }

        $(document).ready(function () {
            $('#college').select2();
        });
    </script>
    <!-- Script -->

    <script language="javascript" type="text/javascript">
        function filter(element) {
            $('#courses').empty()
            $('#assignedCourses').empty()

            var value = $(element).val();

            value = value.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                return letter.toUpperCase();
            });

            $("#students > li").each(function () {
                if ($(this).text().search(value) > -1) {
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            });
        }

        function filter2(element) {
            $('#courses').empty()
            $('#assignedCourses').empty()

            var value = $(element).val();
            if (value !== "null") {
                value = value.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                    return letter.toUpperCase();
                });

                $("#students > li").each(function () {
                    if ($(this).text().search(value) > -1) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            }
            else {
                $("#students > li").show()
            }
        }
        function filter3(element) {
            $('#courses').empty()
            $('#assignedCourses').empty()

            var value = $(element).val();

            value = value.toLowerCase().replace(/\b[a-z]/g, function (letter) {
                return letter.toUpperCase();
            });

            $("#students > li").each(function () {
                if ($(this).text().search(value) > -1) {
                    $(this).show();
                }
                else {
                    $(this).hide();
                }
            });
        }

        const revokeCourseConfirm = (id) => {
            iziToast.question({
                overlay: true,
                toastOnce: true,
                id: 'question',
                title: 'Hey',
                message: 'Are you sure to revoke?',
                position: 'center',
                buttons: [
                    ['<button><b>YES Revoke</b></button>', function (instance, toast) {
                        revokeCourse(id)
                        instance.hide({ transitionOut: 'fadeOut' }, toast)
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast);

                    }]
                ]
            });
        }

        const revokeCourse = (id) => {
            fetch(`/admin/assignStudentCourse/courses/revoke/${id}`, { method: 'DELETE' })
                .then(res => res.json())
                .then(json => {
                    if (json.status === 200) {

                        iziToast.success({
                            message: json.message || 'Revoked Successfully!'
                        })
                        getCourses(student)
                    }
                }).catch(err => console.log(err))
        }
    </script>

</body>

</html>