<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Inbound PMS</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/assets/img/icon.ico" type="image/x-icon" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/kk_style.css">
    <link rel="stylesheet" href="/assets/css/iziToast.min.css">
    <!-- Fonts and icons -->
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css"
        integrity="sha512-xmGTNt20S0t62wHLmQec2DauG9T+owP9e6VU8GigI0anN7OXLip9i7IwEhelasml2osdxX71XcYm6BQunTQeQg=="
        crossorigin="anonymous" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"
        integrity="sha512-VvWznBcyBJK71YKEKDMpZ0pCVxjNuKwApp4zLF3ul+CiflQi6aIJR+aZCP/qWsoFBA28avL5T5HA+RE+zrGQYg=="
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <%-include('../partials/config')%>

            <!-- header -->
            <%-include('../partials/header.ejs')%>
                <!-- header end -->

                <!-- Sidebar -->
                <%-include('../partials/sidebar.ejs')%>
                    <!-- End Sidebar -->
                    <div class="main-panel">
                        <div class="content">
                            <div class="page-inner">
                                <div class="page-header">

                                    <ul class="breadcrumbs">
                                        <li class="nav-home">
                                            <a href="/admin/dashboard">
                                                <i class="flaticon-home"></i>
                                            </a>
                                        </li>
                                        <li class="separator">
                                            <i class="flaticon-right-arrow"></i>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">Attribute</a>
                                        </li>
                                        <li class="separator">
                                            <i class="flaticon-right-arrow"></i>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">Add New Attribute</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">

                                        <div class="card kk_full_form kk_user_form">
                                            <div class="card-header">
                                                <div class="d-flex align-items-center">
                                                    <h4 class="card-title">Add Attribute</h4>
                                                    <button class="btn btn-primary btn-round ml-auto"
                                                        data-toggle="modal" data-target="#myModal">
                                                        <i class="fa fa-plus"></i>
                                                        Import Attribute
                                                    </button>
                                                </div>
                                            </div>
                                            <form action="/admin/attributeset/add" id="attrForm" method="POST">
                                                <div class="card-body">
                                                    <div class="row">

                                                        <div class="col-md-12">

                                                            <div class="form-group">
                                                                <label>Name<span style="color: red;"> *</span></label>
                                                                <input type="text" class="form-control" name="name"
                                                                    id="name" placeholder="Enter Attribute Name"
                                                                    required>

                                                            </div>
                                                            <div class="form-group kk_data-tag">
                                                                <label>Attribute Value(s)<span style="color: red;">
                                                                        *</span></label>
                                                                <input id="list-values" type="text"
                                                                    data-role="tagsinput" class="form-control"
                                                                    placeholder="Enter Attribute Value(s)" required>
                                                                <input type="hidden" id="setVal" name="tagValues">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-action">
                                                    <button type="submit" class="btn btn-primary mr-3">Submit<i class="fa fa-spinner fa-spin ml-3"></i></button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>

                                    <div class="col-md-1">
                                    </div>


                                    <div class="col-md-5">

                                        <div class="card kk_full_form card-pricing  kk_attribute_set_card">
                                            <div class="card-header">
                                                <div class="d-flex align-items-center">
                                                    <h4 class="card-title">Attribute Set</h4>

                                                </div>
                                            </div>
                                            <div class="card-body">

                                                <ul class="todo-list-wrapper list-group list-group-flush">

                                                    <% attr.forEach((a,index)=>{ %>

                                                        <li class="list-group-item">
                                                            <div class="todo-indicator bg-warning"></div>
                                                            <div class="widget-content p-0"
                                                                style="width: 100% !important;">
                                                                <div class="widget-content-wrapper">
                                                                    <div class="widget-content-left mr-2">
                                                                        <div class="widget-subheading"><b>
                                                                                <%= ++index%>
                                                                            </b>.</div>
                                                                    </div>
                                                                    <div class="widget-content-left">
                                                                        <div class="widget">
                                                                            <a href="/admin/attributesetValue/<%= a.id %>"
                                                                                class="ml-2 text-dark">
                                                                                <strong>
                                                                                    <%=a.name%>
                                                                                </strong>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="widget-content-right widget-content-actions">
                                                                        <button
                                                                            onclick="editValue('/admin/AttributeSet/<%=a.id%>','PATCH','<%=a.name %>')"
                                                                            class="border-0 btn-transition btn btn-outline-primary">
                                                                            <i class="fa fa-edit"></i>
                                                                        </button>
                                                                        <button id="changeStatus-<%=a.id%>"
                                                                            data-original-title="Change Status"
                                                                            data-toggle="tooltip"
                                                                            onclick="changeStatus('<%=a.id%>')"
                                                                            class="border-0 btn-transition btn-link">
                                                                            <i
                                                                                class="fas <%= a.active ? 'fa-toggle-on': 'fa-toggle-off' %>"></i>
                                                                        </button>
                                                                        <button data-original-title="Remove"
                                                                            data-toggle="tooltip"
                                                                            onclick="removeField('<%=a.id%>')"
                                                                            class="border-0 btn-transition btn btn-outline-danger">
                                                                            <i class="fa fa-trash-alt"></i>
                                                                        </button>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </li>

                                                        <% }) %>


                                                </ul>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%-include('../partials/footer.ejs')%>
                            <div class="modal kk_modal_popup_form" id="myModal" data-keyboard="false" data-backdrop="static">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Import Attribute set</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <form action="/admin/addUser/import" method="POST"
                                            enctype="multipart/form-data">
                                            <!-- Modal body -->
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <label class="form-label">Upload File</label>
                                                    <br>
                                                    <label for="et_pb_contact_brand_file_request_0"
                                                        class="et_pb_contact_form_label"></label>
                                                    <input type="file" id="et_pb_contact_brand_file_request_0"
                                                        class="file-upload">

                                                </div>

                                                <div class="form-group kk_down_temp">
                                                    <p class="text-danger">Supported extensions .XLSX</p>
                                                    <button type="button" class="btn btn-primary mb-5">Download
                                                        Template</button>

                                                </div>



                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Import<i class="fa fa-spinner fa-spin ml-3"></i></button>
                                                <button type="button" class="btn btn-danger"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal kk_modal_popup_form fade" id="edit-attribute" style="display: none;"
                                aria-hidden="true" data-keyboard="false" data-backdrop="static">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Edit Attribute</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" class="form-control" id="newname"
                                                    placeholder="Enter First Name">
                                            </div>

                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" id="saveChanges" class="btn btn-primary">Save</button>

                                        </div>

                                    </div>
                                </div>
                            </div>

                    </div>

    </div>
    <!--   Core JS Files   -->
    <script src="/assets/js/clientScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"
        integrity="sha512-VvWznBcyBJK71YKEKDMpZ0pCVxjNuKwApp4zLF3ul+CiflQi6aIJR+aZCP/qWsoFBA28avL5T5HA+RE+zrGQYg=="
        crossorigin="anonymous"></script>
    <!-- jQuery library -->
    <script src="/assets/js/core/jquery.3.2.1.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/core/bootstrap.js"></script>
    <!-- Popper JS -->
    <script src="/assets/js/core/popper.min.js"></script>
    <!-- Atlantis JS -->
    <script src="/assets/js/atlantis.min.js"></script>
    <script src="/assets/js/iziToast.js"></script>
    <script src="/assets/js/flashMessage.js"></script>
    <!-- jQuery UI -->
    <script src="/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script>
        var attrId;
        const editthis = (id, name) => {
            attrId = id;
            $('#newname').val(name);
        }

        $("#attrForm").submit(() => {
            let data = $("#list-values").val().split(',')
            $('#setVal').val(data)
        })

        function changeStatus(id) {
            markStatusOrDelete(`/admin/AttributeSet/${id}`, 'DELETE', 'status', `{"id":"${id}"}`)
        }
        function removeField(id) {
            markStatusOrDelete(`/admin/AttributeSet/remove/${id}`, 'DELETE')

        }


        // $('#saveChanges').on('click', function(){
        //      fetch(`/admin/attributeset/${attrId}`, {
        //         method: 'PATCH',
        //         headers: {
        //             'Content-Type': 'application/json'
        //         },
        //         body: JSON.stringify({
        //             name: $('#newname').val()
        //         })
        //     })
        //         .then(res => res.json())
        //         .then(json => {
        //             if (json.status === 200) {
        //                 iziToast.info({
        //                     message: json.message
        //                 })
        //             } else {
        //                 iziToast.error({
        //                     message: json.message
        //                 })
        //             }
        //         })
        //         .catch(err => {
        //             console.log(err)
        //         })
        // })

    </script>

    <script>
        $(document).ready(function () {
            $('input[type="file"]').on('click', function () {
                $(".file_names").html("");
            })
            if ($('input[type="file"]')[0]) {
                var fileInput = document.querySelector('label[for="et_pb_contact_brand_file_request_0"]');
                fileInput.ondragover = function () {
                    this.className = "et_pb_contact_form_label changed";
                    return false;
                }
                fileInput.ondragleave = function () {
                    this.className = "et_pb_contact_form_label";
                    return false;
                }
                fileInput.ondrop = function (e) {
                    e.preventDefault();
                    var fileNames = e.dataTransfer.files;
                    for (var x = 0; x < fileNames.length; x++) {
                        console.log(fileNames[x].name);
                        $ = jQuery.noConflict();
                        $('label[for="et_pb_contact_brand_file_request_0"]').append("<div class='file_names'>" + fileNames[x].name + "</div>");
                    }
                }
                $('#et_pb_contact_brand_file_request_0').change(function () {
                    var fileNames = $('#et_pb_contact_brand_file_request_0')[0].files[0].name;
                    $('label[for="et_pb_contact_brand_file_request_0"]').append("<div class='file_names'>" + fileNames + "</div>");
                    $('label[for="et_pb_contact_brand_file_request_0"]').css('background-color', '##eee9ff');
                });
            }
        });



    </script>
</body>

</html>