<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Colleges</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<style>
    .dropdown-menu-header {
        color: #fff;
        margin-top: -.65rem;
        margin-bottom: .65rem;
        position: relative;
        z-index: 6;
    }

    .dropdown-menu-header .dropdown-menu-header-inner {
        margin: -1px -1px 0;
        padding: 1.5rem .5rem;
        position: relative;
    }

    .dropdown-menu-header .menu-header-image {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 8;
        opacity: .25;
        filter: grayscale(80%);
        background-size: cover;
    }

    .dropdown-menu-header .menu-header-content {
        text-align: center;
        position: relative;
        z-index: 10;
    }

    .dropdown-menu-header .menu-header-content .menu-header-btn-pane {
        margin-top: 10px;
        margin-bottom: 3px;
    }

    .menu-header-title {
        font-weight: 500;
        font-size: 1.25rem;
        margin: 0;
    }

    .avatar-icon-wrapper {
        display: inline-block;
        margin-right: .1rem;
        position: relative;
    }

    .avatar-icon {
        display: block;
        width: 44px;
        height: 44px;
        transition: all .2s;
        opacity: 1;
        border-radius: 50px;
    }

    .avatar-icon.rounded {
        border-radius: .39rem !important;
    }

    .avatar-icon-lg .avatar-icon {
        width: 54px;
        height: 54px;
    }

    .avatar-icon {
        border: #fff solid 3px;
        overflow: hidden;
    }

    .avatar-icon img {
        width: 100%;
        height: 100%;
    }

    .card>.dropdown-menu-header {
        margin: 0;
    }

    .card>.dropdown-menu-header .dropdown-menu-header-inner {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    [class^="pe-7s-"] {
        display: inline-block;
        font-family: 'Pe-icon-7-stroke';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .pe-7s-config:before {
        content: "";
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
    }

    .lightTitle {
        margin-top: 10px;
        color: #2c2c2c;
        text-align: center;
    }

    .lightSubTitle {
        color: #37355b;
        text-align: center;
    }

    .lightDesc {
        margin-top: 20px;
        color: #333333;
        text-align: center;
    }

    .lightMail {
        margin-top: 20px;
        color: #ffffff;
        text-align: center;
    }

    .lightMailText {
        padding: 5px;
        background-color: #2f9bc1;
    }
</style>

<body>

    <%-include('../partials/config')%>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-university icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>All Colleges
                                    <div class="page-title-subheading">
                                        <div class="d-flex justify-content-center ">
                                            All Registered Colleges.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <% if(Colleges.length === 0) {%>
                        <div class="border col-12">
                            <div class="card-body text-center">
                                <!-- Image -->
                                <img src="/assets/images/undraw_empty.svg" alt="..." class="img-fluid"
                                    style="max-width: 182px;">

                                <!-- Title -->
                                <h1>
                                    No College available
                                </h1>

                                <!-- Subtitle -->
                                <p class="text-muted">
                                    Create a &nbsp;<a style="text-decoration: none;" href="#"><b
                                            class="text-primary">College</b></a> to see details
                                </p>

                                <a href="/admin/addCollege" class="btn btn-primary">
                                    Create College
                                </a>

                            </div>
                        </div>
                        <%} else{%>
                        <!-- college card  -->
                        <%Colleges.forEach(college => {%>
                        <div class="col-md-6 col-sm-12 col-lg-4 col-xl-3 ">
                            <div class="card-shadow-primary card-border mb-3 card"
                                style="min-height: 350px; height: 350px;">
                                <div class="dropdown-menu-header">
                                    <div class="dropdown-menu-header-inner bg-primary">
                                        <div class="menu-header-image"
                                            style="background-image: url('/uploads/collegeLogo/<%=college.logoSource%>');">
                                        </div>
                                        <div class="menu-header-content">
                                            <div class="avatar-icon-wrapper avatar-icon-lg">
                                                <div class="avatar-icon rounded btn-hover-shine">
                                                    <img src="/uploads/collegeLogo/<%=college.logoSource%>"
                                                        alt="College Logo">
                                                </div>
                                            </div>
                                            <div>
                                                <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
                                                    class="menu-header-title"><%=college.name%>
                                                </h5>
                                            </div>
                                            <div class="menu-header-btn-pane">
                                                <a href="/admin/colleges/<%=college.id%>"
                                                    class="mr-2 btn btn-light btn-sm">College Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <p class="lightDesc card-text ">SPOC DETAILS</p>
                                    <p class="lightMail card-text">
                                        <span
                                            class="badge badge-sm badge-dark p-1"><%=college.firstName + ' ' + college.lastName%></span>
                                    </p>
                                    <p class="lightMail card-text">
                                        <span class="badge badge-sm badge-light p-1"><%=college.email %></span>
                                    </p>
                                    <p class="lightMail text-dark card-text">Mobile :
                                        <span class="badge badge-light p-1"><%=college.contactNumber%></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- college card end -->

                        <%})}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
</body>

</html>