<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Infeenity Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/assets/img/icon.ico" type="image/x-icon" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/kk_style.css">
    <!-- <link rel="stylesheet" href="/assets/css/iziToast.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css"
        integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nestable2/1.6.0/jquery.nestable.min.css"
        integrity="sha512-yOW3WV01iPnrQrlHYlpnfVooIAQl/hujmnCmiM3+u8F/6cCgA3BdFjqQfu8XaOtPilD/yYBJR3Io4PO8QUQKWA=="
        crossorigin="anonymous" />

    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

</head>

<body>
    <div class="wrapper">
        <%-include('../partials/config')%>

            <!-- header -->
            <%-include('../partials/header.ejs')%>
                <!-- header end -->

                <!-- Sidebar -->
                <%-include('../partials/sidebar.ejs')%>
                    <!-- End Sidebar -->

                    <div class="main-panel">
                        <div class="content">
                            <div class="page-inner">
                                <div class="page-header">

                                    <ul class="breadcrumbs">
                                        <li class="nav-home">
                                            <a href="/admin/dashboard">
                                                <i class="flaticon-home"></i>
                                            </a>
                                        </li>
                                        <li class="separator">
                                            <i class="flaticon-right-arrow"></i>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">Product Data</a>
                                        </li>
                                        <li class="separator">
                                            <i class="flaticon-right-arrow"></i>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">All Custom Forms</a>
                                        </li>
                                    </ul>
                                </div>
                                <div id="forms" class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="card">
                                                <div class="card-header">
                                                    Form Layout
                                                </div>
                                                <div class="card-body">
                                                    <div class="dd" id="nestable">
                                                        <ol class="dd-list">
                                                            <% data.formData.componets.forEach((component,i)=> { %>
                                                                <li class="dd-item mt-5" data-id="">
                                                                    <div class="dd-handle">
                                                                        <%=++i %>.&nbsp;&nbsp; <%= component.name %>
                                                                                <span
                                                                                    class="badge badge-pill badge-dark"
                                                                                    style="float: right;">
                                                                                    <%= component.type %>
                                                                                </span>
                                                                    </div>
                                                                    <% if(component.subComponents.length){ %>
                                                                        <ol class="dd-list">
                                                                            <%
                                                                                component.subComponents.forEach(subComponent=>
                                                                                { %>
                                                                                <% if(subComponent.type=='tab' ){ %>
                                                                                    <li class="dd-item" data-id="5">
                                                                                        <div class="dd-handle">
                                                                                            <%=subComponent.name%> <span
                                                                                                    class="badge badge-pill badge-info"
                                                                                                    style="float: right;">
                                                                                                    <%= subComponent.type
                                                                                                        %>
                                                                                                </span>
                                                                                        </div>
                                                                                        <ol class="dd-list">
                                                                                            <%
                                                                                                subComponent.tabComponents.forEach(tabComponent=>
                                                                                                { %>
                                                                                                <li class="dd-item"
                                                                                                    data-id="6">
                                                                                                    <div
                                                                                                        class="dd-handle">
                                                                                                        <%=tabComponent.name%>
                                                                                                    </div>
                                                                                                </li>
                                                                                                <% }) %>
                                                                                        </ol>
                                                                                    </li>
                                                                                    <% }else{ %>
                                                                                        <li class="dd-item" data-id="6">
                                                                                            <div class="dd-handle">
                                                                                                <%=subComponent.name%>
                                                                                                    <span
                                                                                                        class="badge badge-pill badge-dark"
                                                                                                        style="float: right;">
                                                                                                        <%= component.type%>
                                                                                                    </span>
                                                                                            </div>
                                                                                        </li>
                                                                                        <% } %>
                                                                                            <% }) %>
                                                                        </ol>
                                                                        <% } %>
                                                                </li>
                                                                <% }) %>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card">
                                                <div class="card-header">Field Group And Field Items</div>
                                                <div class="card-body">
                                                   <div class="row">
                                                    <div class="col-md-6">
                                                        </div>
                                                        <div class="col-md-6">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%-include('../partials/footer.ejs')%>
                    </div>

    </div>


    <!--   Core JS Files   -->

    <!-- jQuery library -->
    <script src="/assets/js/core/jquery.3.2.1.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/core/bootstrap.js"></script>
    <!-- Popper JS -->
    <script src="/assets/js/core/popper.min.js"></script>
    <!-- Atlantis JS -->
    <script src="/assets/js/atlantis.min.js"></script>
    <script src="/assets/js/iziToast.js"></script>
    <script src="/assets/js/flashMessage.js"></script>
    <!-- jQuery UI -->
    <script src="/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nestable2/1.6.0/jquery.nestable.min.js"
        integrity="sha512-7bS2beHr26eBtIOb/82sgllyFc1qMsDcOOkGK3NLrZ34yTbZX8uJi5sE0NNDYFNflwx1TtnDKkEq+k2DCGfb5w=="
        crossorigin="anonymous"></script>


    <!-- jQuery Scrollbar -->
    <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script>
        const form = '<%- JSON.stringify(data.formData) %>'
        const parseform = JSON.parse(form)
    </script>
</body>

</html>