<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Inbound PMS</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/assets/img/icon.ico" type="image/x-icon" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/kk_style.css">
    <!-- <link rel="stylesheet" href="/assets/css/iziToast.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css"
        integrity="sha512-DIW4FkYTOxjCqRt7oS9BFO+nVOwDL4bzukDyDtMO7crjUZhwpyrWBFroq+IqRe6VnJkTpRAS6nhDvf0w+wHmxg=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nestable2/1.6.0/jquery.nestable.min.css"
        integrity="sha512-yOW3WV01iPnrQrlHYlpnfVooIAQl/hujmnCmiM3+u8F/6cCgA3BdFjqQfu8XaOtPilD/yYBJR3Io4PO8QUQKWA=="
        crossorigin="anonymous" />

    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

</head>

<body>
    <div class="wrapper">
        <%-include('../partials/config')%>

        <!-- header -->
        <%-include('../partials/header.ejs')%>
        <!-- header end -->

        <!-- Sidebar -->
        <%-include('../partials/sidebar.ejs')%>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="content">
                <div class="page-inner">
                    <div class="page-header">

                        <ul class="breadcrumbs">
                            <li class="nav-home">
                                <a href="/admin/dashboard">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Product Data</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">All Custom Forms</a>
                            </li>
                        </ul>
                    </div>
                    <% function search(nameKey, myArray){
                        for (var i=0; i < myArray.length; i++) {
                            if (myArray[i].id === nameKey) {
                                return myArray[i].label;
                            }
                        }
                    } %>
                    <div id="forms" class="container-fluid">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card">
                                    <div class="card-header">
                                        Form Layout
                                    </div>
                                    <div class="card-body">
                                        <div class="scroll-area-lg" style="height: 78vh;">
                                            <div id="fieldListArea" class="scrollbar-container ps--active-y ps">
                                                <div class="dd" id="nestable3">
                                                    <ol class="dd-list">
                                                        <%data.formData.componets.forEach((component,i)=> { %>
                                                        <li class="dd-item mb-5" data-id="<%= i++  %>">
                                                            <div class="dd-handle">

                                                                <%=++i %>.&nbsp;&nbsp;<%= component.name %>
                                                                <span class="badge badge-pill badge-dark"
                                                                    style="float: right;">
                                                                    <%= component.type == 'sec' ? 'section' : 'Tab' %>
                                                                </span>
                                                            </div>
                                                            <% if(component.subComponents.length){ %>
                                                            <ol class="dd-list">
                                                                <%component.subComponents.forEach((subComponent,j)=>  { %>
                                                                <% if(subComponent.type=='tab' ){ %>
                                                                <li class="dd-item" data-id="<%= j++ %>">
                                                                    <div class="dd-handle">
                                                                        <%=subComponent.name%> <span
                                                                            class="badge badge-pill badge-info"
                                                                            style="float: right;">
                                                                            <%= subComponent.type == 'sec' ? 'section' : 'Sub-Tab' %>
                                                                        </span>
                                                                    </div>
                                                                    <ol class="dd-list">
                                                                        <%subComponent.tabComponents.forEach(tabComponent=> { %> 
                                                                            <li class="dd-item" data-id="6">
                                                                            <div class="dd-handle">
                                                                                <%=tabComponent.name%>
                                                                                <%=subComponent.name%> <span class="badge badge-pill badge-primary" style="float: right;">
                                                                                    <%= tabComponent.type == 'sec' ? 'sub-section' : 'Tab-Page' %>
                                                                                </span>
                                                                            </div>

                                                                            <% if(tabComponent.pageContent) {%>
                                                                            <ol class="dd-list">
                                                                                <%tabComponent.pageContent.forEach(page=> { %>
                                                                                <li class="dd-item" data-id="6">
                                                                                    <div class="dd-handle">
                                                                                        <input name="component"
                                                                                            class="form-check-input mr-2"
                                                                                            type="radio"
                                                                                            id="sec-<%=page.order %>"
                                                                                            value="<%=page._id %> ">
                                                                                        <%=page.name%>
                                                                                        <a class="btn btn-light badge btn-sm" data-toggle="collapse" href="#multi-<%=page._id%>" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" style="float: right;">
                                                                                            <%= page.AssignedFields.length == 0 ? 'N-A' : page.AssignedFields.length + '  Fields' %>  
                                                                                        </a>
                                                                                    </div>
                                                                                   
                                                                                    <div class="col">
                                                                                        <div class="collapse multi-collapse" id="multi-<%=page._id%>">
                                                                                            <div class="card card-body">
                                                                                                <div class="scroll-area-lg" style="height:300px">
                                                                                                    <div class="scrollbar-container ps--active-y ps">
                                                                                                        <% if(page.AssignedFields.length==0){ %>
                                                                                                            <div class="mx-auto Kk_no_assigned">
                                                                                                                <img class="img-responsive" src="/assets/img/no_field_assigned.png">
                                                                                                                <h4>No Field Assigned
                                                                                                                </h4>
                                                                                                                <h6>Please Assign some Fields</h6>
                                                                                                            </div>
                                                                                                       <% } %> 
                                                                                                        <%page.AssignedFields.forEach(a=>{ %>
                                                                                                            <label class="selectgroup-item m-2">
                                                                                                                <input type="select" 
                                                                                                                    class="selectgroup-input fclass" >
                                                                                                                <span class="selectgroup-button">
                                                                                                                   <%= search(a.fieldId,data.itemFields)  %> 
                                                                                                                </span>
                                                                                                                </input>
                                                                                                            </label>
                                                                                                       <% })  %>  
                                                                                                        
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </li>
                                                                                <% }) %>
                                                                            </ol>
                                                                            <% } %>
                                                                        </li>
                                                                        <% }) %>
                                                                    </ol>
                                                                </li>
                                                                <% }else{ %>
                                                                <li class="dd-item" data-id="6">
                                                                    <div class="dd-handle">
                                                                        <input name="component"
                                                                            class="form-check-input mr-2" type="radio"
                                                                            id="<%=subComponent.type %>-<%=subComponent.order %>"
                                                                            value="<%=subComponent._id %> ">
                                                                        <%=subComponent.name%>
                                                                        <span class="badge badge-pill badge-secondary"
                                                                            style="float: right;">
                                                                            <%= subComponent.type=='sec' ? 'sub-section' : '' %>
                                                                        </span>
                                                                    </div>
                                                                </li>
                                                                <% } %>
                                                                <% }) %>
                                                            </ol>
                                                            <% } %>
                                                        </li>
                                                        <% }) %>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <div class="title">
                                            Field Groups
                                        </div>
                                        <button id="assignSelectedGroup" class="btn btn-sm btn-primary">
                                            Assign Group
                                        </button>
                                    </div>
                                    <div class="card-body">

                                        <% data.itemGroups.forEach(group=> { %>
                                        <label class="selectgroup-item m-2">
                                            <input type="radio" name="itemgroups" id="<%=group._id %>"
                                                value="<%=group.fieldIds %>" class="selectgroup-input fclass">
                                            <span class="selectgroup-button">
                                                <%=group.name %>
                                            </span>
                                        </label>
                                        <% }); %>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <div class="title">
                                            Field Items
                                        </div>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="searchColumn"
                                                id="searchColumn">
                                        </div>
                                        <button id="assignSelectedFields" class="btn btn-sm btn-primary">
                                            Assign Fields
                                        </button>
                                    </div>
                                    <div class="card-body">
                                        <div class="selectgroup selectgroup-pills">
                                            <div class="scroll-area-lg">
                                                <div id="fieldListArea" class="scrollbar-container ps--active-y ps">
                                                    <% data.itemFields.forEach((item,i)=> { %>

                                                    <% if(item.type=='list/record') {%>
                                                    <% if (item.lr != '-' ) { %>
                                                    <label class="selectgroup-item m-2">
                                                        <input type="checkbox" name="itemfields"
                                                            id="field-<%=item.id %>" value="<%=item.id %>"
                                                            class="selectgroup-input fclass"
                                                            <%=data.formData.allFields.includes(item.id) ? 'checked disabled' : '' %>>
                                                        <span class="selectgroup-button">
                                                            <%=item.label %>
                                                        </span>
                                                        </input>
                                                    </label>
                                                    <%}%>
                                                                    <% }else{%>
                                                    <label class="selectgroup-item m-2">
                                                        <input type="checkbox" name="itemfields"
                                                            id="field-<%=item.id %>" value="<%=item.id %>"
                                                            class="selectgroup-input fclass" <%=data.formData.allFields.includes(item.id)
                                                                                ? 'checked disabled' : '' %>>
                                                        <span class="selectgroup-button">
                                                            <%=item.label %>
                                                        </span>
                                                    </label>
                                                    <%}%>
                                                                <% }); %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%-include('../partials/footer.ejs')%>
        </div>

    </div>


    <!--   Core JS Files   -->

    <!-- jQuery library -->
    <script src="/assets/js/core/jquery.3.2.1.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/core/bootstrap.js"></script>
    <!-- Popper JS -->
    <script src="/assets/js/core/popper.min.js"></script>
    <!-- Atlantis JS -->
    <script src="/assets/js/atlantis.min.js"></script>
    <script src="/assets/js/iziToast.js"></script>
    <script src="/assets/js/flashMessage.js"></script>
    <!-- jQuery UI -->
    <script src="/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
 
    <!-- jQuery Scrollbar -->
    <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script>
        const form = '<%- JSON.stringify(data.formData) %>'
        const parseForm = JSON.parse(form)
        function getValues(obj, key, value, data) {
            for (var i in obj) {
                if (!obj.hasOwnProperty(i)) continue;
                if (typeof obj[i] == 'object') {
                    getValues(obj[i], key, value, data)
                }
                else if (i == key && obj[i].toString().trim() == value.trim()) {
                    data.forEach(element =>
                        obj.AssignedFields.push({ fieldId: element })
                    )
                }
            }
            return obj

        }

        document.getElementById("assignSelectedGroup").addEventListener("click", function () {
            let component = $("input[name='component']:checked").val()
            let data = $("input[name='itemgroups']:checked").val().split(',')
            assignFieldsAndGroups(component, data)
        });

        document.getElementById("assignSelectedFields").addEventListener("click", function () {
            let component = $("input[name='component']:checked").val()
            let data = []

            $('input[name="itemfields"]:checked').each(function () {
                if (!this.disabled) {
                    data.push(this.value)
                }
            });
            assignFieldsAndGroups(component, data)
        });


        const assignFieldsAndGroups = (componentId, fields) => {
            var value = componentId
            let data = fields
            const newForm = getValues(parseForm, '_id', value, data)
            newForm.allFields.push(...fields)
            console.log("New Form: ", newForm);
            fetch(`/admin/customform/${parseForm.formId}/fieldmap/assign`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    newForm
                })
            })
                .then(function (res) {
                    return res.json()
                })
                .then(function (json) {
                    if (json.status == 200)
                        iziToast.success({
                            message: json.message
                        })
                    else if (json.status == 400)
                        iziToast.error({
                            title: json.message,
                            message: json.error
                        })
                    else
                        iziToast.error({
                            message: json.message
                        })
                })
                .catch(err => console.log(err))
        }

    </script>
    <script>

        $('#searchColumn').on('change', function () {
            var v = $(this).val();
            highlight(v);
        })
        function visibleTextNodes() {
            var walker = document.createTreeWalker(
                document.body,
                NodeFilter.SHOW_ALL,
                function (node) {
                    if (node.nodeType == 3) {
                        return NodeFilter.FILTER_ACCEPT;
                    } else if (node.offsetWidth && node.offsetHeight && node.style.visibility != 'hidden') {
                        return NodeFilter.FILTER_SKIP;
                    } else {
                        return NodeFilter.FILTER_REJECT;
                    }
                },
                false
            );

            for (var nodes = []; walker.nextNode();) {
                nodes.push(walker.currentNode);
            }
            return nodes;
        }


        function highlight(needle) {
            needle = needle.replace(/\s/g, '').toLowerCase();

            var textNodes = visibleTextNodes();

            for (var i = 0, texts = []; i < textNodes.length; i++) {
                texts.push(textNodes[i].nodeValue.replace(/\s/g, '').toLowerCase());
            }

            var matchStart = texts.join('').indexOf(needle);
            if (matchStart < 0) {
                return false;
            }

            var nodeAndOffsetAtPosition = function (position) {
                for (var i = 0, consumed = 0; consumed + texts[i].length < position; i++) {
                    consumed += texts[i].length;
                }
                var whitespacePrefix = textNodes[i].nodeValue.match(/^\s*/)[0];
                return [textNodes[i], position - consumed + whitespacePrefix.length];
            };

            var range = document.createRange();
            range.setStart.apply(range, nodeAndOffsetAtPosition(matchStart));
            range.setEnd.apply(range, nodeAndOffsetAtPosition(matchStart + needle.length));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            range.startContainer.parentNode.scrollIntoView();
        }


    </script>
</body>

</html>