<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Inbound PMS</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/assets/img/icon.ico" type="image/x-icon" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/kk_style.css">
    <link rel="stylesheet" href="/assets/css/iziToast.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Lato:300,400,700,900"]
            },
            custom: {
                "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"],
                urls: ['/assets/css/fonts.min.css']
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <style>
        #feedback {
            font-size: 1.4em;
        }

        .selectable .ui-selecting {
            background: #FECA40;
        }

        .selectable .ui-selected {
            background: #F39814;
            color: white;
        }

        .selectable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .selectable li {
            margin: 3px;
            padding: 0.4em;
        }
    </style>


</head>

<body>
    <div class="wrapper">
        <%-include('../partials/config')%>

        <!-- header -->
        <%-include('../partials/header.ejs')%>
        <!-- header end -->

        <!-- Sidebar -->
        <%-include('../partials/sidebar.ejs')%>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="content">
                <div class="page-inner ">
                    <div class="page-header">

                        <ul class="breadcrumbs">

                            <li class="nav-home">
                                <a href="/admin/dashboard">
                                    <i class="flaticon-home"></i>
                                </a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">System</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">User Managment</a>
                            </li>
                            <li class="separator">
                                <i class="flaticon-right-arrow"></i>
                            </li>
                            <li class="nav-item">
                                <a href="#">Users</a>
                            </li>

                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="kk_full_form kk_user_form">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card-title">Fields From Excel</h4>
                                    </div>
                                </div>
                                <div class="card-body scroll-area-lg">
                                    <ul class="selectable scrollbar-container ps--active-y ps" id="excelFields">
                                        <% fields.forEach(function(field) { %>
                                        <li class="" data-type="<%=field.inputType %>"
                                            id="<%=field.id %>"><%=field.label %> </li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="card kk_full_form kk_user_form">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card-title">Preview</h4>

                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul id="fieldLinkPreview" style="max-width: 80%;margin: 30px auto;">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card kk_full_form card-pricing  kk_attribute_set_card kk_newacc ">
                                <div class="card-header">
                                    System Fields
                                </div>
                                <div class="card-body">

                                    <div class="accordion accordion-secondary">
                                        <div class="card">
                                            <div class="card-header" id="headingOne" data-toggle="collapse"
                                                data-target="#collapseOne" aria-expanded="true"
                                                aria-controls="collapseOne">
                                                <div class="span-mode"></div>
                                                <div class="span-title">
                                                    Item
                                                </div>

                                            </div>

                                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                                data-parent="#accordion">
                                                <div class="card-body scroll-area-lg">
                                                    <ul id="system-fields" class="selectable kK_accordian_list scrollbar-container ps--active-y ps">
                                                        <% fields.forEach(function(field) { %>
                                                        <li class="ui-widget-content mb-3 p-1 h-100"
                                                            id="<%=field.id %>"><%=field.label %> </li>
                                                        <% }) %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header collapsed d-flex justify-content-between">
                                                <div class="span-mode"></div>
                                                <div class="span-title" id="headingTwo" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                    Item Pricing
                                                </div>
                                                <a id="addPriceBtn" class="btn btn-light btn-sm p-1"><i
                                                        style="font-size:12px" class="fa fa-plus"></i></a>

                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                data-parent="#accordion">
                                                <div class="card-body">
                                                    <ul class="kK_accordian_list">
                                                        <li class="acc_collapse">
                                                            <div class="accordion accordion-secondary" id="addPrice">
                                                                <div class="card">
                                                                    <div class="card-header d-flex justify-content-between"
                                                                        id="headingOne" data-toggle="collapse"
                                                                        data-target="#collapseOne.2"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseOne">
                                                                        <div class="span-mode"></div>
                                                                        <div class="span-title">
                                                                            Item price 1
                                                                        </div>
                                                                    </div>
                                                                    <div id="collapseOne.2" class="collapse"
                                                                        aria-labelledby="headingOne"
                                                                        data-parent="#accordion">
                                                                        <div class="card-body">
                                                                            <ul class="kK_accordian_list">
                                                                                <li>One</li>
                                                                                <li>Two</li>
                                                                                <li>Three</li>
                                                                                <li>Four</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header collapsed d-flex justify-content-between">
                                                <div class="span-mode"></div>
                                                <div class="span-title" id="headingTwo" data-toggle="collapse"
                                                    data-target="#collapseVTwo" aria-expanded="false"
                                                    aria-controls="collapseVTwo">
                                                    Item Vendors
                                                </div>
                                                <a id="addVendorBtn" class="btn btn-light btn-sm p-1"><i
                                                        style="font-size:12px" class="fa fa-plus"></i></a>

                                            </div>
                                            <div id="collapseVTwo" class="collapse" aria-labelledby="headingTwo"
                                                data-parent="#accordion">
                                                <div class="card-body">
                                                    <ul class="kK_accordian_list">
                                                        <li class="acc_collapse">
                                                            <div class="accordion accordion-secondary" id="addVendor">
                                                                <div class="card">
                                                                    <div class="card-header d-flex justify-content-between"
                                                                        id="headingOne" data-toggle="collapse"
                                                                        data-target="#collapseOne.2v"
                                                                        aria-expanded="false"
                                                                        aria-controls="collapseOne">
                                                                        <div class="span-mode"></div>
                                                                        <div class="span-title">
                                                                            Item Vendor 1
                                                                        </div>
                                                                    </div>
                                                                    <div id="collapseOne.2v" class="collapse"
                                                                        aria-labelledby="headingOne"
                                                                        data-parent="#accordion">
                                                                        <div class="card-body">
                                                                            <ul class="kK_accordian_list">
                                                                                <li>One</li>
                                                                                <li>Two</li>
                                                                                <li>Three</li>
                                                                                <li>Four</li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>



                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>

                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h4 class="card-title">Add Row</h4>
                                        <button class="btn btn-primary btn-round ml-auto" data-toggle="modal"
                                            data-target="#addRowModal">
                                            <i class="fa fa-plus"></i>
                                            Add Row
                                        </button>
                                    </div>
                                </div>

                                <div class="card-body">

                                    <div class="modal fade " id="addRowModal" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header no-bd">
                                                    <h5 class="modal-title">
                                                        <span class="fw-mediumbold">
                                                            New</span>
                                                        <span class="fw-light">
                                                            Row
                                                        </span>
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="small">Create a new row using this form, make sure you
                                                        fill them all</p>
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group form-group-default">
                                                                    <label>Name</label>
                                                                    <input id="addName" type="text" class="form-control"
                                                                        placeholder="fill name">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 pr-0">
                                                                <div class="form-group form-group-default">
                                                                    <label>Position</label>
                                                                    <input id="addPosition" type="text"
                                                                        class="form-control"
                                                                        placeholder="fill position">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group form-group-default">
                                                                    <label>Office</label>
                                                                    <input id="addOffice" type="text"
                                                                        class="form-control" placeholder="fill office">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer no-bd">
                                                    <button type="button" id="addRowButton"
                                                        class="btn btn-primary">Add</button>
                                                    <button type="button" class="btn btn-danger"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <table id="add-row" class="display table table-striped table-hover dataTable"
                                        role="grid" aria-describedby="add-row_info">
                                        <thead>
                                            <tr>
                                                <th rowspan="1" colspan="1">Name</th>
                                                <th rowspan="1" colspan="1">Position</th>
                                                <th rowspan="1" colspan="1">Office</th>
                                                <th rowspan="1" colspan="1">Action</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>

                                            </td>

                                        </tr>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
            <%-include('../partials/footer.ejs')%>
            <div class="modal fade kk_modal_popup_form" id="myModal" style="display: none;" aria-hidden="true"
                data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog ">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Default Value</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <form action="/admin/addUser/import" method="POST" enctype="multipart/form-data">
                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="form-label">Choose a value to assign in this field</label>

                                </div>

                                <div class="form-group">
                                    <div class="selectgroup w-100">
                                        <label class="selectgroup-item">
                                            <input type="radio" name="value" value="50" class="selectgroup-input"
                                                checked="">
                                            <span class="selectgroup-button">Provide default value</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="radio" name="value" value="100" class="selectgroup-input">
                                            <span class="selectgroup-button">Set value to null</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <div class="selectgroup selectgroup-pills">
                                        <label class="selectgroup-item">
                                            <input type="radio" name="transportation" value="2"
                                                class="selectgroup-input">
                                            <span class="selectgroup-button selectgroup-button-icon">Yes</span>
                                        </label>
                                        <label class="selectgroup-item">
                                            <input type="radio" name="transportation" value="1"
                                                class="selectgroup-input">
                                            <span class="selectgroup-button selectgroup-button-icon">No</span>
                                        </label>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <select class="form-control form-control" id="defaultSelect">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>


                                <div class="form-group">
                                    <select multiple="" class="form-control" id="exampleFormControlSelect2">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>


                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--   Core JS Files   -->

    <!-- jQuery library -->
    <script src="/assets/js/core/jquery.3.2.1.min.js"></script>


    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Atlantis JS -->
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/core/bootstrap.js"></script>
    <script src="/assets/js/atlantis.min.js"></script>
    <script src="/assets/js/iziToast.js"></script>
    <script src="/assets/js/flashMessage.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



    <script>
        let counter = 0;
        $(function () {
            // right
            $("#system-fields").selectable({
                selected: function (event, ui) {
                    previewMapped(ui, false)
                }
            });

            // left
            $("#excelFields").selectable({
                selected: function (event, ui) {
                    console.log(event, ui);
                    previewMapped(ui, true)
                }
            });
        });

        $(document).ready(function () {
            if ($('#fieldLinkPreview').children().length == 0) {
                $('#fieldLinkPreview').append(`
                     <div id="nofield" class="mx-auto Kk_no_assigned">
                        <img class="img-responsive"
                            src="/assets/img/no_field_assigned.png">
                        <h4>No Fields Mapped</h4>
                        <h6>Please Map some fields to continue</h6>
                    </div>
                `)
            }
            $('#basic-datatables').DataTable();

            $('#multi-filter-select').DataTable({
                "pageLength": 5,
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select class="form-control"><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });

            // Add Row
            $('#add-row').DataTable({
                "pageLength": 5,
            });

            var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

            $('#addRowButton').click(function () {
                $('#add-row').dataTable().fnAddData([
                    $("#addName").val(),
                    $("#addPosition").val(),
                    $("#addOffice").val(),
                    action
                ]);
                $('#addRowModal').modal('hide');

            });
        });


        var flag = true;
        var left = false;
        var right = true;
        var prev;

        function closeNav(id) {
            $(`#${id}`).remove();
             if ($('#fieldLinkPreview').children().length == 1) {
                $('#fieldLinkPreview').append(`
                     <div id="nofield" class="mx-auto Kk_no_assigned">
                        <img class="img-responsive"
                            src="/assets/img/no_field_assigned.png">
                        <h4>No Fields Mapped</h4>
                        <h6>Please Map some fields to continue</h6>
                    </div>
                `)
             }
        }

        const previewMapped = (li, type) => {
            $('#nofield').hide();
            if (prev != type) {
                if (flag) {
                    counter++;
                    if (type) {
                        $('#fieldLinkPreview').append(`<li id="preview-${counter}" class="kkay_field_map_link">
                <div class="k_field" id='left-${counter}'> ${li.selected.innerText || li.selected.innerHTML}</div>
                 <i class="fas fa-arrows-alt-h"></i>
                 <div id='right-${counter}' class="k_field"> </div>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav('preview-${counter}')"><i class="fas fa-times-circle"></i></a>
                 </li>`)
                        right = type;
                    }
                    else {
                        $('#fieldLinkPreview').append(`<li id="preview-${counter}" class="kkay_field_map_link">
                <div class="k_field" id='left-${counter}'> </div>
                 <i class="fas fa-arrows-alt-h"></i>
                 <div id='right-${counter}' class="k_field">${li.selected.innerText || li.selected.innerHTML} </div>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav('preview-${counter}')"><i class="fas fa-times-circle"></i></a>
                 </li>`)
                        right = type;
                    }
                    flag = false;
                }
                else {
                    if (right) {
                        document.getElementById(`right-${counter}`).innerText = li.selected.innerText;

                    }
                    else {
                        document.getElementById(`left-${counter}`).innerText = li.selected.innerText;
                    }
                    flag = true;


                }

                prev = type;
                if (flag) {
                    prev = undefined;
                }


            }


        }
        $('#addPriceBtn').on('click', function () {
            $('#addPrice').append(`
        <div class="card">
            <div class="card-header d-flex justify-content-between" id="headingOne" data-toggle="collapse"
                data-target="#collapseOne.2-${$('#addPrice').children().length + 1}" aria-expanded="false" aria-controls="collapseOne">
                <div class="span-mode"></div>
                <div class="span-title">
                    Item price ${$('#addPrice').children().length + 1}
                </div>
            </div>
            <div id="collapseOne.2-${$('#addPrice').children().length + 1}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <ul class="kK_accordian_list">
                        <li>One</li>
                        <li>Two</li>
                        <li>Three</li>
                        <li>Four</li>
                    </ul>
                </div>
            </div>
        </div>
        `)
        })

        $('#addVendorBtn').on('click', function () {
            $('#addVendor').append(`
        <div class="card">
            <div class="card-header d-flex justify-content-between" id="headingOne" data-toggle="collapse"
                data-target="#collapseOne.2-v${$('#addVendor').children().length + 1}" aria-expanded="false" aria-controls="collapseOne">
                <div class="span-mode"></div>
                <div class="span-title">
                    Item Vendor ${$('#addVendor').children().length + 1}
                </div>
            </div>
            <div id="collapseOne.2-v${$('#addVendor').children().length + 1}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <ul class="kK_accordian_list">
                        <li>One</li>
                        <li>Two</li>
                        <li>Three</li>
                        <li>Four</li>
                    </ul>
                </div>
            </div>
        </div>
        `)
        })

    </script>

</body>

</html>