<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Inbound PMS</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/assets/img/icon.ico" type="image/x-icon" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/kk_style.css">
    <link rel="stylesheet" href="/assets/css/iziToast.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">
    <!-- Fonts and icons -->
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
</head>

<body>
    <div class="wrapper">
        <%-include('../partials/config')%>

            <!-- header -->
            <%-include('../partials/header.ejs')%>
                <!-- header end -->

                <!-- Sidebar -->
                <%-include('../partials/sidebar.ejs')%>
                    <!-- End Sidebar -->
                    <div class="main-panel">
                        <div class="content">
                            <div class="page-inner">
                                <div class="page-header">

                                    <ul class="breadcrumbs">
                                        <li class="nav-home">
                                            <a href="/admin/dashboard">
                                                <i class="flaticon-home"></i>
                                            </a>
                                        </li>
                                        <li class="separator">
                                            <i class="flaticon-right-arrow"></i>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">Product Data</a>
                                        </li>
                                        <li class="separator">
                                            <i class="flaticon-right-arrow"></i>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">Field Group</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">

                                        <div class="card">
                                            <div class="card-header">
                                                <div class="d-flex align-items-center">
                                                    <h4 class="card-title">All Groups</h4>

                                                    <button class="btn btn-primary btn-round ml-auto"
                                                        data-toggle="modal" data-target="#kk_create_group">
                                                        <i class="fa fa-plus"></i>
                                                        Create New Group
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">


                                                <div class="table-responsive">
                                                    <table id="add-row" class="display table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Created By</th>
                                                                <th>Status</th>
                                                                <th>Field Count</th>
                                                                <th>Created At</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <%fieldGroup.forEach(_a=>{ %>
                                                                <tr id="<%= _a.id %>">
                                                                    <td>
                                                                        <%= _a.name %>
                                                                    </td>
                                                                    <td>
                                                                        <%= _a.fname %>
                                                                            <%= _a.lname %>
                                                                    </td>
                                                                    <td>

                                                                        <span id="activeBadge-<%= _a.id%>"
                                                                            style="background-color:<%= _a.active ? '#088e0c' : '#d20e18' %>"
                                                                            class="badge badge-<%= _a.active ? 'success' : 'danger' %>">
                                                                            <%= _a.active ? 'ACTIVE' : 'INACTIVE' %>
                                                                        </span>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-button-action">
                                                                            <div class="kk_group_item_number">
                                                                                <button class="btn btn-link btn-round "
                                                                                    data-toggle="modal"
                                                                                    data-target="#kk_group_items">
                                                                                    <%= _a.count %>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <%= formatDateMoment(_a.createdAt) %>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-button-action">
                                                                            <button type="button" data-toggle="tooltip" onclick="editValue('/admin/inputfield/inputGroup/<%=_a.id%>','PATCH','<%=_a.name %>')"
                                                                                title="" class="btn btn-link btn-lg"
                                                                                data-original-title="Edit Task">
                                                                                <i class="fa fa-edit"></i>
                                                                            </button>
                                                                            <button id="changeStatus-<%=_a.id%>"
                                                                                onclick="changeStatus('<%=_a.id%>')"
                                                                                type="button" data-toggle="tooltip"
                                                                                title="Toggle to Change Status"
                                                                                class="btn btn-link btn-default"
                                                                                data-original-title="Remove">
                                                                                <i
                                                                                    class="fas <%= _a.active ? 'fa-toggle-on': 'fa-toggle-off' %>"></i>
                                                                            </button>
                                                                            <button id="removefield-<%=_a.id%>"
                                                                                onclick="removeField('<%=_a.id%>')"
                                                                                type="button" data-toggle="tooltip"
                                                                                title="" class="btn btn-link btn-danger"
                                                                                data-original-title="Remove">
                                                                                <i class="fas fa-trash"></i>
                                                                            </button>
                                                                        </div>
                                                                    </td>

                                                                </tr>
                                                                <% }) %>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>



                                    </div>


                                    <div class="col-md-5">

                                        <div class="card kk_field_items">
                                            <div class="card-header">
                                                <div class="d-flex align-items-center">
                                                    <h4 class="card-title">Field Items</h4>


                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="selectgroup selectgroup-pills">
                                                    <div class="scroll-area-lg">
                                                        <div id="fieldListArea"
                                                            class="scrollbar-container ps--active-y ps">

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="card-footer">
                                                <button class="d-flex justify-content-end btn btn-primary"
                                                    id="assigntogroup">
                                                    Apply<i class=" ml-3"></i>
                                                </button>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="modal kk_modal_popup_form" id="kk_create_group" style="display: none;"
                            aria-hidden="true" data-keyboard="false" data-backdrop="static">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Create New Group</h4>
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>
                                    <form action="/admin/inputfield/inputgroup/add" method="POST">
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                       <div class="form-group">
                                                <label for="email2">Enter Group Name</label>
                                                <input type="text" class="form-control" name="name" id="email2"
                                                    placeholder="Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="comment">Enter Group Description</label>
                                                <textarea class="form-control" id="comment" name="description"
                                                    rows="5"> </textarea>
                                            </div>
                                            <!-- Modal footer -->
                                            
                                        
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Save<i class=" ml-3"></i></button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                    </div>
                                    </form>

                                </div>
                            </div>

                        </div>

                    </div>
                    <!--   Core JS Files   -->
                    <script src="/assets/js/clientScript.js"></script>

                    <!-- jQuery library -->
                    <script src="/assets/js/core/jquery.3.2.1.min.js"></script>
                    <!-- Latest compiled JavaScript -->
                    <script src="/assets/js/core/bootstrap.js"></script>

                    <!-- Atlantis JS -->
                    <script src="/assets/js/atlantis.min.js"></script>
                    <script src="/assets/js/iziToast.js"></script>
                    <script src="/assets/js/flashMessage.js"></script>
                    <!-- Datatables -->
                    <script src="/assets/js/plugin/datatables/datatables.min.js"></script>
                    <!-- Popper JS -->
                    <script src="/assets/js/core/popper.min.js"></script>
                    <!-- jQuery UI -->
                    <script src="/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
                    <script src="/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

                    <!-- jQuery Scrollbar -->
                    <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
                    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
                    <script>

                        function changeStatus(id) {
                            markStatusOrDelete(`/admin/inputfield/inputgroup/${id}`, 'DELETE', 'status', `{"id":"${id}"}`)
                        }
                        function removeField(id) {
                            markStatusOrDelete(`/admin/inputfield/inputgroup/remove/${id}`, 'DELETE')
                        }

                        var ids
                        var table = $('#add-row').DataTable({
                            select: {
                                style: 'single'
                            },
                           
                        });
                        table.off("select").on("select", function (e, dt, type, indexes) {
                            ids = $.map(table.rows('.selected').ids(), function (item) {
                                return item
                            });
                            ids = ids.toString()
                            showItemFields(ids)
                        });


                        $('#assigntogroup').click(function () {
                            let checked = []
                            $.each($("input[name='field']:checked"), function () {
                                checked.push(
                                    $(this).val(),
                                )
                            });
                            if (checked.length !== 0) {
                                $(this).children().addClass('fa fa-spinner fa-spin')
                                $(this).prop('disabled', true);
                                fetch('/admin/inputfield/inputgroup', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        checked, groupId: ids
                                    })
                                })
                                    .then(function (res) {
                                        return res.json()
                                    })
                                    .then(function (json) {

                                        if (json.status == 200)
                                            //showItemFields(ids)
                                            location.reload()
                                        else if (json.status == 400)
                                            iziToast.error({
                                                title: json.message,
                                                message: json.error
                                            })
                                        else
                                            iziToast.error({
                                                message: json.message
                                            })
                                    })
                                    .catch(err => console.log(err))
                            }
                            else {
                                iziToast.warning({
                                    message: 'Please select Input to add in this group'
                                })
                            }
                        });

                        const showItemFields = (id) => {
                            $('#fieldListArea').empty()
                            $("#fieldListArea").prepend(`<div id="preloader"><div id="loader"></div>
                                        </div>`);
                            fetch(`/admin/inputfield/inputgroup/${id}`)
                                .then(function (res) {
                                    return res.json()
                                })
                                .then(function (json) {
                                    if (json.status == 404)
                                        iziToast.error({
                                            message: json.message
                                        })
                                    else if (json.status == 500)
                                        iziToast.error({
                                            title: json.message,
                                            message: json.error
                                        })
                                    else if (json.status == 200) {
                                        let itemFields = ''

                                        json.data.itemFields.sort((a, b) => { if (a.isAssigned) return -1; if (!a.isAssigned) return 1; return 0; }).forEach(b => {
                                            let checked = b.isAssigned ? 'checked' : '';
                                            if(b.type=='list/record'){
                                                if(b.lr!='-'){
                                                itemFields += ` <label class="selectgroup-item">
                                                            <input type="checkbox" name="field" id="f-${b.id}" value="${b.id}"class="selectgroup-input fclass" ${checked}>
                                                            <span class="selectgroup-button">${b.name}</span>
                                                        </label>`
                                                }
                                            }
                                            else{
                                                itemFields += ` <label class="selectgroup-item">
                                                                <input type="checkbox" name="field" id="f-${b.id}" value="${b.id}"class="selectgroup-input fclass" ${checked}>
                                                                <span class="selectgroup-button">${b.name}</span>
                                                            </label>`

                                            }
                                        })
                                        $("#preloader").remove();
                                        $('#fieldListArea').append(itemFields)
                                    }
                                    else
                                        iziToast.error({
                                            message: 'Something Went Wrong!'
                                        })
                                })
                                .catch(err => console.log(err))
                        }
                    </script>
                        <script src="/assets/js/addSpinner.js"></script>


</body>

</html>