<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Infeenity Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/assets/img/icon.ico" type="image/x-icon" />

    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/kk_style.css">
    <link rel="stylesheet" href="/assets/css/iziToast.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
        integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
        crossorigin="anonymous" />
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />


</head>

<body>
    <div class="wrapper">
        <%-include('../partials/config')%>

            <!-- header -->
            <%-include('../partials/header.ejs')%>
                <!-- header end -->

                <!-- Sidebar -->
                <%-include('../partials/sidebar.ejs')%>
                    <!-- End Sidebar -->

                    <div class="main-panel ">
                        <div class="content">
                            <div class="page-inner">
                                    <div class="page-header">
                                    
                                        <ul class="breadcrumbs">
                                            <li class="nav-home">
                                                <a href="/admin/dashboard">
                                                    <i class="flaticon-home"></i>
                                                </a>
                                            </li>
                                            <li class="separator">
                                                <i class="flaticon-right-arrow"></i>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#">List Record</a>
                                            </li>
                                            <li class="separator">
                                                <i class="flaticon-right-arrow"></i>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#">Add New List Records</a>
                                            </li>
                                        </ul>
                                    </div>

                                <div class="card kk_file_tree ">
                                    <div class="card-header">
                                        <div class="d-flex align-items-center">
                                            <h4 class="card-title">Catalog</h4>
                                           
                                        </div>
                                    </div>
                                    <div class="card-body">
                                    <div class="row" style="height: 100vH;">
                                        <div class="col-md-3" style="border-right: 1px solid lightgrey;">
                                           
                                            <div class="form-group">
                                                <select class="form-control" id="exampleFormControlSelect1">
                                                    <% catalogues.forEach(catalog => { %>
                                                        <option value="<%= catalog.id %>"><%=catalog.name  %> </option>    
                                                    <%   }); %> 
                                                </select>
                                            </div>
                                         <div id="files" class="jstree jstree-1 jstree-default" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="j1_5"
                                                         aria-busy="false">

                                                    </div>  
                                        </div>

                                        <div class="col-md-9">
                                            <button class="btn btn-primary btn-round ml-auto position-absolute " data-toggle="modal" data-target="#myModal" style="right: 0;">
                                                <i class="fa fa-plus"></i>
                                                Add New Catalog
                                            </button>
                                       <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                                                <li class="nav-item submenu">
                                                    <a class="nav-link active show" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                                                        aria-controls="pills-home" aria-selected="true">Properties</a>
                                                </li>
                                                <li class="nav-item submenu">
                                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                                                        aria-controls="pills-profile" aria-selected="false">History</a>
                                                </li>
                                              
                                            </ul>
                                            <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                                                <div class="tab-pane fade active show" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                                <div class="card-title mt-3">General Properties</div>
                                                <hr  style="margin-top: 0.4rem;">
                                        <div class="form-group">
                                            <label for="disableinput">Code (required)</label>
                                            <input type="text" class="form-control" id="disableinput" placeholder="Enter Input" disabled="">
                                        </div>

                                        <div class="card-title mt-3">Node Values</div>
                                        <hr style="margin-top: 0.4rem;">
                                                </div>
                                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                                   <table class="table table-condensed" id="myTable">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Version</th>
                                                                <th>Author</th>
                                                                <th>Logged At</th>
                                                              
                                                            </tr>
                                                        </thead>
                                                        <tbody class="panel">
                                                            <tr data-toggle="collapse" data-target="#demo1" data-parent="#myTable">
                                                                <td><i class="fas fa-chevron-circle-right"></i></td>
                                                                <td>1</td>
                                                                <td>Credit Account</td>
                                                                <td>05 May 2013</td>
                                                             
                                                            
                                                            </tr>
                                                            <tr id="demo1" class="collapse">
                                                                <td colspan="6" class="hiddenRow">
                                                                    <div>Demo1</div>
                                                                </td>
                                                            </tr>
                                                            <tr data-toggle="collapse" data-target="#demo2" data-parent="#myTable">
                                                                <td><i class="fas fa-chevron-circle-right"></i></td>
                                                                <td>2</td>
                                                                <td>Credit Account</td>
                                                                <td>05 May 2013</td>
                                                              
                                                            
                                                            </tr>
                                                            <tr id="demo2" class="collapse">
                                                                <td colspan="6" class="hiddenRow">
                                                                    <div>Demo2</div>
                                                                </td>
                                                            </tr>
                                                        
                                                        </tbody>
                                                    </table>
                                                </div>
                                           
                                            </div>
                                        
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%-include('../partials/footer.ejs')%>
      

                <div class="modal fade kk_modal_popup_form" id="myModal" style="display: none;" aria-hidden="true" data-keyboard="false"
                    data-backdrop="static">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Add New Catalog</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <form action="/admin/cataloghierarchy" method="POST">
                                <!-- Modal body -->
                                <div class="modal-body">
                
                                    <div class="form-group">
                                        <label for="disableinput">Catalog Name (required)</label>
                                        <input name="name" type="text" class="form-control" id="disableinput" placeholder="Enter Input">
                                    </div>
                                </div>
                
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                   
                    </div>

    </div>

    
    <!--   Core JS Files   -->

    <!-- jQuery library -->
    <script src="/assets/js/core/jquery.3.2.1.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/core/bootstrap.js"></script>
    <!-- Popper JS -->
    <script src="/assets/js/core/popper.min.js"></script>
    <!-- Atlantis JS -->
    <script src="/assets/js/atlantis.min.js"></script>
    <script src="/assets/js/iziToast.js"></script>
    <script src="/assets/js/flashMessage.js"></script>
    <!-- jQuery UI -->
    <script src="/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/js/plugin/datatables/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
        crossorigin="anonymous"></script>
    <!-- jQuery Scrollbar -->
    <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "280px";
            document.getElementById("overlay").style.display = "initial"
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("overlay").style.display = "none"
        }


    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <script>
        const list_to_tree = (list) => {
            var map = {}, node = {}, roots = [], i;
            for (i = 0; i < list.length; i += 1) {
                map[list[i].id] = i;
                list[i].children = [];
            }

            for (i = 0; i < list.length; i += 1) {
                node = list[i];
                node.type = 'folder'
                node.data = {}
                if (node.parentId !== "0") {
                    list[map[node.parentId]].children.push(node);
                } else {
                    roots.push(node);
                }
            }
            return roots;
        }

        $(function () {


            $('#files').jstree({
                'core': {
                    'data': list_to_tree(),
                    
                    check_callback: true,
                    themes: {
                        dots: false,
                        'name': 'proton',
                        'responsive': true
                    },
                },

                "types": {
                    "folder": {
                        "icon": "ti-folder text-warning",
                    },
                    "file": {
                        "icon": "ti-file",
                    }
                },
                plugins: ["types", 'state', 'contextmenu', 'checkbox']
            })
                .on('create_node.jstree', function (e, data) {
                    console.log(data)
                    $.get('', { 'id': data.node.parent, 'position': data.position, 'text': data.node.text })
                        .done(function (d) {
                            data.instance.set_id(data.node, d.id);
                        })
                        .fail(function () {
                            data.instance.refresh();
                        });
                }).on('rename_node.jstree', function (e, data) {
                    fetch(`/admin/catalog/update/${data.node.id}`, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            text : data.node.text
                        })
                    })
                        .then(res => res.json())
                        .then(json => {
                            if (json.status == 200) {
                                location.reload(true);
                            }
                            else {
                                iziToast.error({
                                    message: json.message || 'Something Went Wrong!'
                                })
                            }

                        }).catch(err => console.log(err))
                }).on('delete_node.jstree', function (e, data) {
                    fetch(`/admin/catalog/remove/${data.node.id}`, {
                        method: 'DELETE',
                    })
                        .then(res => res.json())
                        .then(json => {
                            if (json.status == 200) {
                                location.reload(true);
                            }
                            else {
                                iziToast.error({
                                    message: json.message || 'Something Went Wrong!'
                                })
                            }

                        }).catch(err => console.log(err))
                });

        });

    </script>
<script>
    function formatState(state) {
            if (!state.id) {
                return state.text;
            }
            var baseUrl = "/user/pages/images/flags";
            var $state = $(
                '<span><img src="' + baseUrl + '/' + state.element.value.toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
            );
            return $state;
        };

        $("#exampleFormControlSelect1").select2({
            
        });
</script>
</body>

</html>