<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Infeenity Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="/assets/img/icon.ico" type="image/x-icon" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/atlantis.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/css/kk_style.css">
    <link rel="stylesheet" href="/assets/css/iziToast.min.css">
    <!-- Fonts and icons -->
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
</head>

<body>
    <div class="wrapper">
        <%-include('../partials/config')%>

            <!-- header -->
            <%-include('../partials/header.ejs')%>
                <!-- header end -->

                <!-- Sidebar -->
                <%-include('../partials/sidebar.ejs')%>
                    <!-- End Sidebar -->
                    <div class="main-panel">
                        <div class="content">
                            <div class="page-inner">
                                <div class="page-header">

                                    <ul class="breadcrumbs">
                                        <li class="nav-home">
                                            <a href="/admin/dashboard">
                                                <i class="flaticon-home"></i>
                                            </a>
                                        </li>
                                        <li class="separator">
                                            <i class="flaticon-right-arrow"></i>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">Attributes</a>
                                        </li>
                                        <li class="separator">
                                            <i class="flaticon-right-arrow"></i>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">
                                                <%=foundList.name %>
                                            </a>
                                        </li>
                                        <li class="separator">
                                            <i class="flaticon-right-arrow"></i>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#">Options</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">

                                        <div class="card kk_full_form kk_user_form">
                                            <div class="card-header">
                                                <div class="d-flex align-items-center">
                                                    <h4 class="card-title">Add Attribute</h4>
                                                    <button class="btn btn-primary btn-round ml-auto"
                                                        data-toggle="modal" data-target="#myModal">
                                                        <i class="fa fa-plus"></i>
                                                        Import Attribute Values
                                                    </button>
                                                </div>
                                            </div>
                                            <form action="/admin/listrecord/<%=foundList.id %>/add"
                                                method="POST">
                                                <div class="card-body">
                                                    <div class="row">

                                                        <div class="col-md-12">

                                                            <div class="form-group">
                                                                <label>Name</label>
                                                                <input type="text" class="form-control" name="label"
                                                                    id="name" placeholder="Enter Attribute Name">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer d-flex justify-content-end">
                                                    <button type="submit" class="btn mr-3">Submit</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>

                                    <div class="col-md-1">
                                    </div>



                                    <div class="col-md-6">

                                        <div class="card kk_full_form kk_attribute_set_card">
                                            <div class="card-header">
                                                <div class="d-flex align-items-center">
                                                    <h4 class="card-title">Attribute Values of <b class="text-primary">
                                                            <%= foundList.name %>
                                                        </b></h4>

                                                </div>
                                            </div>
                                            <div class="card-body">

                                                <table id="add-row"
                                                    class="display table table-striped table-hover dataTable"
                                                    role="grid" aria-describedby="add-row_info">
                                                    <thead>
                                                        <tr>
                                                            <th rowspan="1" colspan="1">#</th>
                                                            <th rowspan="1" colspan="1">Attribute Value</th>
                                                            <th rowspan="1" colspan="1">Action</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <% listRecordv.forEach((a,index)=>{ %>
                                                            <tr role="row" class="odd">
                                                                <td class="sorting_1">
                                                                    <%= ++index %>
                                                                </td>
                                                                <td>
                                                                    <%= a.label %>
                                                                </td>
                                                                <td class="d-flex justify-content-end">
                                                                    <div class="form-button-action">
                                                                        <button type="button" data-toggle="tooltip"
                                                                            title=""
                                                                            class="btn btn-link btn-primary btn-lg"
                                                                            data-original-title="Edit Task">
                                                                            <i class="fa fa-edit"></i>
                                                                        </button>
                                                                        <button id="changeActiveUser-"
                                                                            onclick="changeActive('')" type="button"
                                                                            data-toggle="tooltip" title=""
                                                                            class="btn btn-link btn-danger"
                                                                            data-original-title="Remove">
                                                                            <i class="fa fa-trash"></i>
                                                                        </button>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <% }) %>


                                                    </tbody>
                                                </table>




                                            </div>



                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <%-include('../partials/footer.ejs')%>
                        <div class="modal kk_modal_popup_form" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Import Attribute set</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <form action="/admin/addUser/import" method="POST" enctype="multipart/form-data">
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <p class="text-danger">Supported extensions .XLSX</p>
                                            <button type="button" class="btn btn-primary mb-5">Download
                                                Template</button>

                                            <input type="file" name="file" class="form-control-file"
                                                id="exampleFormControlFile1">

                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Import</button>
                                            <button type="button" class="btn btn-danger"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal kk_modal_popup_form" id="edit-attribute">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit Attribute</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control" id="name"
                                                placeholder="Enter First Name">
                                        </div>

                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary">Save</button>

                                    </div>

                                </div>
                            </div>
                        </div>

    </div>

    </div>
    <!--   Core JS Files   -->

    <!-- jQuery library -->
    <script src="/assets/js/core/jquery.3.2.1.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="/assets/js/core/bootstrap.js"></script>
    <!-- Popper JS -->
    <script src="/assets/js/core/popper.min.js"></script>
    <!-- Atlantis JS -->
    <script src="/assets/js/atlantis.min.js"></script>
    <script src="/assets/js/iziToast.js"></script>
    <script src="/assets/js/flashMessage.js"></script>
    <script src="/assets/js/plugin/datatables/datatables.min.js"></script>
    <!-- jQuery UI -->
    <script src="/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    
    <!-- jQuery Scrollbar -->
    <script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


    <script>
        $('#add-row').dataTable()

        const editthis = (id) => {
            console.log(id)
        }

        const deleteThis = (id) => {
            iziToast.question({
                overlay: true,
                toastOnce: true,
                id: 'question',
                title: 'Hey',
                message: 'Are you sure?',
                position: 'center',
                buttons: [
                    ['<button><b>YES</b></button>', function (instance, toast) {
                        fetch(`/admin/attributesetValue/remove/${id}`, {
                            method: 'DELETE',
                        })
                            .then(res => res.json())
                            .then(json => {
                                if (json.status == 200) {
                                    location.reload(true);
                                }
                                else {
                                    iziToast.error({
                                        message: json.message || 'Something Went Wrong!'
                                    })
                                }

                            })
                        instance.hide({ transitionOut: 'fadeOut' }, toast)
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast);
                    }]
                ]
            });
        }



    </script>

        <script>
            $(document).ready(function () {
                $('input[type="file"]').on('click', function () {
                    $(".file_names").html("");
                })
                if ($('input[type="file"]')[0]) {
                    var fileInput = document.querySelector('label[for="et_pb_contact_brand_file_request_0"]');
                    fileInput.ondragover = function () {
                        this.className = "et_pb_contact_form_label changed";
                        return false;
                    }
                    fileInput.ondragleave = function () {
                        this.className = "et_pb_contact_form_label";
                        return false;
                    }
                    fileInput.ondrop = function (e) {
                        e.preventDefault();
                        var fileNames = e.dataTransfer.files;
                        for (var x = 0; x < fileNames.length; x++) {
                            console.log(fileNames[x].name);
                            $ = jQuery.noConflict();
                            $('label[for="et_pb_contact_brand_file_request_0"]').append("<div class='file_names'>" + fileNames[x].name + "</div>");
                        }
                    }
                    $('#et_pb_contact_brand_file_request_0').change(function () {
                        var fileNames = $('#et_pb_contact_brand_file_request_0')[0].files[0].name;
                        $('label[for="et_pb_contact_brand_file_request_0"]').append("<div class='file_names'>" + fileNames + "</div>");
                        $('label[for="et_pb_contact_brand_file_request_0"]').css('background-color', '##eee9ff');
                    });
                }
            });



        </script>
</body>

</html>