<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Unit <%=unit.unitNumber%> - <%=course.name%></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/spinner.css">
</head>

<body>
    <%-include('../partials/config')%>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->
        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-home icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>Manage Unit <%=unit.unitNumber%> - <%=course.name%>
                                    <div class="page-title-subheading">
                                        Import new topics in the unit.
                                    </div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                                <div class="d-inline-block">
                                    <button data-toggle="modal" data-target="#importTopicModal" type="button"
                                        class="btn btn-lg btn-primary mb-2">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="pe-7s-plane"></i>
                                        </span>
                                        Import Topics
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card col-12">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="topicTable" class="table table-hover table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>serial no.</th>
                                                <th>Name</th>
                                                <th>Resource ID</th>
                                                <th>Duration</th>
                                                <th>Outcome</th>
                                                <!-- <th>Action</th> -->
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>serial no.</th>
                                                <th>Name</th>
                                                <th>Resource ID</th>
                                                <th>Duration</th>
                                                <th>Outcome</th>
                                                <!-- <th>Action</th> -->
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <%topics.forEach(t => {%>
                                            <tr>
                                                <td><%= t.serialNumber %> </td>
                                                <td><%= t.name %></td>
                                                <td><%= t.objectResourceId %></td>
                                                <td><%=t.duration%> min </td>
                                                <td><%= t.outcome %> </td>
                                                <!-- <td><a id="<%= t.id %> " unit-id="<%= t.unitId %> "
                                                        class="btn btn-secondary btn-sm">edit <i
                                                            class="fas fa-edit"></i></a></td> -->
                                            </tr>
                                            <%})%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        Put this in a modal
                        <form action="/admin/courses/<%=course.id%>/<%=unit.id%>/addTopic" method="POST">
                            <input type="text" name="name" id="name" required>
                            <input type="text" name="outcome" id="outcome" required>
                            <input type="text" name="objectResourceId" id="objectResourceId" required>
                            <input type="number" name="duration" id="duration" required>
                            <button type="submit">Add Topic</button>
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <!-- add topic modal  -->
    <div class="modal" id="importTopicModal" tabindex="-1" role="dialog" aria-labelledby="importTopicModal"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/admin/courses/<%=course.id%>/<%=unit.id%>/importTopics" method="POST"
                    enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row" style="border:4px dashed #cccccc; margin:10px;">
                            <div class="col-md-12 text-center" style="padding:20px;background-color:#f2f2f2">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="#" class="center">
                                            <h3>Import topics of this unit</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="col-12">
                                        <br>
                                        <p class="text-bold-600 text-danger">Supported extension .xlsx</p>
                                        <a href="/uploads/topics_import_template.xlsx"
                                            download="topics_import_template.xlsx" class="center btn btn-sm btn-link"
                                            style="background-color: white; text-decoration: none;">Download
                                            Template</a>
                                    </div>
                                    <br />
                                    <div class="form-group col-12">
                                        <label for="file"><b class="text-danger">*</b> Select File</label>
                                        <input type="file" name="file" id="file" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="submitbtn" class="btn btn-dark">Import &nbsp;<i
                                class="fas fa-plus"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#topicTable').DataTable({
                searching: true,
                paging: true,
                pageLength: 50,
                info: false,
                scrollCollapse: true,
                scrollY: '60vh',
            })
        })
    </script>
</body>

</html>