<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specializations</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="stylesheet" href="/css/spinner.css">
</head>


<body>

    <%-include('../partials/config')%>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">

                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-home icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>Specializations
                                    <div class="page-title-subheading">
                                        <div class="d-flex justify-content-center ">
                                            Add and manage specializations.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-lg-5 col-md-5 col-xl-5">
                            <form class="card" action="/admin/specializations" method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" name="name" id="name" required>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-link btn-block btn-lg" type="submit">Add
                                        Specialization&nbsp;
                                        <i class="fas fa-plus"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1">

                        </div>
                        <div class="col-sm-12 col-lg-6 col-md-6">
                            <div class="card-hover-shadow-2x mb-3 card">
                                <div class="card-header-tab card-header">
                                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                        Available Specializations
                                    </div>
                                </div>
                                <div class="scroll-area">
                                    <div class="scrollbar-container ps ps--active-y">
                                        <div class="p-2">
                                            <ul class="todo-list-wrapper list-group list-group-flush">
                                                <% const colors = ["g", "alternate", "info", "success", "primary", "warning", "dark", "secondary", "soft-link", "soft-dark", "soft-info", "soft-warning", "soft-danger", "soft-success", "soft-secondary", "soft-primary"] %>
                                                <%specializations.forEach(s => {%>
                                                <li class="list-group-item">
                                                    <div class="todo-indicator bg-warning"></div>
                                                    <div class="widget-content p-0">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left mr-2">
                                                                <div class="widget-subheading"><b><%=s.id%></b>.</div>
                                                            </div>
                                                            <div class="widget-content-left">
                                                                <div class="widget">
                                                                    <div
                                                                        class="badge badge-pill badge-<%=colors[s.id] %> ml-2">
                                                                        <%=s.name%>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="widget-content-right widget-content-actions">
                                                                <button
                                                                    class="border-0 btn-transition btn btn-outline-primary">
                                                                    <i class="fa fa-cogs"></i>
                                                                </button>
                                                                <button
                                                                    class="border-0 btn-transition btn btn-outline-danger">
                                                                    <i class="fa fa-trash-alt"></i>
                                                                </button>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </li>
                                                <%})%>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
</body>

</html>