<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Students</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="stylesheet" href="/css/dataTables.min.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
        integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
        crossorigin="anonymous" />
</head>

<body>

    <%-include('../partials/config')%>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-users icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>All Students
                                    <div class="page-title-subheading">
                                        <div class="d-flex justify-content-center ">
                                            All Registerd Students and their details.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow main-card mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">List of students </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="studenttable" class="table table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Specialization</th>
                                            <th>Active</th>
                                            <th>college</th>
                                            <th>Semester</th>
                                            <th>Contact</th>
                                            <th>action</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Specialization</th>
                                            <th>Active</th>
                                            <th>college</th>
                                            <th>Semester</th>
                                            <th>Contact</th>
                                            <th>action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody style="text-align: center;" class="align-baseline">
                                        <% const colors = ["g", "alternate", "info", "success", "primary", "warning", "dark", "secondary", "soft-link", "soft-dark", "soft-info", "soft-warning", "soft-danger", "soft-success", "soft-secondary", "soft-primary"] %>
                                        <%students.forEach((student, index) => {%>
                                        <tr>
                                            <td class="align-baseline"><%=index+1%></td>
                                            <td class="align-baseline">
                                                <a href="/admin/students/<%=student.id%>"
                                                    target="_blank"><%=student.firstName + ' ' + student.lastName%></a>
                                            </td>
                                            <td
                                                class="badge align-baseline badge-sm p-1 badge-<%=colors[student.specialization]%> mt-2">
                                                <%=specializations[student.specialization] || student.specialization%>
                                            </td>
                                            <td class="align-baseline"><% if (student.active) { %>
                                                <span id="activeBadge-<%=student.id%>"
                                                    class="badge badge-success">ACTIVE</span>
                                                <%} else { %>
                                                <span id="activeBadge-<%=student.id%>"
                                                    class="badge badge-danger">INACTIVE</span>
                                                <% } %></td>
                                            <td>
                                                <%=colleges[student.college]%>
                                            </td>
                                            <td style="text-align: center;"
                                                class="badge badge-pill p-1 badge-<%=colors[student.semester]%> align-baseline">
                                                <%=student.semester%>
                                            </td>
                                            <td class="align-baseline">

                                                <div class="d-flex">
                                                    <a href="mailto:<%=student.email%>" class=" btn btn-sm btn-danger"
                                                        style="background-color: maroon;"
                                                        data-original-title="<%=student.email%>"
                                                        aria-describedby="tooltip232856" data-toggle="tooltip" title=""
                                                        data-placement="top">
                                                        <i style=" color: white;" class="fas fa-envelope"></i>
                                                    </a>
                                                    <a href="tel:<%=student.contactNumber%>"
                                                        class="ml-2 btn btn-sm btn-secondary"
                                                        data-original-title="<%=student.contactNumber%>"
                                                        aria-describedby="tooltip232856" data-toggle="tooltip" title=""
                                                        data-placement="top">
                                                        <i class="fas fa-phone"></i>
                                                    </a>
                                                </div>
                                            </td>

                                            <td>
                                                <div class="d-flex">
                                                    <a href="/admin/students/<%=student.id%>" target="_blank"
                                                        class="btn-shadow shadow rounded-circle btn-sm text-white btn-primary btn"><i
                                                            class="fas fa-external-link-square-alt"></i></a>
                                                    <button id="changeActiveStudent-<%=student.id%>"
                                                        class=" ml-2 btn-shadow shadow rounded-circle btn-sm text-white btn-dark btn"
                                                        onclick="changeActive('<%=student.id%>')">
                                                        <i class="fas <%=student.active ? 'fa-trash' : 'fa-undo'%>"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <%})%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>



    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('select').select2();
        });

        var selectBoxSearch = [2, 4, 5];
        $('#studenttable').dataTable({
            searching: true,
            paging: true,
            pageLength: 50,
            info: false,
            scrollCollapse: true,
            scrollY: '60vh',
            fixedHeader: true,
            bSort: false,
            initComplete: function () {
                // Apply the search
                this.api().columns().every(function (index) {
                    if (selectBoxSearch.includes(index)) {
                        var column = this;
                        var select = $('<select class="form-control-sm form-control"><option value=""></option></select>')
                            .appendTo($(column.header()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            console.log(d)
                            if (d.includes('>')) {
                                let s = d.split('>')
                                select.append(`<option value="${s[1].replace('</a')}">${s[1].replace('</a', '')}</option>`)
                            }
                            else {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            }
                        });
                    }

                    var that = this;
                    $('input', this.header()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            },
           
        });

        function changeActive(id) {
            iziToast.question({
                overlay: true,
                toastOnce: true,
                id: 'question',
                title: 'Hey',
                message: 'Are you sure?',
                position: 'center',
                buttons: [
                    ['<button><b>YES</b></button>', function (instance, toast) {
                        call(id)
                        instance.hide({ transitionOut: 'fadeOut' }, toast)
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {
                        instance.hide({ transitionOut: 'fadeOut' }, toast);
                    }]
                ]
            });

        }
        const call = (id) => {
            fetch(`/admin/user/${id}`, {
                method: 'DELETE'
            })
                .then(res => res.json())
                .then(json => {
                    if (json.status === 200) {
                        iziToast.info({
                            message: json.message
                        })
                        $(`#activeBadge-${id}`).text(json.active ? 'ACTIVE' : 'INACTIVE')
                        document.querySelector(`#activeBadge-${id}`).classList.remove('badge-success')
                        document.querySelector(`#activeBadge-${id}`).classList.remove('badge-danger')
                        document.querySelector(`#activeBadge-${id}`).classList.add(json.active ? 'badge-success' : 'badge-danger')
                        $(`#changeActiveStudent-${id}`).empty()
                        $(`#changeActiveStudent-${id}`).append(`
                            <i class="fas ${json.active ? 'fa-trash' : 'fa-undo'}"></i>
                        `)
                    } else {
                        iziToast.error({
                            message: json.message
                        })
                    }
                })
                .catch(err => {
                    console.log(err)
                })
        }
    </script>

</body>

</html>