<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
        integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <%-include('../partials/config')%>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-home icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>Student Access Reports
                                    <div class="page-title-subheading">
                                        <div class="d-flex justify-content-center ">
                                            track student activity by their access logs from time range.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <form action="/admin/studentReport" method="POST">
                                <div class="form-group">
                                    <label for="college">Select College</label>
                                    <select class="form-control" name="college" id="college" required>
                                        <%colleges.forEach(college => {%>
                                        <option value="<%=college.id%>"><%=college.name%></option>
                                        <%})%>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="specialization">Select Specialization</label>
                                    <select class="form-control" name="specialization" id="specialization" required>
                                        <%specializations.forEach(specialization => {%>
                                        <option value="<%=specialization.id%>"><%=specialization.name%></option>
                                        <%})%>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="semester">Select Semester</label>
                                    <select class="form-control" name="semester" id="semester" required>
                                        <%semesters.forEach(semester => {%>
                                        <option value="<%=semester%>"><%=semester%></option>
                                        <%})%>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="courseType">Select Course Type</label>
                                    <select class="form-control" name="courseType" id="courseType" required>
                                        <%courseTypes.forEach(course => {%>
                                        <option value="<%=course%>"><%=course%></option>
                                        <%})%>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label for="from">Start Date</label>
                                        <input class="form-control" type="datetime-local" name="from" id="from"
                                            required>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="to">End Date</label>
                                        <input class="form-control" type="datetime-local" name="to" id="to" required>
                                    </div>
                                </div>
                                <br>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-outline-primary text-uppercase" type="submit">Go get me
                                        report <i class="fas fa-arrow-right"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('select').select2();
        });
    </script>

</body>

</html>