<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Report</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
        integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
        crossorigin="anonymous" />
</head>

<body>

    <%-include('../partials/config')%>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-home icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>Student Access Reports
                                    <div class="page-title-subheading">
                                        <div class="d-flex justify-content-center ">
                                            Track student activity by their access logs from time range.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <span class="card-title">
                                Generated Reports for Following details
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <div class="pt-8 pb-6">
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <span class="font-weight-bold ">College Name:</span>
                                            <a href="#" class="-text-primary"
                                                style="text-decoration: none;"><%=college%></a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <span class="font-weight-bold">Specialization:</span>
                                            <span class="badge-alternate badge"><%=specialization%></span>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span class="font-weight-bold ">Semester:</span>
                                            <span class="badge badge-dark"><%=semester%></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="pt-8 pb-6">
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <span class="font-weight-bold ">Start Date:</span>
                                            <a href="#" class="badge badge-info"><%=formatDateMoment(startDate)%></a>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <span class="font-weight-bold ">End Date:</span>
                                            <span class="badge badge-danger"><%=formatDateMoment(endDate)%></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <h3>Reports</h3>
                    <hr>
                    <div class="card shadow main-card mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="studenttables" class="table table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Full Name</th>
                                            <th>Course Name</th>
                                            <%if(courseType === 'IBM Courses'){%>
                                            <th>Unit No</th>
                                            <th>Topic No</th>
                                            <th>Topic Name</th>
                                            <%}else{%>
                                            <th>Chapter No</th>
                                            <th>Chapter Name</th>
                                            <th>Lesson No</th>
                                            <th>Lesson Name</th>
                                            <%}%>
                                            <th>Contact</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th>Date</th>
                                            <th>Full Name</th>
                                            <th>Course Name</th>
                                            <%if(courseType === 'IBM Courses'){%>
                                            <th>Unit No</th>
                                            <th>Topic No</th>
                                            <th>Topic Name</th>
                                            <%}else{%>
                                            <th>Chapter No</th>
                                            <th>Chapter Name</th>
                                            <th>Lesson No</th>
                                            <th>Lesson Name</th>
                                            <%}%>
                                            <th>Contact</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% const colors = ["g", "alternate", "info", "success", "primary", "warning", "dark", "secondary", "soft-link", "soft-dark", "soft-info", "soft-warning", "soft-danger", "soft-success", "soft-secondary", "soft-primary"] %>
                                            <%data.forEach((log, index) => {%>
                                        <tr>
                                            <td><%= ++index %> </td>
                                            <td class="text-dark"><%= formatDateMoment(log.loggedAt) %></td>
                                            <td><b class="text-secondary"> <%=log.firstName + ' ' + log.lastName%></b>
                                            </td>
                                            <td> <%=log.courseName%></td>
                                            <%if(courseType === 'IBM Courses'){%>
                                            <td> <span class="badge badge-<%= colors[log.unitNumber]%> ">
                                                    <%=log.unitNumber%></span> </td>
                                            <td> <%=log.topicSerialNumber%></td>
                                            <td> <%=log.topicName%></td>
                                            <%}else{%>
                                            <td><%=log.chapterNumber%></td>
                                            <td><%=log.chapterName%></td>
                                            <td><%=log.lessonNumber%></td>
                                            <td><%=log.lessonName%></td>
                                            <%}%>
                                            <td>

                                                <div class="d-flex">
                                                    <a href="mailto:<%=log.email%>" class=" btn btn-sm btn-danger"
                                            style="background-color: maroon;"
                                            data-original-title="<%=log.email%>"
                                            aria-describedby="tooltip232856" data-toggle="tooltip" title=""
                                            data-placement="top">
                                            <i style=" color: white;" class="fas fa-envelope"></i>
                                            </a>
                                            <a href="tel:<%=log.contactNumber%>" class="ml-2 btn btn-sm btn-dark"
                                                data-original-title="<%=log.contactNumber%>"
                                                aria-describedby="tooltip232856" data-toggle="tooltip" title=""
                                                data-placement="top">
                                                <i class="fas fa-phone"></i>
                                            </a>
                            </div>
                            </td>
                            </tr>
                            <%})%>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
        integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
        crossorigin="anonymous"></script>
    <script>
        var selectBoxSearch = [3, 6];

        $('#studenttables').dataTable({
            searching: true,
            paging: true,
            pageLength: 50,
            info: false,
            scrollCollapse: true,
            scrollY: '60vh',
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            fixedHeader: true,
            bSort: false,
            initComplete: function () {
                // Apply the search
                this.api().columns().every(function (index) {
                    if (selectBoxSearch.includes(index)) {
                        var column = this;
                        var select = $('<select class="form-control-sm form-control"><option value=""></option></select>')
                            .appendTo($(column.header()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            if (d.includes('>')) {
                                let s = d.split('>')
                                select.append(`<option value="${s[1].replace('</a')}">${s[1].replace('</a', '')}</option>`)
                            }
                            else {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            }
                        });
                    }

                    var that = this;
                    $('input', this.header()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            }
        })
        $(document).ready(function () {
            $('select').select2();
        });
    </script>


</body>

</html>