<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=course.name%></title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/academiccourse.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>

<style>
    button,
    .btn {
        outline: none !important;
    }

    .list-group-item:hover {
        z-index: initial;
    }

    .btn {
        font-size: 0.8rem;
        font-weight: 500;
    }

    .btn-transition {
        color: #6c757d;
        border-color: #e9ecef;
        background-color: none;
    }

    .btn-transition:disabled {
        color: #6c757d;
        border-color: #e9ecef;
    }

    .btn-outline-success {
        color: #3ac47d;
        border-color: #3ac47d;
    }

      .movable-placeholder {
        background: rgb(255, 255, 255);
        width: 100%;
        height: 30px;
        display: block;
        margin: 0 0 15px 0;
        border-style: dashed;
        border-width: 2px;
        border-color: rgb(98, 97, 97);
    }
    .btn-outline-success:hover {
        color: #fff;
        background-color: #3ac47d;
        border-color: #3ac47d;
    }

    .btn-outline-success:focus {
        box-shadow: 0 0 0 0 rgba(58, 196, 125, 0.5);
    }

    .btn-outline-success:disabled {
        color: #3ac47d;
        background-color: transparent;
    }

    .btn-outline-danger {
        color: #d92550;
        border-color: #d92550;
    }

    .btn-outline-danger:hover {
        color: #fff;
        background-color: #d92550;
        border-color: #d92550;
    }

    .btn-outline-danger:focus {
        box-shadow: 0 0 0 0 rgba(217, 37, 80, 0.5);
    }

    .btn-outline-danger:disabled {
        color: #d92550;
        background-color: transparent;
    }

    .btn {
        position: relative;
        transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    }

    @media screen and (prefers-reduced-motion: reduce) {
        .btn {
            transition: none;
        }
    }

    .badge {
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px 10px;
        min-width: 19px;
    }

    .widget-content {
        padding: 1rem;
        flex-direction: row;
        align-items: center;
    }

    .widget-content .widget-content-wrapper {
        display: flex;
        flex: 1;
        position: relative;
        align-items: center;
    }

    .widget-content .widget-content-left .widget-heading {
        opacity: .8;
        font-weight: bold;
    }

    .widget-content .widget-content-left .widget-subheading {
        opacity: .5;
    }

    .widget-content .widget-content-right {
        margin-left: auto;
    }

    .widget-content .widget-content-right.widget-content-actions {
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s;
    }

    .widget-content:hover .widget-content-right.widget-content-actions {
        visibility: visible;
        opacity: 1;
    }

    .fa {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }

    .fa {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
    }

    .fa-check:before {
        content: "\f00c";
    }

    .fa-trash-alt:before {
        content: "\f2ed";
    }

    /*! CSS Used from: Embedded */
    .cke {
        visibility: hidden;
    }
</style>

<body>

    <%-include('../partials/config')%>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="">
            <div class="">
                <div class="">
                    <header class="header header-transparent uk-light"
                        style=" position: relative; background-color: #3659a2 !important;"
                        uk-sticky="top:20 ; cls-active:header-sticky ; cls-inactive: uk-light">

                        <div class="container">
                            <nav uk-navbar="" class="uk-navbar">
                                <div class="uk-navbar-left">
                                    <nav id="breadcrumbs">
                                        <ul>
                                            <li><a href="/faculty/academicCourses"> Academic Courses </a></li>
                                            <li><a href="#"><%=course.name%></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <!-- container  / End -->
                    </header>
                    <div class="page-content">
                        <div class="course-details-wrapper topic-1 uk-light pt-5">
                            <div class="container p-sm-0">
                                <div uk-grid="" class="uk-grid uk-grid-stack">
                                    <div class="uk-width-2-3@m uk-first-column">
                                        <div class="course-details">
                                            <h1><%=course.name%></h1>
                                            <p><%=course.description%></p>
                                            <div class="course-details-info">
                                                <ul>
                                                    <li> Created by <a href="#"> <%=course.creatorName%> </a> </li>
                                                    <li> On <%=formatDateMoment(course.createdAt)%></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <nav class="responsive-tab style-5">
                                            <ul
                                                uk-switcher="connect: #course-intro-tab ;animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium">
                                                <li class="uk-active"><a href="#" aria-expanded="false">Curriculum</a>
                                                </li>

                                            </ul>
                                        </nav>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="container">
                            <div class="uk-grid-large mt-4 uk-grid" uk-grid="">
                                <div class="uk-width-2-3@m uk-first-column">
                                    <div class="main-card mb-3 border ">
                                        <div class="card-header d-flex justify-content-between">
                                            <h5 class="card-title">Chapters in this course</h5>
                                            <%if(course.isCreator){%>
                                            <button data-toggle="modal" data-target="#AddUnit" type="button"
                                                class="btn btn-sm btn-light">Add
                                                Chapter</button>
                                            <%}%>
                                        </div>
                                        <div id="sortable" class="card-body">
                                            <% var chapters; %>
                                            <%  if(course.chapters.length === 0 && !course.isCreator) {%>
                                            <div class="container-fluid">
                                                <article>
                                                    <div class="d-flex flex-row justify-content-center">
                                                        <img style="width: 250px;"
                                                            src="../../assets/images/undraw_empty.svg" alt="">
                                                    </div>
                                                    <br>
                                                    <div class="text-center">
                                                        <h6 class="text-muted">Not able to find any <span
                                                                class="text-danger">Chapter</span> in this Course
                                                        </h6>

                                                    </div>
                                                </article>
                                            </div>
                                            <% } else if(course.chapters.length === 0 && course.isCreator) {%>
                                            <div class="container-fluid">
                                                <article>
                                                    <div class="d-flex flex-row justify-content-center">
                                                        <img style="width: 250px;"
                                                            src="../../assets/images/undraw_empty.svg" alt="">
                                                    </div>
                                                    <br>
                                                    <div class="text-center">
                                                        <h6 class="text-muted">Please add
                                                            Chapter by clicking on <span class="text-danger">Add
                                                                Chapter</span> Button
                                                        </h6>

                                                    </div>
                                                </article>
                                            </div>
                                            <%} else {%>
                                            <%  chapters = course.chapters.sort((a, b) => parseInt(a.number) - parseInt(b.number)); %>
                                            <%chapters.forEach(chapter => {%>
                                            <div id="exampleAccordion" data-id="<%=chapter.id%>" data-children=".item">
                                                <div class="card mb-3">
                                                    <div class="card-header d-flex justify-content-between">
                                                        <%if(course.isCreator){%>
                                                        <div class="handle flex-center" id="move">
                                                            <i class="fa fa-bars"></i>
                                                        </div>
                                                        <% } %>
                                                        <button type="button" aria-expanded="false"
                                                            aria-controls="exampleAccordion1" data-toggle="collapse"
                                                            href="#id-<%=chapter.id%>"
                                                            class="m-0 p-0 btn btn-link collapsed"><%= chapter.name %>
                                                        </button>
                                                        <%if(course.isCreator){%>
                                                        <div class="d-flex justify-content-end">
                                                            <button data-toggle="modal" data-target="#AddLesson"
                                                                type="button" class="btn btn-sm btn-light"
                                                                onclick="updateChapterId('<%=chapter.id%>')">Add
                                                                Lesson</button>
                                                            <a href="#" class="btn btn-sm btn-link" data-toggle="modal"
                                                                data-target="#UpdateUnit"
                                                                onclick="fetchChapter('<%= chapter.id%>')"><i
                                                                    class="fas fa-edit"></i></a>
                                                        </div>
                                                        <%}%>
                                                    </div>
                                                    <div class="card-body item collapse" data-parent="#exampleAccordion" id="id-<%=chapter.id%>">
                                                        <div class="scroll-area-md" 
                                                        >
                                                            <div class="scrollbar-container ps--active-y ps">
                                                                <ul class="list-group list-group-flush border">
                                                                    <% if(chapter.lessons.length === 0 && !course.isCreator) {%>
                                                                    <div class="container-fluid">
                                                                        <article>
                                                                            <div
                                                                                class="d-flex flex-row justify-content-center">
                                                                                <img style="width: 250px;"
                                                                                    src="../../assets/images/undraw_empty.svg"
                                                                                    alt="">
                                                                            </div>
                                                                            <br>
                                                                            <div class="text-center">
                                                                                <h6 class="text-muted">Not able to find
                                                                                    any <span
                                                                                        class="text-danger">Lesson</span>
                                                                                    in this Chapter
                                                                                </h6>

                                                                            </div>
                                                                        </article>
                                                                    </div>
                                                                    <% } else if(chapter.lessons.length === 0 && course.isCreator) {%>
                                                                    <div class="container-fluid">
                                                                        <article>
                                                                            <div
                                                                                class="d-flex flex-row justify-content-center">
                                                                                <img style="width: 250px;"
                                                                                    src="../../assets/images/undraw_empty.svg"
                                                                                    alt="">
                                                                            </div>
                                                                            <br>
                                                                            <div class="text-center">
                                                                                <h6 class="text-muted">Please add
                                                                                    lesson by clicking on <span
                                                                                        class="text-danger">Add
                                                                                        Lesson</span> Button
                                                                                </h6>

                                                                            </div>
                                                                        </article>
                                                                    </div>
                                                                    <%} else {%>

                                                                    <%chapter.lessons.sort((a, b) => parseInt(a.number) - parseInt(b.number)).forEach(topic => {%>
                                                                    <li class="list-group-item" id="<%=topic.id %>">
                                                                        
                                                                        <div class="widget-content p-0">
                                                                            <div class="widget-content-wrapper">
                                                                               
                                                                                <div class="widget-content-left mr-2">
                                                                                    <%=topic.number%>:
                                                                                </div>
                                                                                <div class="widget-content-left">
                                                                                    <a target="_blank"
                                                                                        href="/faculty/academicCourses/<%=course.id%>/<%=chapter.id%>/<%=topic.id%>"
                                                                                        class="widget-heading text-primary"><%=topic.name%>

                                                                                    </a>
                                                                                    <div class="widget-subheading">
                                                                                        <i>Read time:
                                                                                            <%=topic.duration%> min</i>
                                                                                    </div>
                                                                                </div>
                                                                                <% if(course.isCreator){ %>
                                                                                <div
                                                                                    class="widget-content-right widget-content-actions">
                                                                                    <button data-toggle="modal"
                                                                                        data-target="#UpdateLesson"
                                                                                        onclick="fetchLesson('<%=topic.id%>')"
                                                                                        class="border-0 btn-transition btn btn-sm btn-outline-success p-2">
                                                                                        <i class="fa fa-edit"></i>
                                                                                    </button>
                                                                                    <button
                                                                                        onclick="deleteLesson('<%=topic.id%>')"
                                                                                        class="border-0 btn-transition btn btn-sm btn-outline-danger p-2">
                                                                                        <i class="fa fa-trash"></i>
                                                                                    </button>
                                                                                </div>
                                                                                <% } %>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <%})}%>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                   
                                            </div>
                                        </div>
                                    </div>
                                    <%})}%>
                                </div>
                            </div>
                        </div>

                        <div class="uk-width-1-3@m">
                            <div class="course-card-trailer uk-sticky uk-active uk-sticky-fixed"
                                style=" top: 95px; width: 330px;position: relative;">
                                <div class="course-thumbnail">
                                    <img id="img" src="/uploads/courseImages/<%=course.imageSource%>" alt="">
                                </div>
                                <div class="p-3">
                                    <p class="uk-text-bold"> This Course is designed for</p>
                                    <!-- <div class="uk-grid-small uk-grid">
                                        <select class="js-example-basic-multiple col-12" name="states[]" multiple="multiple">
                                            <option value="AL">Alabama</option>
                                            ...
                                            <option value="WY">Wyoming</option>
                                            <option value="sWY">Wyoming</option>
                                            <option value="WsY">Wyoming</option>
                                        </select>
                                    </div> -->
                                    <div class=" uk-grid-small uk-grid" uk-grid="">
                                        <div class="uk-grid-margin uk-first-column">
                                            <span class="badge badge-primary">
                                                <%=course.specializationName%>
                                            </span>
                                        </div>
                                        <div class="uk-grid-margin">
                                            <span class="badge badge-dark">
                                                <strong>semester</strong>
                                                <%=course.semester%> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="uk-sticky-placeholder" style="height: 569px; margin: 0px;">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- modal for adding unit -->
    <%if(course.isCreator){%>
    <div class="modal fade" id="AddUnit" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Chapter Creation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" onclick="load()">×</span>
                    </button>
                </div>
                <div id="chapterBody" class="modal-body">
                    <form action="/faculty/academicCourses/<%=course.id%>/addChapter" method="POST">
                        <div class="form-group">
                            <label for="name">Chapter name</label>
                            <input type="text" class="form-control" name="name" id="name" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-capitalize" data-dismiss="modal"
                                onclick="">cancel</button>
                            <button type="submit" class="btn btn-primary text-capitalize">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="UpdateUnit" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle2">Chapter Creation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" onclick="load()">×</span>
                    </button>
                </div>
                <div id="UpdatechapterBody" class="modal-body">
                    <div id="uchapterb">
                        <div class="form-group">
                            <label for="name">Chapter name</label>
                            <input type="text" class="form-control" name="name" id="uname" required>
                            <input id="uChapterId" value="" type="hidden" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary text-capitalize"
                                data-dismiss="modal">cancel</button>
                            <button onclick="updateChapter()" class="btn btn-primary text-capitalize"
                                data-dismiss="modal">Update
                                Chapter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%}%>
    <!-- end  -->

    <!-- modal for adding lessons -->
    <%if(course.isCreator){%>
    <div class="modal fade" id="AddLesson" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Lesson Creation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" onclick="load()">×</span>
                    </button>
                </div>
                <div id="lessonBody" class="modal-body">
                    <form id="addLessonForm">
                        <div class="container">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="lessonName"><b class="text-danger">* </b>Name</label>
                                    <div>
                                        <input type="text" class="form-control" name="name" id="lessonName" required>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lessonDuration"><b class="text-danger">*</b>
                                        Duration</label>
                                    <div>
                                        <input class="form-control" type="number" name="duration" id="lessonDuration"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="lessonOutcome"><b class="text-danger">*</b>
                                        Outcome</label>
                                    <input class="form-control" type="text" name="outcome" id="lessonOutcome"
                                        required />
                                </div>
                                <div class="col-md-12 form-row">
                                    <textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-end">
                                <input id="lessonChapterId" value="" hidden required />
                                <button type="submit" class="btn btn-primary text-capitalize mt-2">Add Lesson</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="UpdateLesson" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle1"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" onclick="load()">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="loader" class="container-fluid">
                        <article>
                            <div class="d-flex flex-row justify-content-center">
                                <img style="width: 300px;"
                                    src="https://cdn.dribbble.com/users/117609/screenshots/4235152/dribble-guy-cloud-800x600.gif"
                                    alt="">
                            </div>
                            <br>
                            <div class="text-center">
                                <h4 class="text-muted">Please wait, while we
                                    <span class="text-danger">Fetch</span> your content
                                </h4>
                            </div>
                        </article>
                    </div>
                    <div style="display: none;" class="container" id="lessonBody1">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lessonName"><b class="text-danger">* </b>Name</label>
                                <div>
                                    <input type="text" class="form-control" name="name" id="ulessonName" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lessonDuration"><b class="text-danger">*</b>
                                    Duration</label>
                                <div>
                                    <input class="form-control" type="number" name="duration" id="ulessonDuration"
                                        required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="lessonOutcome"><b class="text-danger">*</b>
                                    Outcome</label>
                                <input class="form-control" type="text" name="outcome" id="ulessonOutcome" required />
                                <input id="uLessonId" value="" type="hidden" />

                            </div>
                            <div class="col-md-12 form-row">
                                <textarea name="editor2" id="editor2" rows="10" cols="85">
                                </textarea>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-end">
                            <button class="mt-2 mr-2 btn btn-sm btn-secondary" data-dismiss="modal">cancel</button>
                            <button onclick="updateLesson()" class="btn btn-primary text-capitalize mt-2"
                                data-dismiss="modal">Update
                                Lesson</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%}%>
    <!-- end -->
    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
                $('.js-example-basic-multiple').select2();
            });
        if (window.screen.width > 768) {
            $('.uk-sticky').css('position', 'fixed')
        }

        let editor;
        CKEDITOR.config.extraPlugins = 'html5video';

        CKEDITOR.replace('editor1', {
            removeButtons: 'Source',
            width: '100%',
        })

        $(".modal").removeAttr("tabindex");

        function updateChapterId(id) {
            $('#lessonChapterId').val(id)
        }

        $('#addLessonForm').submit(function (e) {
            e.preventDefault()
            const chapterId = $('#lessonChapterId').val()
            const url = `/faculty/academicCourses/<%=course.id%>/${chapterId}/addLesson`

            const obj = {
                name: $('#lessonName').val(),
                outcome: $('#lessonOutcome').val(),
                duration: Number($('#lessonDuration').val()),
                content: CKEDITOR.instances.editor1.getData()
            }

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(obj)
            }).then(res => res.json())
                .then(json => {
                    if (json.status === 201) {
                        location.reload(true)
                    } else if (status === 500) {
                        iziToast.error({
                            title: 'Error',
                            message: err.message || 'Something Went Wrong!',
                            position: 'topRight',
                            timeout: 10000
                        })
                        location.href = '/'
                    } else {
                        iziToast.error({
                            title: 'Error',
                            message: err.message || 'Something Went Wrong!',
                            position: 'topRight',
                            timeout: 10000
                        })
                    }
                }).catch(err => console.log(err))
        })


        const fetchLesson = (lid) => {
            fetch(`/faculty/academicCourses/lesson/${lid}`).then(res => res.json())
                .then(json => {
                    if (json.status === 200) {
                        $('#loader').hide()
                        $('#lessonBody1').show()
                        CKEDITOR.replace('editor2', {
                            removeButtons: 'Source',
                            width: '100%'
                        })
                        CKEDITOR.instances['editor2'].setData(json.lesson.content)
                        $('#ulessonName').val(json.lesson.name)
                        $('#ulessonDuration').val(json.lesson.duration)
                        $('#ulessonOutcome').val(json.lesson.outcome)
                        $('#exampleModalLongTitle1').text(`Edit lesson -> ${json.lesson.name}`)
                        $('#uLessonId').val(json.lesson.id)

                    } else if (json.status === 500) {
                        iziToast.error({
                            title: 'Error',
                            message: json.message || 'Something Went Wrong!',
                            position: 'topRight',
                            timeout: 10000
                        })
                    } else {
                        iziToast.error({
                            title: 'Error',
                            message: json.message || 'Something Went Wrong!',
                            position: 'topRight',
                            timeout: 10000
                        })
                    }
                }).catch(err => console.log(err))
        }

        const fetchChapter = (cid) => {
            fetch(`/faculty/academicCourses/chapter/${cid}`).then(res => res.json())
                .then(json => {
                    if (json.status === 200) {
                        $('#exampleModalLongTitle2').text(`Update Chapter -> ${json.chapter.name}`);
                        $('#uname').val(json.chapter.name)
                        $('#uChapterId').val(json.chapter.id)
                    } else if (status === 500) {
                        iziToast.error({
                            title: 'Error',
                            message: json.message || 'Something Went Wrong!',
                            position: 'topRight',
                            timeout: 10000
                        })
                        location.href = '/'
                    } else {
                        iziToast.error({
                            title: 'Error',
                            message: json.message || 'Something Went Wrong!',
                            position: 'topRight',
                            timeout: 10000
                        })
                    }
                }).catch(err => console.log(err))
        }

        const updateChapter = () => {

            let name = $('#uname').val()
            fetch('/faculty/academicCourses/chapter/' + $('#uChapterId').val(), {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name })
            }).then(res => res.json())
                .then(json => {
                    if (json.status === 200) {
                        iziToast.success({
                            title: 'Updated',
                            message: 'chapter name updated successfully',
                            timeout: 10000
                        })
                        location.reload(true)
                    } else
                        iziToast.error({
                            title: 'Error',
                            message: json.message || 'Something Went Wrong!',
                            position: 'topRight',
                            timeout: 10000
                        })
                }).catch(err => console.log(err))
        }

        const updateLesson = () => {
            let data = {
                name: $('#ulessonName').val(),
                duration: $('#ulessonDuration').val(),
                outcome: $('#ulessonOutcome').val(),
                content: CKEDITOR.instances.editor2.getData()
            }
            fetch('/faculty/academicCourses/lesson/' + $('#uLessonId').val(), {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ data })
            }).then(res => res.json())
                .then(json => {
                    if (json.status === 200) {
                        iziToast.success({
                            title: 'Lesson Updated successfully',
                            message: 'reload the page to see changes'
                        })
                    } else
                        iziToast.error({
                            title: 'Error',
                            message: json.message || 'Something Went Wrong!',
                            position: 'topRight',
                            timeout: 10000
                        })
                }).catch(err => console.log(err))
        }

        const deleteLesson = (id) => {
            iziToast.question({
                timeout: 20000,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: 'Do you really want to delete?',
                message: 'you will not be able to restore it again.',
                position: 'center',
                buttons: [
                    ['<button><b>Sure Delete it</b></button>', function (instance, toast) {

                        fetch('/faculty/academicCourses/lesson/' + id, {
                            method: 'DELETE'
                        }).then(res => res.json())
                            .then(json => {
                                if (json.status === 200) {
                                    iziToast.success({
                                        title: 'deleted successfully',
                                        message: 'lesson deleted successfully',
                                        timeout: 10000
                                    })
                                    location.reload(true)
                                } else
                                    iziToast.error({
                                        title: 'Error',
                                        message: json.message || 'Something Went Wrong!',
                                        position: 'topRight',
                                        timeout: 10000
                                    })
                            }).catch(err => console.log(err))
                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                    }, true],
                    ['<button>NO</button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                    }],
                ],
                onClosing: function (instance, toast, closedBy) {
                    console.info('Closing | closedBy: ' + closedBy);
                },
                onClosed: function (instance, toast, closedBy) {
                    console.info('Closed | closedBy: ' + closedBy);
                }
            });
        }

    </script>
    <%if (course.isCreator) {%>
    <script>
           $("#sortable").sortable({
                containment: "parent",
                items: "> div",
                handle: "#move",
                tolerance: "pointer",
                cursor: "move",
                placeholder: "movable-placeholder",
                start: function (e, ui) {
                    ui.placeholder.height(ui.helper.outerHeight());
                },
                stop: function (event, ui) {
                if (ui.item[0].attributes[1].nodeValue) {
                    const number = ui.item.index()
                    $("#sortable").sortable('disable');
                    fetch('/faculty/academicCourses/chapter/' + ui.item[0].attributes[1].nodeValue, {
                        method: 'PATCH',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ number: parseInt(number) + 1 })
                    }).then(res => res.json())
                        .then(json => {
                            $("#sortable").sortable('enable');
                            if (json.status === 200) {
                                iziToast.success({
                                    message: 'Order Updated Successfully!',
                                    timeout: 2500
                                })
                            } else
                                iziToast.error({
                                    title: 'Error',
                                    message: json.message || 'Something Went Wrong!',
                                    position: 'topRight',
                                    timeout: 10000
                                })
                        }).catch(err => (console.log(err)))
                }
                else {
                    iziToast.error({
                        title: 'Error',
                        message: json.message || 'Something Went Wrong! Please try again later',
                        position: 'topRight',
                        timeout: 10000
                    })
                }
            }
            });

            // Sort the children
            $(".list-group-flush").sortable({
                items: "> li",
                tolerance: "pointer",
                containment: "parent",
                placeholder: "movable-placeholder",
                 start: function (e, ui) {
                    ui.placeholder.height(ui.helper.outerHeight());
                },
                stop: function (event, ui) {
                    if (ui.item[0].attributes[1].nodeValue) {
                        const number = ui.item.index() + 1
                        console.log(number, ui.item[0].attributes[1].nodeValue)
                    }
                }
            });

    </script>
    <%}%>
</body>


</html>