<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Academic Course</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>

<body>

    <%-include('../partials/config')%>


    
    <%-include('../partials/config')%>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-book-reader icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>Manage Course Details
                                    <div class="page-title-subheading">
                                        <div class="d-flex justify-content-center ">
                                            Update course details and Add, View, Manage units in the course.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="page-title-actions">

                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="card col-12">
                            <div class="card-header">
                                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                    <i class="header-icon fas fa-university icon-gradient bg-happy-itmeo"></i>
                                    Course Details
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="/faculty/addAcademicCourse" method="POST" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="col-12">
                                                <img id="output" src="" style="width: 100%; height: 200px;" />
                                            </div>
                                            <hr>
                                            <div class="form-group">
                                                <input type="file" id="image" name="image" class="form-control-file"
                                                    accept="image/*" onchange="loadFile(event)">
                                                <small class="form-text"><b class="text-danger">*</b>
                                                    only png,
                                                    jpeg,
                                                    jpg format
                                                    accepted.
                                                </small>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="courseName"><b class="text-danger">*</b> Course
                                                        Name</label>
                                                    <div>
                                                        <input type="text" class="form-control" name="name"
                                                            id="courseName" value="" required="">
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="logoSource"><b class="text-danger">*</b> Course
                                                        Description</label>
                                                    <textarea class="form-control" name="description"
                                                        style="height: 100px;"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="semester"><b class="text-danger">*</b> Select
                                                        Semester</label>
                                                    <div>
                                                        <select class="form-control" name="semester" id="semester"
                                                            required>
                                                            <%semesters.forEach(sem => {%>
                                                            <option value="<%=sem%>"><%=sem%></option>
                                                            <%})%>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="specialization"><b class="text-danger">*</b>Select
                                                        Specialization</label>
                                                    <div>
                                                        <select class="form-control" name="specializationId"
                                                            id="specializationId" required>
                                                            <%specializations.forEach(sp => {%>
                                                            <option value="<%=sp.id%>"><%=sp.name%></option>
                                                            <%})%>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class=" d-flex justify-content-end">
                                                <button type="submit" style=" text-decoration: none;"
                                                    class="btn btn-lg text-black btn-link">Create
                                                    Course</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                            <%-include('../partials/footerpage.ejs')%>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script>
        var loadFile = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('output');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
    </script>
</body>

</html>