<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Question(QuizMania)</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="stylesheet" href="/css/addquiz.css"> 
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>


<body>

    <%-include('../partials/config')%>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                     <div class="d-flex justify-content-end">
                                <div class="d-inline-block">
                                    <button data-toggle="modal" data-target="#importStudentModal" type="button"
                                        class="btn btn-lg btn-primary mb-2">
                                        <span class="btn-icon-wrapper pr-2 opacity-7">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        Import Questions
                                    </button>
                                </div>
                            </div>
                    <div class="page-separator">
                        <div class="page-separator__text">Add New Questions</div>
                    </div>
                    <div class="container-fluid">
                        <div class="row mt-4"></div>
                        <form class="quiz" method="POST" action="/faculty/quiz/<%=quizId%>/addQuestion">
                            <input type="hidden" id="descInput" name="questionDescription">
                            <div class="card">
                                <div class="card-header">
                                    <p class="card-title">
                                        Question breif Description (required)
                                    </p>
                                </div>
                                <div class="card-body">
                                    <div class="position-relative form-group">
                                        <div onkeyup="setData()" class="border" id="editor">design your question
                                            here.
                                            you can also drag and
                                            drop images here.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <p class="card-title">Question Type (required)</p>
                                </div>
                                <div class="p-1">
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <div class="inputGroup">
                                                <input value="single" id="radio1" name="questionType" type="radio" />
                                                <label for="radio1">Single select</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-6">
                                            <div class="inputGroup">
                                                <input value="multi" id="radio2" name="questionType" type="radio" />
                                                <label for="radio2">Multiple select </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <p class="card-title">Answers (required)</p>
                                    <a class="btn btn-secondary" id="addOptionBtn"><i class="fas fa-plus"></i> Add
                                        Option</a>
                                </div>
                                <div class="card-body" id="optionBox" style="background-color: #F5F5F5;">

                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <button class="btn btn-outline-primary" type="submit">Save Question <i
                                        class="fas fa-arrow-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                            <%-include('../partials/footerpage.ejs')%>

            </div>
        </div>
    </div>

    <!-- questions import modal -->
        <div class="modal" id="importStudentModal" tabindex="-1" role="dialog" aria-labelledby="importStudentModal"
        style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/faculty/quiz/<%=quizId%>/importQuestion" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row" style="border:4px dashed #cccccc; margin:10px;">
                            <div class="col-md-12 text-center" style="padding:20px;background-color:#f2f2f2">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <a href="#" class="center">
                                            <h3>Import Questions</h3>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="col-12">
                                        <br>
                                        <p class="text-bold-600 text-danger">Supported extension .xlsx</p>
                                        <a href="/uploads/quiz_questions_import_template.xlsx"
                                            download="quiz_questions_import_template.xlsx" class="center btn btn-sm btn-link"
                                            style="background-color: white; text-decoration: none;">Download
                                            Template</a>
                                    </div>
                                    <br />
                                    <div class="form-group col-12">
                                        <label for="file"><b class="text-danger">*</b> Select File</label>
                                        <input type="file" name="file" id="file" class="form-control" accept=".xlsx" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="submitbtn" class="btn btn-dark">Import</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- questions import modal end -->
    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/inline/ckeditor.js"></script>
    <script>


        //initialize editor
        var Neditor;
        InlineEditor
            .create(document.querySelector('#editor'), {
                toolbar: {
                    items: [
                        'heading',
                        '|',
                        'bold',
                        'italic',
                        '|',
                        'bulletedList',
                        'numberedList',
                        '|',
                        'insertTable',
                        '|',
                        'undo',
                        'redo'
                    ]
                },
            })
            .then(editor => {
                Neditor = editor;
                console.log('Editor was initialized', editor);
            })
            .catch(err => {
                console.error(err.stack);
            });


        //declare count variable for id
        var c = 0;
        $('#addOptionBtn').on('click', () => {
            let type = $('input[name=questionType]').is(':checked');
            if (type) {
                if ($('input[name=questionType]:checked').val() === 'single') {
                    c++;
                    (c === 1 ? $('input[name=questionType]').attr('disabled', true) : '')
                    $('#optionBox').append(
                        `
                        <li class="list-group-item mb-2" id="optionidli-${c}">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left col-2 mr-1">
                                        <span class="card-subtitle mb-2">
                                            Options
                                        </span>
                                        <div class="custom-radio custom-control">
                                            <input type="radio" value="${c}" name="correct"
                                                class="custom-control-input" id="correctOptionId-${c}">
                                            <label class="custom-control-label" for="correctOptionId-${c}"
                                                >Correct</label>
                                        </div>
                                    </div>
                                    <div class="widget-content-left col"
                                        style="border-left: 3px solid #7093c9;">
                                        <span class="card-subtitle mb-1">Answer</span>
                                        <input name="option-${c}" id="optionid-${c}"
                                            type="text"
                                            class="form-control align-middle">
                                    </div>
                                    <div class="align-baseline widget-content-right widget-content-actions">
                                        <button onclick="remove('optionidli-${c}')" class="btn-transition btn btn-outline-danger">
                                            <i class="fa fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                `)
                    scrollDown()
                }
                else {
                    c++;
                    (c === 1 ? $('input[name=radio]').attr('disabled', true) : '')
                    $('#optionBox').append(
                        `
                        <li class="list-group-item mb-2" id="optionidli-${c}">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left col-2 mr-1">
                                        <span class="card-subtitle mb-2">
                                            Options
                                        </span>
                                        <div class="custom-checkbox custom-control">
                                            <input type="checkbox" name="correctOption"
                                                class="custom-control-input" value="${c}" id="correctOptionId-${c}">
                                            <label class="custom-control-label" for="correctOptionId-${c}"
                                                >Correct</label>
                                        </div>
                                    </div>
                                    <div class="widget-content-left col"
                                        style="border-left: 3px solid #7093c9;">
                                        <span class="card-subtitle mb-1">Answer</span>
                                        <input name="option-${c}" id="optionid-${c}"
                                            type="text"
                                            class="form-control align-middle" required>
                                    </div>
                                    <div class="align-baseline widget-content-right widget-content-actions">
                                        <button onclick="remove('optionidli-${c}')" class="btn-transition btn btn-outline-danger">
                                            <i class="fa fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                `)
                    scrollDown()
                }

            }
            else {
                iziToast.error({
                    message: 'please select question type first'
                })
            }
        })
        // function for scrolling down after option added
        function scrollDown() {
            $('html, body').animate({
                scrollTop: $(document).height()
            }, 'slow');
        }
        const remove = (id) => {
            $(`#${id}`).remove()
            c--;
            console.log(c)
            if (c === 0) {
                $('input[name=questionType]').attr('disabled', false)
            }
        }

        function setData() {
           $('#descInput').val(Neditor.getData())
        }

     


    </script>
</body>

</html>