<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dropzone.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>

<body>

    <%-include('../partials/config')%>

        <div class="app-container   body-tabs-shadow fixed-sidebar fixed-header">
            <!-- header/ navbar area -->
            <%-include('../partials/header.ejs')%>
                <!-- header/navbar area end -->

                <div class="app-main">
                    <!-- side bar area -->
                    <%-include('../partials/sidebar.ejs')%>
                        <!-- sidebar area end -->
                        <div class="app-main__outer">
                            <div class="app-main__inner">
                                <div class="row">
                                    <div class="col-md-9 col-lg-9">
                                        <div class="content-title d-flex justify-content-between">
                                            <h4>Quick Access</h4>
                                            <a href="#">Total Used: <span id="totalu"></span></a>
                                        </div>

                                        <div id="filterMain" class="row mb-4 justify-content-around">
                                            <div class="col-md-2 text-center">
                                                <div id="1" class="card mb-3">
                                                    <div class="card-body">
                                                        <a href="#images" class="avatar avatar-lg">
                                                            <span class="avatar-title bg-primary rounded-pill">
                                                                <i class="ti-image"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h6>Images</h6>
                                            </div>
                                            <div class="col-md-2 text-center">
                                                <div id="2" class="card mb-3">
                                                    <div class="card-body">
                                                        <a href="#videos" class="avatar avatar-lg">
                                                            <span class="avatar-title bg-secondary rounded-pill">
                                                                <i class="ti-video-camera"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h6>Videos</h6>
                                            </div>
                                            <div class="col-md-2 text-center">
                                                <div id="3" class="card mb-3">
                                                    <div class="card-body">
                                                        <a href="#pdf" class="avatar avatar-lg">
                                                            <span class="avatar-title bg-success rounded-pill">
                                                                <i class="ti-file"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h6>PDF</h6>
                                            </div>
                                            <div class="col-md-2 text-center">
                                                <div id="4" class="card mb-3">
                                                    <div class="card-body">
                                                        <a href="#others" class="avatar avatar-lg">
                                                            <span class="avatar-title bg-warning rounded-pill">
                                                                <i class="ti-files"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h6>Other Documents</h6>
                                            </div>  
                                        </div>

                                        <div class="content-title d-flex justify-content-between">
                                            <h4>Uploads</h4>
                                        </div>
                                        <div class="row" id="storageItems">
                                            <% var pdf = 0;
                                               var video=0;
                                               var image = 0;
                                               var etc = 0;
                                               var pdfs = 0;
                                               var videos=0;
                                               var images = 0;
                                               var etcs = 0;

                                            %> 
                                            <% function formatBytes(bytes, decimals = 2) {

                                                if (bytes === 0) return '0 Bytes';

                                                const k = 1024;
                                                const dm = decimals < 0 ? 0 : decimals;
                                                const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

                                                const i = Math.floor(Math.log(bytes) / Math.log(k));

                                                return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                                            } %> 
                                            <%files.forEach(file=> { %>
                                                <% if(file.mimeType.includes('application') && file.mimeType.substring(12)=='pdf' ){ %>
                                                    <%pdf++; pdfs += file.size %> 
                                                    <div class="col-lg-3 col-md-3 col-sm-12" id="main-card">
                                                        <div class="card" id="pdf">
                                                            <div class="file" style="border-radius: 3px;">
                                                                <div class="hover">
                                                                    <button onclick="copyUrl('<%=file.filename%>')" type="button" class="btn border-danger btn-sm btn-link p-1">
                                                                        <i style="color: #aaa;" class="fas fa-copy"></i>
                                                                    </button>
                                                                    <button onclick="deleteItem('<%=file._id%>')" type="button" class="btn border-danger btn-sm btn-link p-1">
                                                                        <i style="color: red;" class="fas fa-trash"></i>
                                                                    </button>
                                                                </div>
                                                                <span id="type" style="top: 10px;left: -8px;position:absolute;" class="badge badge-pill badge-soft-dark">pdf</span>
                                                                <div class="image">
                                                                    <img src="https://helpdeskgeek.com/wp-content/pictures/2020/04/pdf-file.png" alt="img"
                                                                        class="img-fluid">
                                                                </div>
                                                                <div class="file-name">
                                                                    <a href="/<%=file.url%>" target="_blank">
                                                                        <p class="m-b-5 text-muted"
                                                                            style="overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">
                                                                            <%=file.name%>
                                                                        </p>
                                                                    </a>
                                                                    <small>Size: <%= formatBytes(file.size)%>  <span class="date text-muted"><%=file.createdAt.toDateString()  %> </span></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <%}else if(file.mimeType.includes('video') && file.mimeType.substring(6)=='mp4'){ %>
                                                        <%video++; videos += file.size %>
                                                        <div class="col-lg-3 col-md-3 col-sm-12" id="main-card">
                                                            <div class="card" id="video">
                                                                <div class="file" style="border-radius: 3px;">
                                                                    <div class="hover">
                                                                        <button onclick="copyUrl('<%=file.filename%>')" type="button" class="btn border-danger btn-sm btn-link p-1">
                                                                            <i style="color: #aaa;" class="fas fa-copy"></i>
                                                                        </button>
                                                                        <button onclick="deleteItem('<%=file._id%>')" type="button" class="btn border-danger btn-sm btn-link p-1">
                                                                            <i style="color: red;" class="fas fa-trash"></i>
                                                                        </button>
                                                                    </div>
                                                                    <span id="type" style="top: 10px;left: -8px;position:absolute;" class="badge badge-pill badge-soft-dark">videos</span>
                                                                    <div class="image">
                                                                        <img src="https://cdn.iconscout.com/icon/free/png-256/video-1980268-1674035.png" alt=""
                                                                            class="img-fluid">
                                                        
                                                                    </div>
                                                                    <div class="file-name">
                                                                        <a href="/<%=file.url%>" target="_blank">
                                                                            <p class="m-b-5 text-muted"
                                                                                style="overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">
                                                                                <%=file.name%>
                                                                            </p>
                                                                        </a>
                                                                        <small>Size: <%= formatBytes(file.size)%> <span class="date text-muted">
                                                                                    <%=file.createdAt.toDateString() %>
                                                                                </span></small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% } else if(file.mimeType.includes('image') && file.mimeType.substring(6)=='png' || file.mimeType.substring(6)=='jpg' || file.mimeType.substring(6)=='jpeg'){ %>
                                                        <%image++; images += file.size %>

                                                        <div class="col-lg-3 col-md-3 col-sm-12" id="main-card">
                                                            <div class="card" id="images">
                                                                <div class="file" style="border-radius: 3px;">
                                                                    <div class="hover">
                                                                        <button onclick="copyUrl('<%=file.filename%>')" type="button" class="btn border-danger btn-sm btn-link p-1">
                                                                            <i style="color: #aaa;" class="fas fa-copy"></i>
                                                                        </button>
                                                                        <button onclick="deleteItem('<%=file._id%>')" type="button" class="btn border-danger btn-sm btn-link p-1">
                                                                            <i style="color: red;" class="fas fa-trash"></i>
                                                                        </button>
                                                                    </div>
                                                                    <span id="type" style="top: 10px;left: -8px;position:absolute;" class="badge badge-pill badge-soft-dark">Images</span>
                                                                    <div class="image">
                                                                        <img src="/<%= file.url %> "
                                                                            alt="img" class="img-fluid">
                                                                    </div>
                                                                    <div class="file-name">
                                                                        <a href="/<%=file.url%>" target="_blank">
                                                                            <p class="m-b-5 text-muted"
                                                                                style="overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">
                                                                                <%=file.name%>
                                                                            </p>
                                                                        </a>
                                                                        <small>Size: <%= formatBytes(file.size)%> <span class="date text-muted"><%=file.createdAt.toDateString() %>
                                                                                </span></small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% }else{ %> 
                                                        <%etc++; etcs += file.size %>
                                                        <div class="col-lg-3 col-md-3 col-sm-12" id="main-card">
                                                            <div class="card" id="other">
                                                                <div class="file" style="border-radius: 3px;">
                                                                    <div class="hover">
                                                                        <button onclick="copyUrl('<%=file.filename%>')" type="button" class="btn border-danger btn-sm btn-link p-1">
                                                                            <i style="color: #aaa;" class="fas fa-copy"></i>
                                                                        </button>
                                                                        <button onclick="deleteItem('<%=file._id%>')" type="button" class="btn border-danger btn-sm btn-link p-1">
                                                                            <i style="color: red;" class="fas fa-trash"></i>
                                                                        </button>
                                                                    </div>
                                                                    <span id="type" style="top: 10px;left: -8px;position:absolute;" class="badge badge-pill badge-soft-dark">Other</span>
                                                                    <div class="image">
                                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXDM04jPlRRW7KyDibROpsFFcAVZmJ8dX8XQ&usqp=CAU" alt="img" class="img-fluid">
                                                                    </div>
                                                                    
                                                                    <div class="file-name">
                                                                        <a href="/<%=file.url%>" target="_blank">
                                                                            <p class="m-b-5 text-muted" style="overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">
                                                                                <%=file.name%>
                                                                            </p>
                                                                        </a>
                                                                        <small>Size: <%= formatBytes(file.size)%> <span class="date text-muted">
                                                                                    <%=file.createdAt.toDateString() %>
                                                                                </span></small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                            <% }}) %>  
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3">
                                        <!-- Sidebar group -->
                                        <div class="sidebar-group d-print-none">
                                            <!-- Sidebar - Storage -->
                                            <div class="sidebar primary-sidebar show" id="storage">

                                                <div class="sidebar-header mt-5">
                                                    <h4>Storage Overview <small> (500 MB) </small></h4>
                                                </div>
                                                <div class="sidebar-content" tabindex="1"
                                                    style="overflow: hidden; outline: none;">
                                                    <div id="justgage_five" class="mb-3">

                                                    </div>
                                                    <div>
                                                        <div class="list-group list-group-flush mb-3">
                                                            <a href="#"
                                                                class="list-group-item px-0 d-flex align-items-center">
                                                                <div class="mr-3">
                                                                    <figure class="avatar">
                                                                        <span
                                                                            class="avatar-title bg-primary-bright text-primary rounded">
                                                                            <i class="ti-image"></i>
                                                                        </span>
                                                                    </figure>
                                                                </div>
                                                                <div class="flex-grow-1">
                                                                    <p class="mb-0">Images</p>
                                                                    <span class="small text-muted"><%= image%> Files</span>
                                                                </div>
                                                                <div>
                                                                    <h5 class="text-primary"><%= formatBytes(images) %> </h5>
                                                                </div>
                                                            </a>
                                                            <a href="#"
                                                                class="list-group-item px-0 d-flex align-items-center">
                                                                <div class="mr-3">
                                                                    <figure class="avatar">
                                                                        <span
                                                                            class="avatar-title bg-primary-bright text-primary rounded">
                                                                            <i class="ti-control-play"></i>
                                                                        </span>
                                                                    </figure>
                                                                </div>
                                                                <div class="flex-grow-1">
                                                                    <p class="mb-0">Videos</p>
                                                                    <span class="small text-muted"><%= video%> Files</span>
                                                                </div>
                                                                <div>
                                                                    <h5 class="text-primary"><%= formatBytes(videos) %></h5>
                                                                </div>
                                                            </a>
                                                            <a href="#"
                                                                class="list-group-item px-0 d-flex align-items-center">
                                                                <div class="mr-3">
                                                                    <figure class="avatar">
                                                                        <span
                                                                            class="avatar-title bg-primary-bright text-primary rounded">
                                                                            <i class="ti-files"></i>
                                                                        </span>
                                                                    </figure>
                                                                </div>
                                                                <div class="flex-grow-1">
                                                                    <p class="mb-0">PDF</p>
                                                                    <span class="small text-muted"><%= pdf%> Files</span>
                                                                </div>
                                                                <div>
                                                                    <h5 class="text-primary"><%= formatBytes(pdfs) %></h5>
                                                                </div>
                                                            </a>
                                                            <a href="#"
                                                                class="list-group-item px-0 d-flex align-items-center">
                                                                <div class="mr-3">
                                                                    <figure class="avatar">
                                                                        <span
                                                                            class="avatar-title bg-primary-bright text-primary rounded">
                                                                            <i class="ti-file"></i>
                                                                        </span>
                                                                    </figure>
                                                                </div>
                                                                <div class="flex-grow-1">
                                                                    <p class="mb-0">Other Files</p>
                                                                    <span class="small text-muted"><%= etc%> Files</span>
                                                                </div>
                                                                <div>
                                                                    <h5 class="text-primary"><%= formatBytes(etcs) %></h5>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="sidebar-footer">
                                                    <button data-toggle="modal" data-target="#exampleModal" class="btn btn-lg btn-block btn-outline-primary">
                                                        <i class="fa fa-cloud-upload mr-3"></i> Upload
                                                    </button>
                                                </div>
                                               
                                            </div>
                                            <!-- ./ Sidebar - Storage -->
                                        </div>
                                        <!-- ./ Sidebar group -->
                                    </div>

                                </div>
                                <!-- ./ Content body -->
                            </div>
                        </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Dropzone (Manage Your Digital Assets)</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- <form action="/faculty/dropzone" method="POST" enctype="multipart/form-data">
                                    <input type="file" name="file" id="file" required>
                                    <button type="submit">Done</button>
                                </form> -->
                                <div class="d-flex justify-content-center">
                                    <div class="text-dark">Selected File Name: <span class="text-primary" id="filename"></span></div>
                                </div>
                                <form action="/faculty/dropzone" method="POST" enctype="multipart/form-data">
                                    <div class="drop-zone" >
                                        <div class="icon-container">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwBRG772GLVXZgZv42fleqm5k1nHWn3vYEDA&usqp=CAU"
                                                draggable="false" class="center" alt="File Icon">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwBRG772GLVXZgZv42fleqm5k1nHWn3vYEDA&usqp=CAU"
                                                draggable="false" class="left" alt="File Icon">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwBRG772GLVXZgZv42fleqm5k1nHWn3vYEDA&usqp=CAU"
                                                draggable="false" class="right" alt="File Icon">
                                        </div>
                                        <input type="file" id="fileInput" required name="file">
                                        <div class="title">Drop your Files here or, <span id="browseBtn">browse</span></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                <script src="/js/main.js"></script>
                <script src="/js/jquery.min.js"></script>
                <script src="/js/iziToast.min.js"></script>
                <script src="/js/flashMessage.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"
                    ></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.min.js"></script>
                <script>
                    let total = 500000000;
                    let used = <%=etcs %> + <%=pdfs %> +<%=images %> + <%=videos %>
                    let percentage = ((used / total) * 100).toFixed(3)
                    <% const used1 = etcs + pdfs + images + videos %>
                    $('#totalu').text('<%=formatBytes(used1) %>') 
                    new JustGage({
                            id: 'justgage_five',
                            value: percentage,
                            minTxt: " ",
                            min: 0,
                            max: 100,
                            maxTxt: " ",
                            symbol: '%',
                            label: "Storage Usage",
                            gaugeWidthScale: 0.7,
                            counter: true,
                            relativeGaugeSize: true,
                            levelColors: ['#4c62df'],
                            gaugeColor:  '#f3f3f3',
                            valueFontColor: 'black',
                            valueFontFamily: 'Josefin Sans',
                        });
                        
                </script>
                <script>
                    $('#1,#2,#3,#4').on('click',function(){
                        $('#filterMain .active').removeClass('active')
                        $(this).addClass('active')
                        let id = $(this).attr('id')
                       let value ;
                        if(id==1){
                            value = 'images'
                        }else if(id==2){
                            value = 'videos'
                        }
                        else if(id == 3){
                            value = 'pdf'
                        }
                        else{
                            value = 'other'
                        }
                       
                        console.log(id,value)
                        $(`#storageItems #main-card`).filter(function () {
                            $(this).toggle(
                                $(this)
                                    .find('#type')
                                    .text()
                                    .toLowerCase()
                                    .indexOf(value) > -1)
                        });

                    })
                </script>
                <script>
                    const dropZone = document.querySelector(".drop-zone");
                    const fileInput = document.querySelector("#fileInput");
                    const browseBtn = document.querySelector("#browseBtn");
                    const filename = document.querySelector('#filename');

                    const bgProgress = document.querySelector(".bg-progress");
                    const progressPercent = document.querySelector("#progressPercent");
                    const progressContainer = document.querySelector(".progress-container");
                    const progressBar = document.querySelector(".progress-bar");
                    const maxAllowedSize = 10 * 1024 * 1024; //10mb


                    browseBtn.addEventListener("click", () => {
                        fileInput.click();
                    });

                    dropZone.addEventListener("drop", (e) => {
                        console.log('hi this')
                        e.preventDefault();
                        //   console.log("dropped", e.dataTransfer.files[0].name);
                        const files = e.dataTransfer.files;
                        if (files.length === 1) {
                            console.log(files)
                            $('#filename').text(files[0].name)
                            if (files[0].size < maxAllowedSize) {
                                fileInput.files = files;
                            } else {
                                iziToast.warning("Max file size is 100MB");
                            }
                        } else if (files.length > 1) {
                            showToast("You can't upload multiple files");
                        }
                        dropZone.classList.remove("dragged");
                    });

                    dropZone.addEventListener("dragover", (e) => {
                        e.preventDefault();
                        dropZone.classList.add("dragged");
                    });

                    dropZone.addEventListener("dragleave", (e) => {
                        dropZone.classList.remove("dragged");
                    });

                    // file input change and uploader
                    fileInput.addEventListener("change", () => {
                        if (fileInput.files[0].size > maxAllowedSize) {
                            showToast("Max file size is 10MB");
                            fileInput.value = ""; // reset the input
                            return;
                        }
                        if(fileInput && fileInput.files[0])
                        filename.innerHTML = fileInput.files[0].name;
                        else filename.innerHTML = '';
                    });

                    function deleteItem(id) {
                            iziToast.question({
                                overlay: true,
                                toastOnce: true,
                                id: 'question',
                                title: 'Hey',
                                message: 'Are you sure?',
                                position: 'center',
                                buttons: [
                                    ['<button><b>YES</b></button>', function (instance, toast) {
                                        fetch(`/faculty/dropzone/${id}`, {
                                            method: 'DELETE'
                                        })
                                            .then(res => res.json())
                                            .then(json => {
                                                if (json.status === 200) {
                                                    iziToast.info({
                                                        message: 'file deleted successfully'
                                                    })
                                                    location.reload(true)
                                                } else {
                                                    iziToast.error({
                                                        message: json.message
                                                    })
                                                }
                                            })
                                            .catch(err => {
                                                console.log(err)
                                            })
                                        instance.hide({ transitionOut: 'fadeOut' }, toast)
                                    }, true],
                                    ['<button>NO</button>', function (instance, toast) {
                                        instance.hide({ transitionOut: 'fadeOut' }, toast);
                                    }]
                                ]
                            });

                        }

                        function copyUrl(url){
                            const el = document.createElement('textarea');
                            el.value = location.origin + '/uploads/dropzone/' + url;
                            el.setAttribute('readonly', '');
                            el.style.position = 'absolute';
                            el.style.left = '-9999px';
                            document.body.appendChild(el);
                            el.select();
                            document.execCommand('copy');
                            document.body.removeChild(el);
                            iziToast.info({
                                message: 'Copied to clipboard'
                            });
                        }
                </script>
</body>

</html>