<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=quiz.name%></title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="stylesheet" href="/css/quizPreview.css">
    <link rel="stylesheet" href="/css/addquiz.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<style>
   html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#esquestion p{
    font-size: 2rem;
    color: rgba(228, 24, 17, 0.802);
    font-weight: 400;
}
</style>
<body>

    <%-include('../partials/config')%>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-trophy icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>Manage Quiz Details and add questions
                                    <div class="page-title-subheading">
                                        <ol class="breadcrumb" style="width: 100%;">
                                            <li class="breadcrumb-item" style="font-size: small;"><a href="/">Home</a>
                                            </li>
                                            <li class="breadcrumb-item" style="font-size: small;"><a
                                                    href="/faculty/quiz">Quiz Mania</a>
                                            </li>
                                            <li class="breadcrumb-item active" style="font-size: small;"
                                                aria-current="page">
                                                <%=quiz.name%></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                                <div class="d-inline-block">
                                    <a class="btn btn-primary" href="/faculty/quiz/preview/<%=quiz.id%>">
                                        Preview Quiz
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if(!quiz.isPublished){ %> 
                    <div class="d-flex justify-content-end">
                        <a href="/faculty/quiz/addNewQuestion/<%=quiz.id%>" class="btn btn-link bg-white"
                            style="text-decoration: none;"><i class="fas fa-plus"></i> Add Questions</a>
                    </div>
                <% } %> 
                    <div class="page-separator">
                        <div class="page-separator__text">All Questions</div>
                    </div>
                    <div class="container" style="width: 90%;">
                        <div class="row">
                            <ul id="createdQuizBox" style="width: 100%;" class=" list-group stack mb-40pt">
                                <% if(quiz.questions.length){ %>
                                <% quiz.questions.forEach((question, index) =>{%>
                                <li class="list-group-item d-flex" id="li-<%=question._id%>"
                                    style="border: 1px solid #e9edf2;">
                                    <div class="flex d-flex flex-column">
                                        <div class="card-title bold mb-4pt"><strong> Question <%= ++index  %> </strong>
                                        </div>
                                        <div style="width: 100%;"
                                            class="card-subtitle text-70 paragraph-max mt-2 mb-16pt">
                                            <%- question.text  %>
                                        </div>
                                        <div>
                                            <a data-toggle="modal" data-target="#assignQuiz" onclick="getOptions('<%=question._id%>')" type="button"
                                                class="chip chip-light d-inline-flex align-items-center"><i
                                                    class="fas fa-angle-down"></i>
                                                &nbsp;Options</a>
                                            <div class="chip chip-outline-secondary"><%= question.type %> Answer</div>

                                        </div>
                                    </div>
                                    <span class="text-muted mx-12pt">1 Point</span>
                                    <% if(!quiz.isPublished){ %>
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" data-caret="false" class="text-muted"><i
                                                class="fas fa-ellipsis-h"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a onclick="OpenEditBox('<%=question._id  %>', '<%=index %>')"
                                                class="dropdown-item">Edit
                                                Question</a>
                                            <div class="dropdown-divider"></div>
                                            <a onclick="deleteQuestion('<%= question._id %>')"
                                                class="dropdown-item text-danger">Delete
                                                Question</a>
                                        </div>
                                    </div>
                                <% } %> 
                                </li>
                                <% }) %>
                                <% }else{ %>
                                <div class="border col-12">
                                    <div class="card-body text-center">
                                        <!-- Image -->
                                        <img src="/assets/images/undraw_empty.svg" alt="..." class="img-fluid"
                                            style="max-width: 182px;">

                                        <!-- Title -->
                                        <h1>
                                            No Question available
                                        </h1>

                                        <!-- Subtitle -->
                                        <p class="text-muted">
                                            please add some &nbsp;<a style="text-decoration: none;" href="#"><b
                                                    class="text-primary">Questions</b></a> by click on add question
                                            button
                                        </p>

                                    </div>
                                </div>
                                <% } %>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- questions import modal -->
    <div class="modal" id="assignQuiz" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog"
        aria-labelledby="importStudentModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="border:4px dashed #cccccc; margin:10px;">
                        <div class="col-md-12 text-center" style="padding:20px;background-color:#f2f2f2">
                            <div class="row">
                                <div id="esquestion" class="col-sm-12 text-danger">
                                   
                                </div>
                            </div>
                            <br><br>
                            <div id="oplist" class="row">
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- questions import modal end -->

    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/inline/ckeditor.js"></script>
    <script>

         var colors = ['warning', 'success', 'primary', 'danger', 'info', 'dark']
        //initialize editor
        var NeditorUpdate;
        var initialized = 0;
        // function for scrolling down after option added
        function scrollDown() {
            $('html, body').animate({
                scrollTop: $(document).height()
            }, 'slow');
        }
        const remove = (id) => {
            $(`#${id}`).remove()
            c--;
            if (c === 0) {
                $('input[name=questionType]').attr('disabled', false)
            }
        }

        function setDatan() {
            $('#descInput').val(NeditorUpdate.getData())
        }

        function OpenEditBox(id, index) {
            if (initialized === 0) {
                initialized++;
                fetch(`/faculty/quiz/<%=quiz._id%>/questions/${id}`)
                    .then(function (res) {
                        return res.json()
                    })
                    .then(function (json) {
                        if (json.status == 404)
                            iziToast.error({
                                message: json.message
                            })
                        else if (json.status == 500)
                            iziToast.error({
                                title: json.message,
                                message: json.error
                            })
                        else if (json.status == 200) {
                            let options = '';
                            let correct;
                            let qtype;
                            if (json.question.type == 'single') {
                                json.question.choices.forEach((option, index2) => {
                                    correct = option.isCorrect ? 'checked' : '';
                                    index2++
                                    options += `
                            <li class="list-group-item mb-2" id="optionidli-">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left col-2 mr-1">
                                        <span class="card-subtitle mb-2">
                                            Options
                                        </span>
                                        <div class="custom-radio custom-control">
                                            <input type="radio" value="${index2}" name="correct"
                                                class="custom-control-input" id="correctOptionId-${index2}" ${correct}>
                                            <label class="custom-control-label" for="correctOptionId-${index2}"
                                                >Correct</label>
                                        </div>
                                    </div>
                                    <div class="widget-content-left col"
                                        style="border-left: 3px solid #7093c9;">
                                        <span class="card-subtitle mb-1">Answer</span>
                                        <input name="option-${index2}" value="${option.text}" id="optionid-${index2}"
                                            type="text"
                                            class="form-control align-middle">
                                    </div>
                                    
                                </div>
                            </div>
                        </li>
                        `;
                                })
                            }
                            else {
                                json.question.choices.forEach((option, index1) => {
                                    correct = option.isCorrect ? 'checked' : '';
                                    index1++
                                    options += `
                            <li class="list-group-item mb-2" id="optionidli-">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left col-2 mr-1">
                                        <span class="card-subtitle mb-2">
                                            Options
                                        </span>
                                        <div class="custom-checkbox custom-control">
                                            <input type="checkbox" value="${index1}" name="correct"
                                                class="custom-control-input" id="correctOptionId-${index1}" ${correct}>
                                            <label class="custom-control-label" for="correctOptionId-${index1}"
                                                >Correct</label>
                                        </div>
                                    </div>
                                    <div class="widget-content-left col"
                                        style="border-left: 3px solid #7093c9;">
                                        <span class="card-subtitle mb-1">Answer</span>
                                        <input name="option-${index1}" value="${option.text}" id="optionid-${index1}"
                                            type="text"
                                            class="form-control align-middle">
                                    </div>
                                </div>
                            </div>
                        </li>
                        `;
                                })
                            }
                            $(`#li-${id}`).after(`
                            <div id="liEdit-${json.question._id}" class="card mt-3">
                                <div class="card-header">
                                        <p class="card-title">
                                            Question ${index} (edit)
                                        </p>
                                    </div>
                                    <div class="card-body">
                                 <form class="quizUpdate" method="POST" action="/faculty/quiz/<%= quiz._id%>/updateQuestion/${json.question._id}">
                                <input type="hidden" value="${json.question.text}" id="descInput" name="questionDescription">
                                <div class="">
                                    <div class="card-header">
                                        <p class="card-title">
                                            Question breif Description (required)
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <div class="position-relative form-group">
                                            <div onkeyup="setData()" class="border" id="editor-update">${json.question.text}
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card-header">
                                        <p class="card-title">Question Type (required)</p>
                                    </div>
                                    <div class="p-1">
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <div class="inputGroup">
                                                    <input value="single" id="radio1" name="questionType" type="radio" ${json.question.type === 'single' ? 'checked' : 'disabled'} />
                                                    <label for="radio1">Single select</label>
                                                </div>
                                            </div>
                                            <div class="form-group col-6">
                                                <div class="inputGroup">
                                                    <input value="multi" id="radio2" name="questionType" type="radio" ${json.question.type === 'multi' ? 'checked' : 'disabled'} />
                                                    <label for="radio2">Multiple select </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="card-body" id="optionBox" style="background-color: #F5F5F5;">
                                        ${options}
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-end">
                                    <button class="btn btn-outline-danger" type="button" onclick="cancleU('${json.question._id}')" >Cancle</button>
                                    <button class="btn btn-outline-primary ml-2" type="submit">Update Question <i
                                            class="fas fa-arrow-right"></i></button>
                                </div>
                            </form>
                            </div>
                            </div>
                            `)
                            $(`#li-${id}`).attr('style', 'display:none !important');

                            InlineEditor
                                .create(document.querySelector('#editor-update'), {
                                    toolbar: {
                                        items: [
                                            'heading',
                                            '|',
                                            'bold',
                                            'italic',
                                            '|',
                                            'bulletedList',
                                            'numberedList',
                                            '|',
                                            'insertTable',
                                            '|',
                                            'undo',
                                            'redo'
                                        ]
                                    },
                                })
                                .then(editor => {
                                    NeditorUpdate = editor;
                                    console.log('Editor was initialized', editor);
                                })
                                .catch(err => {
                                    console.error(err.stack);
                                });
                        }
                        else
                            iziToast.error({
                                message: 'Something Went Wrong!'
                            })
                    })
                    .catch(err => console.log(err))
            } else {
                iziToast.warning({
                    title: 'editor already in use',
                    message: 'please save or close previous question to edit new question'
                })
            }
        }

        function cancleU(id) {
            $(`#li-${id}`).attr('style', 'display:flex !important');
            $(`#liEdit-${id}`).remove()
            initialized--;
        }

        const deleteQuestion = (id) => {
            iziToast.question({
                timeout: 20000,
                close: false,
                overlay: true,
                displayMode: 'once',
                id: 'question',
                zindex: 999,
                title: 'Hey',
                message: 'Are you sure about that?',
                position: 'center',
                buttons: [
                    ['<button><b>YES</b></button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                        fetch('/faculty/quiz/<%=quiz.id%>/questions/' + id, { method: 'DELETE' }).then(res => res.json()).then(json => {
                            location.reload(true)
                        }).catch(console.log)
                    }, true],
                    ['<button>NO</button>', function (instance, toast) {

                        instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                    }],
                ],
                onClosing: function (instance, toast, closedBy) {
                    console.info('Closing | closedBy: ' + closedBy);
                },
                onClosed: function (instance, toast, closedBy) {
                    console.info('Closed | closedBy: ' + closedBy);
                }
            });
        }

        const getOptions = (qid) => {
            $('#oplist').empty()
            let raw = '';
             fetch(`/faculty/quiz/<%=quiz.id%>/questions/${qid}`, { method: 'GET' })
                .then(res => res.json())
                .then(json => {
                   if(json.status === 200){
                       console.log(json)
                    $('#esquestion').html(json.question.text)   
                     json.question.choices.forEach((a,index)=>{
                        raw += `
                         <div class=" col-sm-12 col-xs-12">
                        <div class="align-items-start">
                            <div class="icon icon-shape text-white bg-${colors[index]} shadow card rounded-circle text-center" style="width: 35px; height: 35px; border: 0px; position: absolute; top: -15px; left: 2px; z-index: 100; transform: translateX(0px); opacity: 1;">
                                <strong class="mt-2">${(index +10).toString(36).toUpperCase()}</strong>
                            </div>
                        </div>
                        <label>
                            <input  type="${json.question.type === 'single' ? 'radio' : 'checkbox' }" name="multi"  class="card-input-element d-none" ${a.isCorrect ? 'checked' :''} disabled>
                            <div class="p-2 card card-body shadow d-flex flex-row justify-content-between align-items-center" style="transform: translateX(0px); opacity: 1;">
                            <p class="ml-3 mb-0">
                               ${a.text}
                                </p>
                            </div>
                        </label>
                    </div>
                        `
                    })
                    $('#oplist').append(raw)
                   }
                })
                .catch(console.log)
        }

    </script>
</body>

</html>