<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=quizAssignment.title%></title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="stylesheet" href="/css/cards.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<style>
    .amcharts-chart-div a {
        display: none !important;
    }
</style>
<body>

    <%-include('../partials/config')%>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-users icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div><%=quizAssignment.title%>
                                    <div class="page-title-subheading">
                                        <div class="d-flex justify-content-center ">
                                            View all your quiz assignment response here.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <div id="chartdiv" style="height: 70vh;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div id="chartdiv2" style="width: 100%; height: 400px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
                            <div class="card">
                                <div class="card-body">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-card mt-5 mb-4 card">
                        <div class="card-body">
                            <h5 class="card-title">Participants</h5>
                            <div class="table-responsive">
                                <table id="studenttable" class="mb-0 table-bordered table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Specialization</th>
                                            <th>Semester</th>
                                            <th>Status</th>
                                            <th>Attempted</th>
                                            <th>Correct</th>
                                            <th>Incorrect</th>
                                            <th>Time Taken</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% quizAssignmentResponses.forEach((p,i) => { %>
                                        <%if(p.isStarted){%>
                                        <tr>
                                            <th scope="row"><%=i+1 %> </th>
                                            <td><%=p.name %></td>
                                            <td><%=p.specialization %> </td>
                                            <td><%=p.semester %> </td>
                                            <td>
                                                <%if(p.end){%>
                                                <span class="badge badge-soft-success p-1 align-items-baseline">
                                                    Attempt Taken
                                                </span>
                                                <%}else{%>
                                                <span class="badge badge-soft-info p-1 align-items-baseline">
                                                    In Progress
                                                </span>
                                                <%}%>
                                            </td>
                                            <td><%=p.questionsAttempted %> </td>
                                            <td><%=p.correctQuestions %> </td>
                                            <td><%=p.inCorrectQuestions %></td>
                                            <td><%=p.duration ? p.duration + ' min' : '-' %></td>
                                            <td>
                                                <div class="d-flex">
                                                    <a data-toggle="modal" data-target="#moreinfo"
                                                        onclick="showInfo(<%=JSON.stringify(p.tabChanges)%>, <%=p.isForceQuitted %>)"
                                                        class="btn btn-link p-1 mr-2"><i
                                                            class="fas fa-exclamation-circle"></i></a>
                                                    <a href="/faculty/quizAssignments/<%=quizAssignment.id%>/<%=p._id%>"
                                                        class="btn btn-sm btn-link">View</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <%}else{ %>
                                        <tr>
                                            <th scope="row"><%=i+1 %> </th>
                                            <td><%=p.name %></td>
                                            <td><%=p.specialization %> </td>
                                            <td><%=p.semester %> </td>
                                            <td> <span class="badge badge-soft-danger p-1 align-items-baseline">Not
                                                    Attempted
                                                </span></td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td></td>
                                        </tr>
                                        <%}}); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal for more info -->
    <div class="modal fade" id="moreinfo" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog"
        aria-labelledby="importStudentModal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row" style="border:4px dashed #cccccc; margin:10px;">
                        <div class="col-md-12 text-center" style="padding:20px;background-color:#f2f2f2">
                            <div class="row">
                                <div id="esquestion" style="font-size: 1.5rem;" class="col-sm-12 text-danger">

                                </div>
                            </div>
                            <br>
                            <hr>
                            <h3 class="text-dark mb-3">Tab Changes During Quiz</h3>
                            <table id="tabdatatable" class="mb-0 table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>Duration</th>
                                    </tr>
                                </thead>
                                <tbody id="tabdata">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->

    <!-- amCharts javascript sources -->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/pie.js"></script>
    <!-- amCharts plugins -->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css">

    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js"></script>

    <script>
        var MainObj = <%-JSON.stringify(quizAssignmentResponses) %>;
        let data1 = []
        let data2 = {};
        let questions = MainObj[0].questionResponses
        let unattended = 0;
        let pass = 0;
        let fail = 0;


        questions.forEach((a, i) => {
            let obj = {}
            let correct = 1;
            let attempted = 1;
            let incorrect = 1;

            MainObj.forEach(b => {
                if (i === 0) {
                    if (!b.isStarted) {
                        unattended++
                    }
                    if (b.isStarted) {
                        if (b.totalQuestions / 2 > b.correctQuestions) {
                            fail++
                        }
                        else {
                            pass++
                        }
                    }
                }

                b.questionResponses.forEach(c => {
                    if (a.questionId === c.questionId) {
                        if (c.isAttempted && c.isCorrect) {
                            obj.Correct = correct++
                        }
                        if (c.isAttempted) {
                            obj.Attempted = attempted++
                        }
                        if (c.isAttempted && !c.isCorrect) {
                            obj.InCorrect = incorrect++
                        }
                    }
                })
            })
            obj.category = i + 1;
            data1.push(obj)
        })

        function millisToMinutesAndSeconds(millis) {
            var minutes = Math.floor(millis / 60000);
            var seconds = ((millis % 60000) / 1000).toFixed(0);
            return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
        }

        function showInfo(data, st) {
            $('#tabdatatable').DataTable().destroy()
            $('#tabdata').empty()
            $('#esquestion').text(`${st ? 'Quiz Forcefully Ended by the System' : ''}`)
            let raw = '';
            if (data.length) {
                data.forEach((element, i) => {
                    raw += `
                    <tr>
                    <td>${i + 1}</td>
                    <td>${moment(element.start).format('ddd MMM DD YYYY hh:mm:ss')}</td>
                    <td>${moment(element.end).format('ddd MMM DD YYYY hh:mm:ss')}</td>
                    <td>${millisToMinutesAndSeconds(element.timespent)} min</td>
                    </tr>
                    `
                });
                $('#tabdata').append(raw)
                $('#tabdatatable').dataTable({
                    searching: false,
                    pageLength: 10,
                    info: false,
                    scrollCollapse: true,
                })

            }

        }

        $('#studenttable').dataTable({
            searching: true,
            paging: true,
            pageLength: 50,
            info: false,
            scrollCollapse: true,
            scrollY: '50vh',
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
           
        });
    </script>
    <script>
        AmCharts.makeChart("chartdiv",
            {
                "type": "serial",
                "categoryField": "category",
                "startDuration": 1,
                "categoryAxis": {
                    "gridPosition": "start"
                },
                "logo": {
                    "disabled": true
                },
                "valueScrollbar": {
                    "enabled": true,
                    "dragIcon": "dragIconRoundSmallBlack",
                    "dragIconHeight": 15,
                    "dragIconWidth": 15,
                    "scrollbarHeight": 5
                },
                "chartScrollbar": {
                    "enabled": true,
                    "dragIcon": "dragIconRoundSmallBlack",
                    "dragIconHeight": 15,
                    "dragIconWidth": 15,
                    "graphType": "smoothedLine",
                    "scrollbarHeight": 5
                },
                "trendLines": [],
                "graphs": [
                    {
                        "balloonText": "[[title]] of [[category]]:[[value]]",
                        "bullet": "round",
                        "id": "AmGraph-1",
                        "title": "Correct",
                        "type": "smoothedLine",
                        "valueField": "Correct"
                    },
                    {
                        "balloonText": "[[title]] of [[category]]:[[value]]",
                        "bullet": "square",
                        "id": "AmGraph-2",
                        "title": "InCorrect",
                        "type": "smoothedLine",
                        "valueField": "InCorrect"
                    },
                    {
                        "balloonText": "[[title]] of [[category]]:[[value]]",
                        "bullet": "diamond",
                        "id": "AmGraph-3",
                        "title": "Attempted",
                        "type": "smoothedLine",
                        "valueField": "Attempted"
                    }
                ],
                "guides": [],
                "valueAxes": [
                    {
                        "id": "ValueAxis-1",
                        "title": "students",
                        'integersOnly': true
                    },
                    {
                        "id": "ValueAxis-2",
                        "title": 'Questions',
                    }
                ],
                "allLabels": [],
                "balloon": {},
                "legend": {
                    "enabled": true,
                    "useGraphSettings": true
                },
                "titles": [
                    {
                        "id": "Title-1",
                        "size": 15,
                        "text": "Question Wise Analysis"
                    }
                ],
                "dataProvider": data1

            }
        );

        AmCharts.makeChart("chartdiv2",
            {
                "type": "pie",
                "autoMargins": false,
                "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                "depth3D": 5,
                "innerRadius": "60%",
                "labelRadius": 10,
                "hoverAlpha": 0.77,
                "labelTickAlpha": 0.53,
                "outlineThickness": 2,
                "titleField": "category",
                "valueField": "data",
                "fontSize": 10,
                "handDrawn": true,
                "handDrawThickness": 2,
                "export": {
                    "enabled": true
                },
                "legend": {
                    "enabled": true,
                    "align": "center",
                    "markerType": "circle"
                },
                "dataProvider": [
                    {
                        "category": "Not-Attended",
                        "data": unattended
                    },
                    {
                        "category": "Pass",
                        "data": pass
                    },
                    {
                        "category": "Fail",
                        "data": fail
                    }
                ]
            }
        );

        //we can remove the am charts logo by deleteing the logo attribute from dom once it is loaded/ or you can suggest any other option if you have!!
        //css hai bro is kaam k liye
    </script>

</body>

</html>