<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=course.name%></title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="stylesheet" href="/css/academiccourse.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>

<style>
    @font-face {
        font-family: 'Feather-Icons';
        src: url('http://demo.foxthemes.net/courseplusv3.3/assets/fonts/Feather-Icons.ttf?7ncawf') format('truetype'), url('http://demo.foxthemes.net/courseplusv3.3/assets/fonts/Feather-Icons.woff?7ncawf') format('woff'), url('http://demo.foxthemes.net/courseplusv3.3/assets/fonts/Feather-Icons.svg?7ncawf#Feather-Icons') format('svg');
        font-weight: normal;
        font-style: normal;
    }


    /*! CSS Used from: Embedded */
    .headline-1-text {
        font-weight: 400;
    }

    .headline-1-text {
        font-weight: 400;
    }

    .headline-1-text {
        font-family: OpenSans, Arial, sans-serif;
    }

    .lms-WeekSingleItemDisplay {
        padding: 15px 30px;
    }

    .lms-WeekSingleItemDisplay:hover {
        background: #ededed;
    }

    .lms-WeekSingleItemDisplay .lms-WeekItemName {
        margin: 0 10px 0 0;
    }

    .headline-1-text {
        font-weight: 400;
    }

    .headline-1-text {
        font-family: OpenSans, Arial, sans-serif;
    }

    .headline-1-text {
        font-size: 14px;
        line-height: 24px;
    }


    ._ufjrdd {
        display: inline-block;
        vertical-align: middle;
        color: #363B42;
        -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        -moz-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>

<body>

    <%-include('../partials/config')%>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <div class="">
            <div class="">
                <div class="">
                    <header class="header header-transparent uk-light"
                        style=" position: relative; background-color: #3659a2 !important;"
                        uk-sticky="top:20 ; cls-active:header-sticky ; cls-inactive: uk-light">

                        <div class="container">
                            <nav uk-navbar="" class="uk-navbar">
                                <div class="uk-navbar-left">
                                    <nav id="breadcrumbs">
                                        <ul>
                                            <li><a href="#"><%=course.name%></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </nav>
                        </div>
                        <!-- container  / End -->
                    </header>
                    <div class="page-content">
                        <div class="course-details-wrapper topic-1 uk-light pt-5">
                            <div class="container p-sm-0">
                                <div uk-grid="" class="uk-grid uk-grid-stack">
                                    <div class="uk-width-2-3@m uk-first-column">
                                        <div class="course-details">
                                            <h1><%=course.name%></h1>
                                            <p><%=course.description%></p>
                                            <div class="course-details-info">
                                                <ul>
                                                    <li> Assigned by <a href="#"> <%=course.assignedByName%> </a> </li>
                                                    <li> On <%=formatDateMoment(course.createdAt)%></li>
                                                    <li> <%=viewCourse ? 'Expires on ' : 'Expired at '%>
                                                        <%=formatDateMoment(course.expiresAt)%></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <nav class="responsive-tab style-5">
                                            <ul
                                                uk-switcher="connect: #course-intro-tab ;animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium">
                                                <li class="uk-active"><a href="#" aria-expanded="false">Curriculum</a>
                                                </li>

                                            </ul>
                                        </nav>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="container">
                            <div class="uk-grid-large mt-4 uk-grid" uk-grid="">
                                <div class="uk-width-2-3@m uk-first-column">
                                    <div class="main-card mb-3 border ">
                                        <div class="card-header d-flex justify-content-between">
                                            <h5 class="card-title">Chapters in this course</h5>
                                        </div>
                                        <div class="card-body">
                                            <%  if(course.chapters.length === 0) {%>
                                            <div class="container-fluid">
                                                <article>
                                                    <div class="d-flex flex-row justify-content-center">
                                                        <img style="width: 250px;"
                                                            src="../../assets/images/undraw_empty.svg" alt="">
                                                    </div>
                                                    <br>
                                                    <div class="text-center">
                                                        <h6 class="text-muted">Not able to find any <span
                                                                class="text-danger">Chapter</span> in this Course
                                                        </h6>

                                                    </div>
                                                </article>
                                            </div>
                                            <% } else {%>
                                            <%course.chapters.forEach(chapter => {%>
                                            <div id="exampleAccordion" data-children=".item">
                                                <div class="card mb-3">
                                                    <div class="card-header d-flex justify-content-between">
                                                        <button type="button" aria-expanded="false"
                                                            aria-controls="exampleAccordion1" data-toggle="collapse"
                                                            href="#id-<%=chapter.id%>"
                                                            class="m-0 p-0 btn btn-link collapsed"><%= chapter.name %>
                                                        </button>
                                                        <svg class="_ufjrdd" viewBox="0 0 48 48" role="img"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            style="height: 22px; width: 22px; margin-right: 12px;">
                                                            <title id="Completed996db21a-9ba9-468e-b8bd-20d625b1a406">
                                                                Completed</title>
                                                            <path
                                                                d="M1 24C1 11.318375 11.318375 1 24 1s23 10.318375 23 23-10.318375 23-23 23S1 36.681625 1 24zm20.980957 4.2558594l-7.7418213-7.0596924L12 23.5592041l9.980957 9.6016846 15.2832032-16.4852295L34.9130859 14 21.980957 28.2558594z"
                                                                fill="#<%=chapter.completedAt ? '1F8354' : '808080'%>"
                                                                role="presentation">
                                                            </path>
                                                        </svg>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="item">
                                                            <div data-parent="#exampleAccordion" id="id-<%=chapter.id%>"
                                                                class="collapse" style="">
                                                                <%=chapter.completedAt ? 'Completed On ' + formatDateMoment(chapter.completedAt) : ''%>
                                                                <div class="scroll-area-md">
                                                                    <div class="scrollbar-container ps--active-y ps">
                                                                        <ul class="list-group list-group-flush border">
                                                                            <% if(chapter.lessons.length === 0) {%>
                                                                            <div class="container-fluid">
                                                                                <article>
                                                                                    <div
                                                                                        class="d-flex flex-row justify-content-center">
                                                                                        <img style="width: 250px;"
                                                                                            src="../../assets/images/undraw_empty.svg"
                                                                                            alt="">
                                                                                    </div>
                                                                                    <br>
                                                                                    <div class="text-center">
                                                                                        <h6 class="text-muted">Not able
                                                                                            to find
                                                                                            any <span
                                                                                                class="text-danger">Lesson</span>
                                                                                            in this Chapter
                                                                                        </h6>

                                                                                    </div>
                                                                                </article>
                                                                            </div>
                                                                            <% } else {%>
                                                                            <%chapter.lessons.forEach(topic => {%>
                                                                            <li class="list-group-item">
                                                                                <a class="nostyle" href="#">
                                                                                    <div class="_errb565 lms-WeekSingleItemDisplay"
                                                                                        style="display: flex; flex-direction: row;">
                                                                                        <svg class="_ufjrdd"
                                                                                            viewBox="0 0 48 48"
                                                                                            role="img"
                                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                                            style="height: 22px; width: 22px; margin-right: 12px;">
                                                                                            <title
                                                                                                id="Completed996db21a-9ba9-468e-b8bd-20d625b1a406">
                                                                                                Completed</title>
                                                                                            <path
                                                                                                d="M1 24C1 11.318375 11.318375 1 24 1s23 10.318375 23 23-10.318375 23-23 23S1 36.681625 1 24zm20.980957 4.2558594l-7.7418213-7.0596924L12 23.5592041l9.980957 9.6016846 15.2832032-16.4852295L34.9130859 14 21.980957 28.2558594z"
                                                                                                fill="#<%=topic.completedAt ? '1F8354' : '808080'%>"
                                                                                                role="presentation">
                                                                                            </path>
                                                                                        </svg>
                                                                                        <div class="_1b2lknu2">
                                                                                            <div
                                                                                                class="_y1d9czk d-flex">
                                                                                                <div class="_y1d9czk">
                                                                                                    <div
                                                                                                        class="lms-WeekItemName headline-1-text text-dark">
                                                                                                        <strong><%=topic.number%>:
                                                                                                        </strong>
                                                                                                        <%=topic.name%>
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="_1qfi0x77 lms-WeekItemAnnotations">
                                                                                                        <%=topic.duration%>
                                                                                                        min
                                                                                                    </div>
                                                                                                    <%=topic.completedAt ? 'Completed On ' + formatDateMoment(topic.completedAt) : ''%>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </li>
                                                                            <%})}%>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <%})}%>
                                        </div>
                                    </div>
                                </div>

                                <div class="uk-width-1-3@m">
                                    <div class="course-card-trailer uk-sticky uk-active uk-sticky-fixed"
                                        style=" top: 95px; width: 330px;position: relative;">
                                        <div class="course-thumbnail">
                                            <img src="/uploads/courseImages/<%=course.imageSource%>" alt="">
                                        </div>
                                        <div class="p-3">
                                            <p class="uk-text-bold"> This Course is designed for</p>
                                            <div class=" uk-grid-small uk-grid" uk-grid="">
                                                <div class="uk-grid-margin uk-first-column">
                                                    <span class="badge badge-primary">
                                                        <%=course.specializationName%>
                                                    </span>
                                                </div>
                                                <div class="uk-grid-margin">
                                                    <span class="badge badge-dark">
                                                        <strong>semester</strong>
                                                        <%=course.semester%> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-sticky-placeholder" style="height: 569px; margin: 0px;">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->
    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>

    <script>
        if (window.screen.width > 768) {
            $('.uk-sticky').css('position', 'fixed')
        }

    </script>
</body>

</html>