<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Course</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">

</head>

<body>

    <%-include('../partials/config')%>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-home icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>Course Assignment And Management
                                    <div class="page-title-subheading">
                                        <div class="d-flex">
                                            List of courses assigned to students.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="main-card mb-3 card">
                                <div class="card-body">
                                    <h5 class="card-title">assign courses to students</h5>
                                    <div class="table-responsive">
                                        <table id="students" class="mb-0 table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Full Name</th>
                                                    <th>Email</th>
                                                    <th>Semester</th>
                                                    <th>Specialization</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% const colors = ["g", "alternate", "info", "success", "primary",
                                                "warning", "dark", "secondary", "soft-link", "soft-dark", "soft-info",
                                                "soft-warning", "soft-danger", "soft-success", "soft-secondary",
                                                "soft-primary"];%>
                                                <%students.forEach((s , index) => { %>
                                                <tr>
                                                    <th scope="row"><%=index+1%></th>
                                                    <td class="text-dark"><%=s.firstName%> <%=s.lastName%></td>
                                                    <td class="text-dark"><%=s.email %></td>
                                                    <td class="text-dark"><%=s.semester %></td>
                                                    <td class="text-dark">
                                                        <span
                                                            class="badge badge-sm badge-<%=colors[s.specialization]  %>"><%=specializations[s.specialization]%></span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex">
                                                            <button class="btn btn-link"
                                                                data-target=".bd-example-modal-sm" data-toggle="modal"
                                                                onclick="CourseModal('<%=s.id%>')"><i
                                                                    class="fas fa-link"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <%  }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- login timeline modal -->
    <div class="modal bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        style="display: none;" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Assign Course to student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="scroll-area">
                        <div class="scrollbar-container" style="overflow-y: scroll;">
                            <div class="p-2">
                                <div id="loader" style="display: none;">
                                    <img style="width: 100%; height: 24rem;" src="/assets/images/loading.gif" alt="">
                                </div>
                                <div style="display: flex; flex-direction: row;">
                                    <div style="flex: 1; border-right: 3px solid gray;">
                                        <div class="card-header justify-content-center d-flex">
                                            <h5 style="font-size: 0.8rem;" class="card-heading text-center">
                                                Assigned Courses
                                            </h5>
                                        </div>

                                        <ul class="todo-list-wrapper list-group list-group-flush " id="assignedCourses">
                                        </ul>
                                    </div>
                                    <div style="flex: 1.2;">
                                        <div class="card-header justify-content-center d-flex">
                                            <h5 style="font-size: 0.8rem;" class="card-heading text-center">
                                                Available Courses
                                            </h5>
                                        </div>

                                        <ul class="todo-list-wrapper list-group list-group-flush" id="courses">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="assignSelected" style="text-decoration: none
                                                        ;" class="btn btn-link">Assign &nbsp; <i
                            class="fas fa-check"></i></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- login timeline modal end -->

    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>

        $(document).ready(function () {
            var table = $('#students').DataTable({
                searching: true,
                paging: true,
                pageLength: 50,
                info: false,
                scrollCollapse: true,
                scrollY: '60vh',
            });
        })
    </script>

    <script>
        var student
        async function CourseModal(studentId) {
            $('#loader').show()
            student = studentId
            $('#assignModalTBody').empty()
            fetch(`/spoc/assignCourse/courses/${studentId}`)
                .then(function (res) {
                    return res.json()
                })
                .then(function (json) {
                    console.log(json)
                    if (json.status == 404)
                        iziToast.error({
                            message: json.message
                        })
                    else if (json.status == 500)
                        iziToast.error({
                            title: json.message,
                            message: json.error
                        })
                    else if (json.status == 200) {
                        $('#loader').hide()
                        $('#courses').empty()
                        $('#assignedCourses').empty()
                        if (json.data.assignedCourses.length === 0) {
                            $('#assignedCourses').append(` 
                            <br>
                            <br>
                                    <div class="container-fluid">
                                        <article>
                                            <div class="d-flex flex-row justify-content-center">
                                                <img style="width: 200px;" src="../../assets/images/undraw_empty.svg"
                                                    alt="">
                                            </div>
                                            <br>
                                            <div class="d-flex justify-content-center">
                                                <h6 class="">No Course assigned to this student</h6>
                                            </div>
                                        </article>
                                    </div>`)
                        }
                        else {
                            json.data.assignedCourses.forEach(course => {
                                $('#assignedCourses').append(`
                                <li id="${course.id}" class="list-group-item mb-3"
                                    style="border: 0; cursor: pointer;">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                    ${course.name}
                                                </div>
                                                <div class="widget-subheading">
                                                    ${new Date(course.expiresAt)}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            `)
                            })
                        }

                        if (json.data.courses.length === 0) {
                            $('#courses').append(` 
                            <br>
                            <br>
                                    <div class="container-fluid">
                                        <article>
                                            <div class="d-flex flex-row justify-content-center">
                                                <img style="width: 200px;" src="../../assets/images/undraw_empty.svg"
                                                    alt="">
                                            </div>
                                            <br>
                                            <div class="d-flex justify-content-center">
                                                <h6 class="">No Course available to assign</h6>
                                            </div>
                                        </article>
                                    </div>`)
                        }
                        else {
                            json.data.courses.forEach(course => {
                                $('#courses').append(`
                                <li id="${course.id}" class="list-group-item mb-3"
                                    style="border: 0; cursor: pointer;">
                                    
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-2">
                                            <div class="custom-checkbox custom-control">
                                                <input type="checkbox" name="courseIds" value="${course.id}" />
                                            </div>
                                        </div>
                                        <div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">
                                                    ${course.name}
                                                </div>
                                                <div class="widget-subheading">Semester ${course.semester}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            `)
                            })
                        }
                    }
                    else
                        iziToast.error({
                            message: 'Something Went Wrong!'
                        })
                })
                .catch(err => console.log(err))
        }

        document.querySelector('#assignSelected').addEventListener('click', function () {
            const data = {
                courseIds: [],
                studentId: student,
                expiresAt: $('#expiresAt').val()
            }
            const courseIds = $(`input[name="courseIds"]:checked`).each(function () {
                data.courseIds.push(this.value)
            })
            if (!data.studentId)
                return
            if (data.courseIds.length == 0)
                return
            fetch('/spoc/assignCourse', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(function (res) {
                    return res.json()
                })
                .then(function (json) {
                    if (json.status === 200)
                        iziToast.success({
                            message: json.message
                        })
                    else
                        iziToast.error({
                            message: json.message || 'Something Went Wrong!'
                        })
                    CourseModal(student)
                })
                .catch(err => console.log(err))
        })


    </script>

</body>

</html>