<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Faculties</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>

<body>

    <%-include('../partials/config')%>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-chalkboard-teacher icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>All Faculties
                                    <div class="page-title-subheading">
                                        <div class="d-flex justify-content-center ">
                                            List of all the LMS registered faculties of your college.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Faculties card  -->
                        <% if(faculties.length === 0) {%>

                        <div class="border col-12">
                            <div class="card-body text-center">
                                <!-- Image -->
                                <img src="/assets/images/undraw_empty.svg" alt="..." class="img-fluid"
                                    style="max-width: 182px;">

                                <!-- Title -->
                                <h1>
                                    No Faculty available
                                </h1>

                                <!-- Subtitle -->
                                <p class="text-muted">
                                    Unable to find &nbsp;<a style="text-decoration: none;" href="#"><b
                                            class="text-primary">Faculties</b></a> associated with your college
                                </p>
                            </div>
                        </div>
                        <%} else{%>

                        <%faculties.sort((a,b) => {if(a.isHOD) return -1;if(!a.isHOD) return 1;return 0;}).forEach(faculty => {%>
                        <div class="col-sm-12 col-md-6 col-xl-4">
                            <div class="card-shadow-primary card-border mb-3 profile-responsive card">
                                <div class="dropdown-menu-header">
                                    <div class="dropdown-menu-header-inner bg-alternate">
                                        <div class="menu-header-image opacity-4 img"
                                            style="background-image: url('/uploads/userProfile/<%=faculty.profileImageSource%>');">
                                        </div>
                                        <div class="menu-header-content btn-pane-right">
                                            <div class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine">
                                                <div class="avatar-icon rounded">
                                                    <img class="img"
                                                        src="/uploads/userProfile/<%=faculty.profileImageSource%>"
                                                        alt="Faculty Profile Photo">
                                                </div>
                                            </div>
                                            <div>
                                                <h5 class="menu-header-title" style="font-size: 1rem;">
                                                    <%=faculty.firstName + ' ' + faculty.lastName%>
                                                </h5>
                                                <h6 class="menu-header-subtitle" style="font-size: 0.8rem;">
                                                    <%=faculty.email%>
                                                </h6>
                                            </div>
                                            <div class="menu-header-btn-pane">
                                                <a href="/<%= User.isHOD ? 'faculty' : 'spoc'  %>/faculties/<%=faculty.id%>"
                                                    type="button" class="btn btn-sm btn-light"><i
                                                        class="fas fa-link"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <%if(faculty.isHOD){%>
                                        <div class="d-flex">
                                            <span class="badge badge-soft-dark">
                                                HOD
                                                <i class="fas fa-arrow-right"></i>
                                            </span>
                                            <span class="badge badge-soft-danger ml-2">
                                                <%=faculty.hodSpecializationName%>
                                            </span>
                                        </div>
                                        <%}else{%>
                                        <div class="card-title d-flex justify-content-center">
                                            assigned semesters
                                        </div>
                                        <hr>
                                        <%if(faculty.assignedSemesters.length){%>
                                        <%faculty.assignedSemesters.forEach(sem => {%>
                                        <span class="badge badge-danger">
                                            <%=sem%>
                                        </span>
                                        <%})%>
                                        <%}else{%>
                                        <span class="badge badge-danger">
                                            N/A
                                        </span>
                                        <%}%>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%})}%>
                        <!-- Faculties card end -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
    <script>
        $(".img")
            .on('load', function () { console.log("image loaded correctly"); })
            .on('error', function () { console.log($(this).attr('src', '/uploads/userProfile/default-user.png')); })
            ;
    </script>
</body>

</html>