<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Wise Analysis || <%=quizAssignment.title%></title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="stylesheet" href="/css/progress.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>

<body>

    <%-include('../partials/config')%>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-users icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div><%=quizAssignment.title%>
                                    <div class="page-title-subheading">
                                        <div class="d-flex justify-content-center ">
                                            View quiz result in details here.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container mb-4 bg-white">
                        <div style="margin: 0 auto;max-width: 960px;padding: 48px 12px 24px;">
                            <h3 style="font-size: 2.125rem;line-height: 2.625rem;font-weight: bold;" class="text-dark">
                                <%= quiz.name %></h3>
                            <p
                                style="font-size: 0.75rem;line-height: 1.125rem;text-transform: uppercase;font-weight: bold;">
                                Total Points : <%=quiz.questions.length %> </p>
                            <hr>
                            <% quiz.questions.forEach((q,i) => { %>
                            <div class="mb-5 col-12">
                                <div class="d-flex justify-content-between mb-2">
                                    <div class="d-flex" style="font-size: 1rem;">
                                        <span><b><%=i + 1%>. </b>&nbsp; </span>
                                        <%- q.text %>

                                    </div>
                                    <div>
                                        <% if(quizAssignmentResponse.questionResponses[i].isAttempted){ %>
                                        <span
                                            class="badge badge-soft-<%=quizAssignmentResponse.questionResponses[i].isCorrect ? 'success' : 'danger' %>">
                                            <%=quizAssignmentResponse.questionResponses[i].isCorrect ? 'Correct' : 'InCorrect' %>
                                        </span>
                                        <% }else{ %>
                                        <span class="badge badge-soft-dark">UnAttempted</span>
                                        <% } %>
                                    </div>
                                </div>
                                <hr>
                                <% q.choices.forEach(element => {%>
                                <% if(element.isCorrect && quizAssignmentResponse.questionResponses[i].selectedOptions.includes(element._id)) { %>
                                <div class="d-flex justify-content-between pl-4">
                                    <div
                                        class="custom-<%= q.type == "single" ? 'radio': 'checkbox' %> custom-control mb-3">
                                        <input type="<%= q.type == "single" ? 'radio': 'checkbox' %>"
                                            id="exampleCustom<%=element._id %>" name="<%=q._id%>"
                                            class="custom-control-input" checked>
                                        <label class="custom-control-label text-success"
                                            for="exampleCustomRadio<%=element._id %>"><%= element.text %>
                                        </label>
                                    </div>
                                    <img src="https://img2.pngio.com/right-icon-of-flat-style-available-in-svg-png-eps-ai-icon-fonts-right-icon-png-512_512.png"
                                        width="30" height="30">

                                </div>
                                <% }else if(!element.isCorrect && quizAssignmentResponse.questionResponses[i].selectedOptions.includes(element._id)){ %>
                                <div class="d-flex justify-content-between pl-4">
                                    <div
                                        class="custom-<%= q.type == "single" ? 'radio': 'checkbox' %> custom-control mb-3">
                                        <input type="<%= q.type == "single" ? 'radio': 'checkbox' %>"
                                            id="exampleCustom<%=element._id %>" name="<%=q._id%>"
                                            class="custom-control-input" checked>
                                        <label class="custom-control-label text-danger"
                                            for="exampleCustomRadio<%=element._id %>"><%= element.text %>
                                        </label>
                                    </div>
                                    <img src="https://icon-library.com/images/wrong-icon/wrong-icon-15.jpg" width="20"
                                        height="20">
                                </div>
                                <% }else{ %>
                                <div class="d-flex justify-content-between pl-4">
                                    <div
                                        class="custom-<%= q.type == "single" ? 'radio': 'checkbox' %> custom-control mb-3">
                                        <input type="<%= q.type == "single" ? 'radio': 'checkbox' %>"
                                            id="exampleCustom<%= q.type == "single" ? 'Radio': 'Checkbox' %>"
                                            name="customRadio" class="custom-control-input">
                                        <label class="custom-control-label" for="exampleCustomRadio"><%= element.text %>
                                        </label>
                                    </div>
                                </div>
                                <% } %>
                                <% })%>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>

</body>

</html>