<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Courses</title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="stylesheet" href="/css/progress.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>


<body>

    <%-include('../partials/config')%>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-user icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div>Your Courses
                                    <div class="page-title-subheading">
                                        <div class="d-flex justify-content-center ">
                                            You are enrolled in the audit track for this course. The audit track does
                                            not include a certificate.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 border">
                        <div class="card-header card-header-tab-animation">
                            <ul class="nav nav-justified">
                                <li class="nav-item"><a data-toggle="tab" href="#tab-eg115-0" class="nav-link active">My
                                        IBM Courses</a></li>
                                <li class="nav-item"><a data-toggle="tab" href="#tab-eg115-1" class="nav-link">My
                                        Academic Courses</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-eg115-0" role="tabpanel">
                                    <div class="container">
                                        <% if(courses.length === 0) {%>
                                        <div class="container-fluid">
                                            <article>
                                                <div class="d-flex flex-row justify-content-center">
                                                    <img style="width: 250px;"
                                                        src="../../assets/images/undraw_empty.svg" alt="">
                                                </div>
                                                <br>
                                                <div class="text-center">
                                                    <h4 class="text-muted">You Don't have access to any course...!</h4>
                                                    <h4 class="text-muted">Ask your <a style="text-decoration: none;"
                                                            href="/student/college"><b class="text-primary">SPOC</b></a>
                                                        to assign you
                                                        one.
                                                    </h4>
                                                </div>
                                            </article>
                                        </div>
                                        <%} else{%>
                                        <%courses.forEach(course => {%>

                                        <div class="main-card mb-3 card col-12">
                                            <div class="card-body">
                                                <div class="lms-S12nCourseCards">
                                                    <div>
                                                        <div class="" style="min-height: 112px; margin-bottom: 0px;">
                                                            <div class="_f9somja">
                                                                <div class="_1aedxnp p-a-1 m-b-0"
                                                                    data-courselenium="CourseCard~c4C7Kpm0EemfgRICI_I3ug">
                                                                    <div class="_wtr3fd lms-CourseEnrolledCard"
                                                                        data-courselenium="CourseEnrolledCard~c4C7Kpm0EemfgRICI_I3ug">
                                                                        <div class="horizontal-box">
                                                                            <div role="button">
                                                                                <div class="_1q7na7ad m-r-1"
                                                                                    role="presentation"><img
                                                                                        src="/uploads/courseImages/<%=course.imageSource%>"
                                                                                        srcset="/uploads/courseImages/<%=course.imageSource%>"
                                                                                        class="course-logo" alt=""
                                                                                        style="max-height: 115px;">
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="lms-CourseEnrolledRunningPublicSessionCard row flex-1">
                                                                                <div
                                                                                    class="col-xs-12 col-sm-8 col-md-9">
                                                                                    <div role="button">
                                                                                        <div>
                                                                                            <h5
                                                                                                class="m-b-1 m-r-1 font-md">
                                                                                                <%=course.name%>
                                                                                            </h5>
                                                                                        </div>
                                                                                        <div>

                                                                                            <span>
                                                                                                Course Expires on
                                                                                                <%=formatDateMoment(course.expiresAt)%>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="CourseProgressInfo mt-3">
                                                                                        <span
                                                                                            class="label-text">progress</span>

                                                                                        <%
                                                                                                                const totalUnitsCount = course.units.length
                                                                                                                const incompleteCount = course.units.filter(u => u.completedAt == null).length
                                                                                                            %>

                                                                                        <div class="_10b1w5r"
                                                                                            style="height: 5px; border-radius: 4px;">
                                                                                            <div
                                                                                                class="mb-3 mt-2 progress">
                                                                                                <div class="progress-bar"
                                                                                                    role="progressbar"
                                                                                                    aria-valuenow="<%=(totalUnitsCount-incompleteCount)*100/totalUnitsCount%>"
                                                                                                    aria-valuemin="0"
                                                                                                    aria-valuemax="100"
                                                                                                    style="width: <%=(totalUnitsCount-incompleteCount)*100/totalUnitsCount%>%;">
                                                                                                    <%=((totalUnitsCount-incompleteCount)*100/totalUnitsCount).toFixed(2)%>%
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class=" CourseActionBox col-xs-12 col-sm-4 col-md-3 horizontal-box align-items-vertical-center align-items-right p-t-1 ">
                                                                                    <div
                                                                                        class="vertical-box align-items-absolute-center">
                                                                                        <a href="/student/courses/<%=course.id%>"
                                                                                            class="_7qon5ka btn
                                                                                                                        btn-primary"><span
                                                                                                class="_1lutnh9y">Preview
                                                                                            </span></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="navigation_menu" id="navigation_menu">
                                                    <ul class="navigation_tabs d-flex justify-content-around" id="navigation_tabs">
                                                        <%course.units.forEach(unit => {
                                                                            if(unit.completedAt) {%>
                                                        <li class="tab_inactive">
                                                            <div class="row">
                                                                <a class="col-12" href="#">UNIT <%=unit.unitNumber%></a>
                                                                <span class="text-muted col-12">
                                                                    <%= formatDateMoment(unit.completedAt)%>
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <%} else {%>
                                                        <li class="tab_disabled">
                                                            <a href="#">UNIT <%=unit.unitNumber%></a>
                                                        </li>
                                                        <%}
                                                                            })%>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <%})}%>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-eg115-1" role="tabpanel">
                                    <div class="container">
                                        <% if(academicCourses.length === 0) {%>
                                        <div class="container-fluid">
                                            <article>
                                                <div class="d-flex flex-row justify-content-center">
                                                    <img style="width: 250px;"
                                                        src="/assets/images/undraw_empty.svg" alt="">
                                                </div>
                                                <br>
                                                <div class="text-center">
                                                    <h4 class="text-muted">You Don't have access to any course...!</h4>
                                                    <h4 class="text-muted">Ask your <a style="text-decoration: none;"
                                                            href="/student/college"><b class="text-primary">SPOC</b></a>
                                                        to assign you
                                                        one.
                                                    </h4>
                                                </div>
                                            </article>
                                        </div>
                                        <%} else{%>
                                        <%academicCourses.forEach(course => {%>

                                        <div class="main-card mb-3 card col-12">
                                            <div class="card-body">
                                                <div class="lms-S12nCourseCards">
                                                    <div>
                                                        <div class="" style="min-height: 112px; margin-bottom: 0px;">
                                                            <div class="_f9somja">
                                                                <div class="_1aedxnp p-a-1 m-b-0"
                                                                    data-courselenium="CourseCard~c4C7Kpm0EemfgRICI_I3ug">
                                                                    <div class="_wtr3fd lms-CourseEnrolledCard"
                                                                        data-courselenium="CourseEnrolledCard~c4C7Kpm0EemfgRICI_I3ug">
                                                                        <div class="horizontal-box">
                                                                            <div role="button">
                                                                                <div class="_1q7na7ad m-r-1"
                                                                                    role="presentation"><img
                                                                                        src="/uploads/courseImages/<%=course.imageSource%>"
                                                                                        srcset="/uploads/courseImages/<%=course.imageSource%>"
                                                                                        class="course-logo" alt=""
                                                                                        style="max-height: 115px;">
                                                                                </div>
                                                                            </div>
                                                                            <div
                                                                                class="lms-CourseEnrolledRunningPublicSessionCard row flex-1">
                                                                                <div
                                                                                    class="col-xs-12 col-sm-8 col-md-9">
                                                                                    <div role="button">
                                                                                        <div>
                                                                                            <h5
                                                                                                class="m-b-1 m-r-1 font-md">
                                                                                                <%=course.name%>
                                                                                            </h5>
                                                                                        </div>
                                                                                        <div>

                                                                                            <span>
                                                                                                Course Expires on
                                                                                                <%=formatDateMoment(course.expiresAt)%>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div
                                                                                        class="CourseProgressInfo mt-3">
                                                                                        <span
                                                                                            class="label-text">progress</span>

                                                                                        <%
                                                                                                                                const totalUnitsCount = course.units.length
                                                                                                                                const incompleteCount = course.units.filter(u => u.completedAt == null).length
                                                                                                                            %>

                                                                                        <div class="_10b1w5r"
                                                                                            style="height: 5px; border-radius: 4px;">
                                                                                            <div
                                                                                                class="mb-3 mt-2 progress">
                                                                                                <div class="progress-bar"
                                                                                                    role="progressbar"
                                                                                                    aria-valuenow="<%=(totalUnitsCount-incompleteCount)*100/totalUnitsCount%>"
                                                                                                    aria-valuemin="0"
                                                                                                    aria-valuemax="100"
                                                                                                    style="width: <%=(totalUnitsCount-incompleteCount)*100/totalUnitsCount%>%;">
                                                                                                    <%=((totalUnitsCount-incompleteCount)*100/totalUnitsCount).toFixed(2)%>%
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                                <div
                                                                                    class=" CourseActionBox col-xs-12 col-sm-4 col-md-3 horizontal-box align-items-vertical-center align-items-right p-t-1 ">
                                                                                    <div
                                                                                        class="vertical-box align-items-absolute-center">
                                                                                        <a href="/student/academicCourses/<%=course.id%>"
                                                                                            class="_7qon5ka btn
                                                                                                                                        btn-primary"><span
                                                                                                class="_1lutnh9y">Preview
                                                                                            </span></a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <div class="navigation_menu" id="navigation_menu">
                                                    <ul class="navigation_tabs d-flex justify-content-around" id="navigation_tabs">
                                                        <%course.units.forEach(unit => {
                                                                                            if(unit.completedAt) {%>
                                                        <li class="tab_inactive">
                                                            <div class="row">
                                                                <a class="col-12" href="#">UNIT <%=unit.unitNumber%></a>
                                                                <span class="text-muted col-12">
                                                                    <%= formatDateMoment(unit.completedAt)%>
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <%} else {%>
                                                        <li class="tab_disabled">
                                                            <a href="#">Chapter <%=unit.unitNumber%></a>
                                                        </li>
                                                        <%}
                                                         })%>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <%})}%>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
</body>

</html>