<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=quizAssignment.title%></title>

    <link rel="stylesheet" href="/css/iziToast.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" type="image/vnd.microsoft.icon">
</head>
<style>
    * {
        outline: 0;
    }

    .quizmania-container {
        width: auto;
        max-width: 1180px;
        margin: 0 auto;
    }

    @media (max-width:1280px) {
        .quizmania-container {
            max-width: 90%;
        }
    }

    @media (max-width:1199px) {
        .quizmania-container {
            padding: 0 30px;
            max-width: 100%;
        }
    }

    @media (max-width:800px) {
        .quizmania-container {
            padding: 0 15px;
        }
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .mr-5 {
        margin-right: 5px !important;
    }

    .d-flex {
        display: flex;
    }

    .align-item-start {
        align-items: flex-start;
    }

    img[_ngcontent-d2c-frontend-c176] {
        max-width: 75px;
        max-height: 75px;
        display: block;
        margin: 0 auto;
        overflow: hidden;
        font-size: 11px;
        line-height: 12px;
    }

    img.img-large[_ngcontent-d2c-frontend-c176] {
        max-width: 118px;
        max-height: 118px;
        height: auto;
        margin: 0 auto;
    }

    @media (max-width:768px) {
        img.img-large[_ngcontent-d2c-frontend-c176] {
            max-width: 85px;
            max-height: 85px;
        }
    }

    strong {
        font-weight: 600;
    }

    .hedr {
        border-top: 4px solid #176ede;
        padding: 30px 0;
        position: relative;
        z-index: 999;
    }

    .hedr .left_sect {
        width: calc(100% - 320px);
        padding-right: 50px;
        position: relative;
    }

    .hedr .left_sect .type {
        position: absolute;
        top: -34px;
        right: 50px;
        width: 114px;
        height: 30px;
        background: #176ede;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        color: #fff;
        font-weight: 600;
        text-transform: capitalize;
    }

    .hedr .left_sect .type:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -8px;
        left: 0;
        border-left: 57px solid transparent;
        border-right: 57px solid transparent;
        border-top: 8px solid #176ede;
        right: 0;
        margin: auto;
        width: 0;
    }

    .hedr .left_sect .type img {
        width: 12px;
        margin-right: 6px;
        filter: brightness(0) invert(1);
    }

    .hedr .top_sect {
        display: flex;
        align-items: center;
    }

    .hedr .logo_sect {
        width: 130px;
        height: 130px;
        border: 1px solid #c7c7c7;
        border-radius: 8px;
        justify-content: center;
    }

    .hedr .title_sect {
        width: calc(100% - 130px);
        padding-left: 30px;
    }

    .hedr h2 {
        color: #000;
        font-size: 20px;
        line-height: 27px;
        font-weight: 600;
        margin: 0;
    }

    .hedr h3 {
        color: #176ede;
        font-size: 14px;
        line-height: 19px;
        margin: 6px 0 0;
    }

    .hedr h3 a {
        transition: .3s;
        color: inherit;
    }

    .hedr h3 a:hover {
        opacity: .65;
    }

    .hedr .date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .hedr .date div:first-child {
        display: flex;
        align-items: center;
        color: #000;
        font-size: 14px;
    }

    .hedr .date div:last-child {
        font-size: 12px;
        color: #616161;
    }

    .hedr .location {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
    }

    .hedr .btm_sect {
        display: flex;
        margin-top: 25px;
    }

    .hedr .btm_sect>div {
        display: flex;
    }

    .hedr .btm_sect strong {
        color: #000;
        font-size: 12px;
        text-transform: uppercase;
        margin-top: 6px;
        margin-right: 10px;
    }

    .hedr .btm_sect .eligibility {
        width: calc(100% - 150px);
        white-space: nowrap;
        align-items: flex-start;
    }

    .hedr .btm_sect .eligibility>div {
        display: flex;
        overflow: hidden;
        width: calc(100% - 140px);
    }

    @media (max-width:600px) {
        .hedr .btm_sect .eligibility>div {
            width: calc(100% + 15px);
            margin-right: -15px;
        }
    }

    .hedr .btm_sect .region {
        width: 150px;
        justify-content: flex-end;
        white-space: nowrap;
    }

    .hedr .btm_sect .items {
        transition: .3s;
        min-height: 37px;
    }

    .hedr .btm_sect .items div {
        font-size: 12px;
        margin-right: 10px;
        font-weight: 600;
        border: 1px solid;
        color: #176ede;
        padding: 4px 8px;
        display: inline-flex;
        border-radius: 4px;
        align-items: center;
    }

    .hedr .btm_sect .items div:last-child {
        margin-right: 0;
    }

    .hedr .btm_sect .items:hover {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .hedr .right_sect {
        width: 320px;
        border: 1.5px solid #176ede;
        box-shadow: 0 2px 10px rgba(19, 74, 159, .3);
        border-radius: 8px;
        padding: 20px;
        position: absolute;
        background: #fff;
        right: 0;
        z-index: 9999;
        top: 0;
    }

    @media (max-width:1280px) {
        .hedr .right_sect {
            position: relative !important;
        }
    }

    @media (max-width:800px) {
        .hedr .right_sect {
            border: none !important;
        }
    }

    .hedr .views {
        display: flex;
        justify-content: space-around;
    }

    .hedr .views .item {
        text-align: center;
    }

    .hedr .views .item .icon {
        height: 30px;
        display: flex;
    }

    .hedr .views .item img {
        width: 26px;
        display: block;
        margin: auto;
    }

    .hedr .views .item .text {
        margin-top: 10px;
        font-size: 20px;
        line-height: 27px;
        color: #000;
    }

    .hedr .views .item .text span {
        display: block;
        font-size: 12px;
        color: #484848;
        line-height: normal;
        margin-top: 3px;
        text-transform: capitalize;
    }

    @media (max-width:800px) {
        .hedr {
            box-shadow: none;
            padding: 0;
        }

        .hedr .d-flex {
            flex-wrap: wrap;
        }

        .hedr .left_sect {
            box-shadow: 0 2px 10px rgba(19, 74, 159, .3);
            margin: 0 -15px;
            width: calc(100% + 30px);
            padding: 20px 15px;
        }

        .hedr .logo_sect {
            width: 90px;
            height: 90px;
        }

        .hedr .logo_sect img {
            max-width: 80px;
            max-height: 80px;
        }

        .hedr .title_sect {
            width: calc(100% - 90px);
            padding-left: 15px;
        }

        .hedr h2 {
            font-size: 16px;
            line-height: 20px;
            margin-top: 10px;
        }

        .hedr .date {
            margin-top: 15px;
        }

        .hedr .date div:last-child {
            font-size: 13px;
            color: #101010;
        }

        .hedr .location {
            flex-wrap: wrap;
        }

        .hedr .btm_sect {
            flex-wrap: wrap;
            margin-top: 15px;
        }

        .hedr .btm_sect .eligibility {
            width: 100%;
            flex-wrap: wrap;
        }

        .hedr .btm_sect .region {
            width: 100%;
            justify-content: start;
            margin-top: 6px;
        }

        .hedr .btm_sect .items div {
            margin-right: 5px;
        }

        .hedr .right_sect {
            width: 100%;
            border: 0;
            margin-top: 20px;
        }
    }

    @media (max-width:1199px) {
        .hedr .left_sect .type {
            right: 20px;
            width: 32px;
            height: 25px;
        }

        .hedr .left_sect .type img {
            width: 16px;
            margin-right: 0;
        }

        .hedr .left_sect .type:after {
            border-left: 16px solid transparent;
            border-right: 16px solid transparent;
            bottom: -6px;
            border-top: 6px solid #176ede;
        }
    }

    @media only screen and (max-width:1199px) and (min-width:801px) {
        .hedr .left_sect {
            padding-right: 20px;
        }

        .hedr .title_sect {
            padding-left: 15px;
        }

        .hedr h2 {
            font-size: 18px;
            line-height: 25px;
        }

        .hedr h3 {
            font-size: 13px;
            line-height: 16px;
            margin: 3px 0 0;
        }

        .hedr .date {
            margin-top: 10px;
        }

        .hedr .date div:first-child {
            font-size: 12px;
        }
    }

    @media (max-width:800px) {
        .hedr .left_sect .type {
            top: -4px;
            right: 10px;
        }
    }

    .caps {
        text-transform: uppercase;
    }

    .inline-block {
        display: inline-block;
    }

    .hidden {
        display: none;
    }

    .align-left {
        text-align: left;
    }

    .large {
        font-size: 16px;
    }

    .smaller {
        font-size: 10px;
    }

    .dark {
        color: #46535e;
    }

    .light {
        color: #9ca3a8;
    }

    .weight-600 {
        font-weight: 600;
    }

    .less-margin-left {
        margin-left: 5px;
    }

    .less-margin-right {
        margin-right: 5px;
    }

    .smallest {
        font-size: 8px;
    }

    .challenge-card-wrapper:hover {
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        margin: 10px 0;
    }
</style>

<body>

    <%-include('../partials/config')%>

    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- header/ navbar area -->
        <%-include('../partials/header.ejs')%>
        <!-- header/navbar area end -->

        <div class="app-main">
            <!-- side bar area -->
            <%-include('../partials/sidebar.ejs')%>
            <!-- sidebar area end -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="fas fa-users icon-gradient bg-mean-fruit">
                                    </i>
                                </div>
                                <div><%=quizAssignment.title%>
                                    <div class="page-title-subheading">
                                        <div class="d-flex justify-content-center ">
                                            View all your quiz assignment details here.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="page-title-actions">
                                <% if(quizAssignment.start > Date.now()){ %>
                                <div id="countdown" class="d-inline-block">

                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="main-card mb-4">
                        <section class="blue-border hedr">
                            <div class="quizmania-container">
                                <div class="d-flex position-relative align-item-start ">
                                    <div class="left_sect ">
                                        <div class="top_sect ">
                                            <div class="logo_sect valign-wrapper ">
                                                <div class=""><img _ngcontent-d2c-frontend-c176=""
                                                        class="img-large left no-lazy "
                                                        src="/uploads/quizImages/<%= quiz.imageSource %>">

                                                </div>
                                            </div>
                                            <div class="title_sect ">
                                                <h2 class=""><%= quiz.name %> </h2>

                                                <h3 class=" text-muted "><a class="cursor-pointer ">
                                                        <%= quiz.description%> </a></h3>


                                                <div class="location mt-3  "><a class=" blue-hover loc ">
                                                        <div class="text-primary"><img alt="Add to Calendar"
                                                                src="/assets/images/calendar.svg">
                                                            <%= new Date(quizAssignment.start).toUTCString().split(' ').slice(0, 4).join(' ')%>
                                                            -
                                                            <%= new Date(quizAssignment.end).toUTCString().split(' ').slice(0, 4).join(' ')   %>
                                                        </div>
                                                    </a>


                                                </div>
                                                <div class="date  ">

                                                    <span class=""> <strong class="">Assigned
                                                            On:
                                                        </strong><%= new Date(quizAssignment.createdAt).toUTCString().split(' ').slice(0, 4).join(' ')   %></span>
                                                    <div class="web ">
                                                        <span class="badge badge-soft-light">
                                                            By Yogendra Solanki
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="btm_sect  ">
                                            <div class="eligibility  ">
                                                <div class=""><strong class="">Assignment
                                                        title: </strong>
                                                    <div class="items  ">
                                                        <div class=" blue-text ">
                                                            <%= quizAssignment.title %> </div>


                                                    </div>
                                                </div>

                                            </div>

                                            <div class="region  "><strong class="">Location
                                                    :</strong>
                                                <div class="items">
                                                    <div class=" blue-text "><img
                                                            src="https://d8it4huxumps7.cloudfront.net/images/flags/48x48/in.png"
                                                            alt="Country flag" height="15" class="mr-5 ">
                                                            <span id="location"
                                                            ></span>
                                                            
                                                        </div>
                                                </div>
                                            </div>


                                        </div>
                                         <div class="btm_sect  ">
                                            <div class="eligibility  ">
                                                <div class=""><strong class="">ISP NAME
                                                        : </strong>
                                                    <div class="items  ">
                                                        <div id="isp" class=" blue-text ">
                                                             </div>


                                                    </div>
                                                </div>

                                            </div>
                                            
                                        </div>

                                        <div class="type  "><img class="" alt="Opportunity type: competitions"
                                                src="/assets/images/competitions-white.svg"><span class=" ">
                                                QuizMania


                                            </span>


                                        </div>

                                    </div>
                                    <div class=" right_sect blue-border position-relative standalone">
                                        <% if(quizAssignment.start > Date.now()){ %>
                                        <a class="btn text-white btn-danger btn-block waves-effect waves-light"
                                            aria-disabled="true">Quiz Not Started </a>
                                        <% }else { %>
                                            <a type="submit" href="/student/quiz/play/<%=quizAssignmentResponse._id%>" class="btn btn-primary btn-block">Take Quiz</a>
                                        <% } %>
                                        <hr>
                                        <div class="views ">
                                            <div class="item  ">
                                                <div class="icon "><img alt="Remaining time"
                                                        src="/assets/images/team-size.svg" class=""></div>
                                                <div class="text ">
                                                    <%= quizAssignment.numberOfParticipants%>
                                                    <span class=" ">Participants</span>


                                                </div>
                                            </div>

                                            <div class="item  ">
                                                <div class="icon "><img alt="Remaining time"
                                                        src="https://www.midtownatlanta.org/wp-content/uploads/2019/06/istockphoto-1005214200-170667a.jpg"
                                                        class=""></div>
                                                <div class="text "> <%= quizAssignment.numberOfQuestions%>
                                                    <span class=" ">Total Questions</span>
                                                </div>
                                            </div>

                                            <div class="item ">
                                                <div class="icon "><img alt="Opportunity seen by"
                                                        src="https://cdn.iconscout.com/icon/premium/png-512-thumb/hourglass-209-486229.png"
                                                        class=""></div>
                                                <div class="text "> <%= quiz.duration %> min
                                                    <span class="">Duration</span></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="/js/main.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/iziToast.min.js"></script>
    <script src="/js/flashMessage.js"></script>
<script>
    
document.addEventListener("DOMContentLoaded", function(event) {
  if (!navigator.geolocation){
    console.log("Geolocation is not supported by your browser");
    ipLookup();
  } else {
    navigator.geolocation.getCurrentPosition(success, error);
  }
  
function success(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;
    reverseGeocodingWithGoogle(longitude, latitude)
  }
  function error() {
    console.log("Unable to retrieve your location");
  }
  function ipLookup() {
    fetch('https://extreme-ip-lookup.com/json/')
    .then( res => res.json())
    .then(response => {
        fallbackProcess(response)
    })
    .catch((data, status) => {
        console.log('We could not find your location')
    })
  }
  
function reverseGeocodingWithGoogle(latitude, longitude) {
    fetch(`https://maps.googleapis.com/maps/api/geocode/json?
      latlng=${latitude},${longitude}&key={GOOGLE_MAP_KEY}`)
    .then( res => res.json())
    .then(response => {
      processUserData(response)
    })
    .catch(status => {
      ipLookup()
    })
  }
  
function processUserData(response) {
    console.log(response.results[0].formatted_address)
  }
  
  function fallbackProcess(response) {
    $('#location').text(`${response.region}, ${response.country}`)
    $('#isp').text(response.isp)
}
  
});
</script>
    <% if(quizAssignment.start > Date.now()){ %>

    <script>
        let start = new Date('<%=quizAssignment.start%>')
        window.setInterval(function () {
            var delta = Math.abs(start - Date.now()) / 1000;

            var days = Math.floor(delta / 86400);
            delta -= days * 86400;

            var hours = Math.floor(delta / 3600) % 24;
            delta -= hours * 3600;

            var minutes = Math.floor(delta / 60) % 60;
            delta -= minutes * 60;

            var seconds = delta % 60;
            days = ('0' + days).slice(-2)
            hours = ('0' + hours).slice(-2)
            minutes = ('0' + minutes).slice(-2)
            seconds = Math.floor(seconds)
            seconds = ('0' + seconds).slice(-2)

            $('#countdown').html(`
                <div class="challenge-list-meta challenge-card-wrapper">
                    <div class="challenge-desc light">
                        <div class="date date-countdown">
                            <div id="countdown-1532227" class="countdown">
                                <div class="smaller light caps weight-600">Starts IN</div>
                                <div id="days" class="inline-block align-left">
                                    <div id="days-1" class="inline-block large weight-600 dark">${days.toString().charAt(0)}</div>
                                    <div id="days-0" class="inline-block large weight-600 dark"> ${days.toString().charAt(1)}</div>
                                    <div id="colon" class="inline-block large weight-600 dark less-margin-left less-margin-right">:</div>
                                    <div id="days-text" class="smallest light caps">Days</div>
                                </div>
                                <div id="hours" class="inline-block align-left">
                                    <div id="hours-1" class="inline-block large weight-600 dark">${hours.toString().charAt(0)}</div>
                                    <div id="hours-0" class="inline-block large weight-600 dark">${hours.toString().charAt(1)}</div>
                                    <div id="colon" class="inline-block large weight-600 dark less-margin-left less-margin-right">:</div>
                                    <div id="hours-text" class="smallest light caps">Hours</div>
                                </div>
                                <div id="minutes" class="inline-block align-left">
                                    <div id="minutes-1" class="inline-block large weight-600 dark">${minutes.toString().charAt(0)}</div>
                                    <div id="minutes-0" class="inline-block large weight-600 dark">${minutes.toString().charAt(1)}</div>
                                    <div id="colon" class="inline-block large weight-600 dark hidden">:</div>
                                    <div id="minutes-text" class="smallest light caps">Minutes</div>
                                </div>
                                <div id="seconds" class="inline-block align-left ">
                                    <div id="seconds-1" class="inline-block large weight-600 dark">${seconds.toString().charAt(0)}</div>
                                    <div id="seconds-0" class="inline-block large weight-600 dark">${seconds.toString().charAt(1)}</div>
                                    <div id="seconds-text" class="smallest light caps">Seconds</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `)
            if(seconds === '00' && minutes == '00' && hours == '00' && days == '00' ){
                setTimeout(() => {
                    window.location.reload(true)
                }, 1000)
            }
        }, 1000);

    </script>
    <% } %>


</body>

</html>